{% extends 'site/base.html.twig' %}

{% block title %}{{ report.reportHeadline }} - Highlights{% endblock %}
{% block description %}{{ report.reportExcerpt }}{% endblock %}
{% block socialAsset %}{{ absolute_url(report.videoPictureUrl) }}{% endblock %}

{% block body %}
    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('site_fixtures_index', { 'teamUrl': report.team.url }) }}">Fixtures &amp; Reports</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ report.reportHeadline }} - Highlights</li>
            </ol>
        </div>
    </nav>

    <section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>{{ report.reportHeadline }} - Highlights</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container">
        	<div class="row media-row">
                <div class="col">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" type="text/html" src="https://www.youtube.com/embed/{{ report.videoURL }}" allowfullscreen frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
            	<div class="col">
            		{{ report.videoBody|raw|nl2br }}
            	</div>
            </div>
        </div>
    </section>

{% endblock %}