@import 'login';
@import 'sidebar';

.menu-icon {
    width: 25px;
    height: 25px;
    vertical-align: text-bottom;
}

.main-nav {
    position:relative;
    z-index: 1
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}

.description-group {
	margin-bottom:20px;
}

.help-text {
    font-size: 13px;
    padding-top: 10px;
    padding-left: 15px;
}

textarea { 
	height: 350px;	
}

#player_teams {
    label {
        margin-right: 10px;
    }
    input[type=checkbox], input[type=radio] {
        margin-right: 5px;
    }
}

.shadow {
    box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}