.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #4e73df;
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
  background-size: cover;
  z-index: 0
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 5.5rem;
}


.sidebar .nav-link {
  font-weight: 500;
  color: rgba(255,255,255,.8);
  font-size: .875rem;

    i {
        font-size: 1rem;
        margin-right: .25rem;
        color: rgba(255,255,255,.3);
    }

    &:hover {
      color: #fff;
    }
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}