{% extends 'admin/sidebar.html.twig' %}

{% block title %}{{ type }} User{% endblock %}

{% block form %}
<div class="row">
    <div class="col-12">
        <h2>{{ type }} User</h2>
    </div>
</div>

<div class="card shadow">

    <div class="card-body">
        
        {{ form_start(form) }}

        <div class="form-group row">
            {{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.email) }}
                <div class="col-sm-10">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.email) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.plainpassword, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.plainpassword) }}
                <div class="col-sm-10">
                    {{ form_widget(form.plainpassword, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.plainpassword) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.firstname, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.firstname) }}
                <div class="col-sm-10">
                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.firstname) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.lastname, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.lastname) }}
                <div class="col-sm-10">
                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.lastname) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.normalroles, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.normalroles) }}
                <div class="col-sm-10">
                    {{ form_widget(form.normalroles) }}
                </div>
            {{ form_help(form.normalroles) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.active, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.active) }}
                <div class="col-sm-10">
                    {{ form_widget(form.active) }}
                </div>
            {{ form_help(form.active) }}
        </div>
        
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }}
        
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
