<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="description" content="{% block description %}The latest news from Slough Town FC. Fixtures, league table, club shop and more.{% endblock %}">
        <meta name="google-site-verification" content="NQXbM_LJ1twsLLEnAFsx2vPg-zHyNG5Qy_TW1_c9cRo" />
        <meta name="copyright" content="Slough Town FC" />
        <meta name="revisit-after" content="7 days" />
        <meta name="distribution" content="global" />
        <meta name="resource-type" content="document" />

        <meta property="og:url" content="{% block URL %}{{ url('site_homepage_index') }}{% endblock %}"/>
        <meta property="og:locale" content="en_GB" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:description" content="{{ block('description') }}" />
        <meta property="og:image" content="{% block socialAsset %}{{ absolute_url(asset('images/main/facebook_share.jpg')) }}{% endblock %}" />
        <meta property="og:site_name" content="Slough Town FC"/>

        <meta name="twitter:card" content="summary_large_image">  
        <meta name="twitter:site" content="@sloughtownfc">
        <meta name="twitter:creator" content="@sloughtownfc">
        <meta name="twitter:title" content="{{ block('title') }}"> 
        <meta name="twitter:description" content="{{ block('description') }}"> 
        <meta name="twitter:image" content="{{ block ('socialAsset') }}"> 

        <link rel="shortcut icon" href="{{ asset('images/main/icons/favicon.ico') }}" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/main/icons/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/main/icons/apple-touch-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/main/icons/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/main/icons/apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/main/icons/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/main/icons/apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/main/icons/apple-touch-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/main/icons/apple-touch-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/main/icons/apple-touch-icon-180x180.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('images/main/icons/favicon-16x16.png') }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ asset('images/main/icons/favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('images/main/icons/favicon-96x96.png') }}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ asset('images/main/icons/android-chrome-192x192.png') }}" sizes="192x192">
        <meta name="msapplication-square70x70logo" content="{{ asset('images/main/icons/smalltile.png') }}" />
        <meta name="msapplication-square150x150logo" content="{{ asset('images/main/icons/mediumtile.png') }}" />
        <meta name="msapplication-square310x310logo" content="{{ asset('images/main/icons/largetile.png') }}" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('styles/main/main.css') }}?v=1" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script type="text/javascript" src="{{ asset('js/lazysizes.min.js') }}"></script> 

        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start':
                        new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TNSMJB2');</script>
        <!-- End Google Tag Manager -->

        <script type="application/ld+json">
            {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.sloughtownfc.net",
            "name": "Slough Town FC",
            "logo": "{{ absolute_url(asset('images/main/facebook_share.jpg')) }}",
            "sameAs": [
            "https://www.twitter.com/sloughtownfc",
            "https://www.facebook.com/sloughtownfc",
            "https://www.youtube.com/user/sloughtownfc",
            "https://www.instagram.com/sloughtownfc"
            ]
            }
        </script>

        {% block head %}{% endblock %}
        
        <title>{% block title %}SloughTownFC.net{% endblock %}  |  The Official website of Slough Town FC - latest news, photos and videos</title>

    </head>

    <body>

        <div class="fluid-container">

            <header>
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-wrap">
                            <nav class="nav_desktop d-none d-xl-flex order-2 align-items-center" id="primary-nav" aria-labelledby="primary-navigation">
                                {% if app.request.get('_route') == 'site_homepage_index' %}
                                <a class="main-logo d-none d-xl-flex" ><img src="{{ asset('images/main/menu-badge.png') }}" width="100" height="100" alt="Slough Town FC" /></a>
                                {% else %}
                                <a href="{{ path('site_homepage_index') }}" class="main-logo d-none d-xl-block" ><img src="{{ asset('images/main/menu-badge.png') }}" width="100" height="100" alt="Slough Town FC" /></a>
                                {% endif %}
                                <ul class="nav">
                                    <li class="nav-item"><a href="{{ path('site_news_index') }}" class="nav-link">News</a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ path('site_teams_mens') }}"><span>STFC</span> Mens</a>
                                            <a class="dropdown-item" href="{{ path('site_teams_elite_development_squad') }}"><span>STFC</span> Elite Development Squad</a>
                                            <a class="dropdown-item" href="{{ path('site_teams_ladies') }}"><span>STFC</span> Ladies</a>
                                            <a class="dropdown-item" href="{{ path('site_teams_juniors') }}"><span>ST</span> Juniors FC</a>
                                            <a class="dropdown-item" href="{{ path('site_teams_community') }}"><span>STFC</span> Community Team</a>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a href="{{ path('site_fixtures_index', { 'teamUrl': 'mens' }) }}" class="nav-link">Fixtures &amp; Reports</a></li>
                                    <li class="nav-item"><a href="{{ path('site_tables_league', { 'teamUrl': 'mens' }) }}" class="nav-link">League Table</a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">The Academy</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ path('site_academy_index') }}">Academy Overview</a>
                                            <a class="dropdown-item" href="{{ path('site_academy_junior_academy') }}">Junior Academy (U12-U16)</a>
                                            <a class="dropdown-item" href="{{ path('site_academy_full_time_academy') }}">Full Time Academy (U17-U18)</a>
                                            <a class="dropdown-item" href="{{ path('site_academy_elite_development_squad') }}">Elite Development Squad</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">The Club</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ path('site_article_tickets') }}">Tickets &amp; Memberships</a>
                                            <a class="dropdown-item" href="{{ path('site_article_visiting-arbour-park') }}">Visiting Arbour Park</a>
                                            <a class="dropdown-item" href="{{ path('site_directions_index') }}">Directions to Arbour Park</a>
                                            <a class="dropdown-item" href="{{ path('site_article_500_club') }}">The 500 Club</a>
                                            <a class="dropdown-item" href="{{ path('site_contacts_index') }}">Contact Us</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">History</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ path('site_article_honours') }}">Club Honours</a>
                                            <a class="dropdown-item" href="{{ path('site_archive_index') }}">Historical Archive</a>
                                            <a class="dropdown-item" href="{{ path('site_fixtures_on_this_day') }}">On this day...</a>
                                            <a class="dropdown-item" href="{{ path('site_article_all_time') }}">All-time records</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">Partnerships</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ path('site_article_partnerships') }}">Become a Partner</a>
                                            <a class="dropdown-item" href="{{ path('site_article_partners') }}">Meet our Partners</a>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a href="{{ path('site_article_vanarama') }}" class="nav-link">Vanarama</a></li>
                                </ul>
                            </nav>
                            <nav class="nav d-none d-xl-flex order-1 align-items-center flex-row-reverse" id="secondary-nav" aria-labelledby="secondary-navigation">
                                <ul class="nav">
                                    <li class="nav-item"><a href="https://ticketpass.org/o/864282000/slough-town-fc/events" target="_blank" class="nav-link">Tickets</a></li>
                                    <li class="nav-item"><a href="https://macronstorecardiff.co.uk/football-clubs/slough-town" target="_blank" rel="nofollow" class="nav-link">Clubshop</a></li>
                                    <li class="nav-item"><a href="{{ path('site_arbourpark_index') }}" target="_blank" class="nav-link">Arbour Park</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <nav class="navbar nav_mobile d-block d-md-block d-xl-none">
                    {% if app.request.get('_route') == 'site_homepage_index' %}
                    <a class="navbar-brand"><img src="{{ asset('images/main/menu-badge.png') }}" width="50" height="50" alt="Slough Town FC" /></a>
                    {% else %}
                    <a class="navbar-brand" href="{{ path('site_homepage_index') }}"><img src="{{ asset('images/main/menu-badge.png') }}" width="50" height="50" alt="Slough Town FC" /></a>
                    {% endif %}
                    <a class="d-sm-none" href="http://www.thenationalleague.org.uk" target="_blank"><img src="{{ asset('images/main/sponsors/vanarama-league.png') }}" alt="The Vanarama National League South" class="mobile-league"></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="avbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar top-bar"></span>
                        <span class="icon-bar middle-bar"></span>
                        <span class="icon-bar bottom-bar"></span>				
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="{{ path('site_news_index') }}" class="nav-link">News</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('site_squad_index') }}"><span>STFC</span> First Team</a>
                                    <a class="dropdown-item" href="{{ path('site_teams_elite_development_squad') }}"><span>STFC</span> Elite Development Squad</a>
                                    <a class="dropdown-item" href="{{ path('site_teams_ladies') }}"><span>STFC</span> Ladies</a>
                                    <a class="dropdown-item" href="{{ path('site_teams_juniors') }}"><span>ST</span> Juniors FC</a>
                                    <a class="dropdown-item" href="{{ path('site_teams_community') }}"><span>STFC</span> Community Team</a>
                                </div>
                            </li>
                            <li class="nav-item"><a href="{{ path('site_fixtures_index', { 'teamUrl': 'mens' }) }}" class="nav-link">Fixtures &amp; Reports</a></li>
                            <li class="nav-item"><a href="{{ path('site_tables_league', { 'teamUrl': 'mens' }) }}" class="nav-link">League Table</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">The Academy</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('site_academy_index') }}">Academy Overview</a>
                                    <a class="dropdown-item" href="{{ path('site_academy_junior_academy') }}">Junior Academy (U12-U16)</a>
                                    <a class="dropdown-item" href="{{ path('site_academy_full_time_academy') }}">Full Time Academy (U17-U18)</a>
                                    <a class="dropdown-item" href="{{ path('site_academy_elite_development_squad') }}">Elite Development Squad</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">The Club</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('site_article_tickets') }}">Tickets &amp; Memberships</a>
                                    <a class="dropdown-item" href="{{ path('site_article_visiting-arbour-park') }}">Visiting Arbour Park</a>
                                    <a class="dropdown-item" href="{{ path('site_directions_index') }}">Directions to Arbour Park</a>
                                    <a class="dropdown-item" href="{{ path('site_article_500_club') }}">The 500 Club</a>
                                    <a class="dropdown-item" href="{{ path('site_contacts_index') }}">Contact Us</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">History</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('site_article_honours') }}">Club Honours</a>
                                    <a class="dropdown-item" href="{{ path('site_archive_index') }}">Historical Archive</a>
                                    <a class="dropdown-item" href="{{ path('site_fixtures_on_this_day') }}">On this day...</a>
                                    <a class="dropdown-item" href="{{ path('site_article_all_time') }}">All-time records</a>
                                </div>
                            </li>
                            <li class="nav-item"><a href="https://macronstorecardiff.co.uk/football-clubs/slough-town" target="_blank" rel="nofollow" class="nav-link">Clubshop</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">Partnerships</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('site_article_partnerships') }}">Become a Partner</a>
                                    <a class="dropdown-item" href="{{ path('site_article_partners') }}">Meet our Partners</a>
                                </div>
                            </li>
                            <li class="nav-item"><a href="{{ path('site_article_vanarama') }}" class="nav-link">Vanarama</a></li>
                        </ul>
                    </div>
                </nav>

            </header>

            {{ render(controller('App\\Controller\\Site\\PartialController::notificationArea')) }}

        {% block body %}{% endblock %}

        <section class="main">
            <div class="container rebels">
                <h2>Rebels</h2>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row sponsors primary-sponsors">
                    <div class="col text-center">
                        <a href="https://www.stokepark.com/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/stoke-park.png') }}" alt="Stoke Park" /></a>
                        <a href="https://www.epicriskmanagement.com/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/epic.png') }}" alt="Epic Risk Management" /></a>
                    </div>
                </div>

                <div class="row sponsors primary-sponsors">
                    <div class="col text-center">
                        <a href="https://www.verusgroup.co.uk" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/verus-group.png') }}" alt="Verus Group Ltd" /></a>
                        <a href="https://vestelinternational.com/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/vestel.png') }}" alt="Vestel Visual Solutions" /></a>
                        <a href="https://www.thameshospice.org.uk/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/thames-hospice.png') }}" alt="Thames Hospice" /></a>
                        <a href="https://www.berkeleygroup.co.uk/developments/berkshire/slough/horlicks-quarter" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/berkeley-homes.png') }}" alt="Berkeley Homes" /></a>                        
                        <a href="https://www.webrew.co.uk/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/webrew.png') }}" alt="Windsor &amp; Eton Brewery" /></a>
                        <a href="https://www.mrclutch.com/branch/slough" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/mr-clutch.png') }}" alt="Mr Clutch" /></a>
                        <a href="https://ja-fitness.co.uk/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/ja-fitness.png') }}" alt="JA Fitness" /></a>
                        <a href="https://www.gxhomeimprovements.co.uk/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/gx-home-improvements.png') }}" alt="GX Home Improvements" /></a>
                    </div>
                </div>
                <div class="row sponsors primary-sponsors">
                    <div class="col text-center">
                        <a href="https://www.sloughexpress.co.uk/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/slough-express.png') }}" alt="Slough Express" /></a>
                        <a href="https://www.wickhamhoistltd.com" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/wickham-hoist.png') }}" alt="Wickham Hoist Ltd" /></a>
                        <a href="https://www.hjnewman.co.uk/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/hj-newman.png') }}" alt="HJ Newman" /></a>
                    </div>
                </div>
                <div class="row sponsors primary-sponsors">
                    <div class="col text-center">
                        <a href="https://www.ibblaw.co.uk/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/ibblaw.png') }}" alt="IBB Law" /></a> 
                        <a href="https://www.optivity.co.uk/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/optivity.png') }}" alt="Optivity" /></a>
                        <a href="https://www.marriott.com/en-us/hotels/lonsx-moxy-slough/overview/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/moxy.png') }}" alt="Moxy Slough" /></a>
                        <a href="https://www.marriott.com/en-gb/hotels/lhrri-residence-inn-slough/overview/" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/residence-inn.png') }}" alt="Residence Inn Slough" /></a>
                        <a href="https://thamesmotorgroup.co.uk" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/thames-motor-group.png') }}" alt="Thames Motor Group" /></a>
                        <a href="http://www.sloughtownsupporterstrust.com" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/trust.png') }}" alt="Slough Town Supporters Trust" /></a>
                        <a href="http://macronstorecardiff.co.uk" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/macron.png') }}" alt="Macron" /></a>
                    </div>
                </div>
                <div class="row sponsors secondary-sponsors">
                    <div class="col text-center">
                        <a href="http://www.thenationalleague.org.uk" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/national-league.png') }}" alt="The National League" /></a>
                        <a href="https://www.vanarama.com" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/vanarama.png') }}" alt="Vanarama" /></a>  
                        <a href="https://www.newbalanceteam.co.uk" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/new-balance.png') }}" alt="New Balance" /></a> 
                        <a href="https://www.ucfb.ac.uk" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/ucfb.png') }}" alt="UCFB" /></a>     
                        <a href="https://www.nationalleaguetv.com" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/nltv.png') }}" alt="NLTV" /></a>     
                        <a href="https://www.dazn.com/en-GB/welcome" target="_blank" rel="nofollow"><img class="lazyload" data-src="{{ asset('images/main/sponsors/dazn.png') }}" alt="DAZN" /></a>        
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-8 d-none d-sm-block">
                        <nav>
                            <ul class="nav" id="footer-nav">
                                <li class="nav-item"><a href="{{ path('site_news_index') }}" class="nav-link">News</a></li>
                                <li class="nav-item"><a href="{{ path('site_fixtures_index', { 'teamUrl': 'mens' }) }}" class="nav-link">Reports</a></li>
                                <li class="nav-item"><a href="{{ path('site_directions_index') }}" class="nav-link">Directions</a></li>
                                <li class="nav-item"><a href="{{ path('site_article_partnerships') }}" class="nav-link">Partnerships</a></li>
                                <li class="nav-item"><a href="https://macronstorecardiff.co.uk/football-clubs/slough-town" target="_blank" rel="nofollow"  class="nav-link">Clubshop</a></li>
                                <li class="nav-item"><a href="{{ path('site_contacts_index') }}" class="nav-link">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-12 col-sm-4">
                        <nav>
                            <ul class="nav justify-content-center justify-content-sm-end">
                                <li class="nav-item"><a href="https://www.facebook.com/sloughtownfc" class="social facebook" target="_blank"></a></li>
                                <li class="nav-item"><a href="https://twitter.com/sloughtownfc" class="social twitter" target="_blank"></a></li>
                                <li class="nav-item"><a href="https://www.youtube.com/sloughtownfc" class="social youtube" target="_blank"></a></li>
                                <li class="nav-item"><a href="https://www.instagram.com/sloughtownfc" class="social instagram" target="_blank"></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
        <div class="terms">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <nav aria-labelledby="footer-navigation">
                            <ul class="nav justify-content-center justify-content-sm-start">
                                <li class="nav-item"><a href="{{ path('site_article_privacy_policy') }}" class="nav-link">Privacy Policy</a></li>
                                <li class="nav-item"><a href="{{ path('site_article_terms_of_use') }}" class="nav-link">Terms of use</a></li>
                                <li class="nav-item"><a href="{{ path('site_article_cookie_policy') }}" class="nav-link">Cookie Policy</a></li>
                                <li class="nav-item"><a href="{{ path('site_article_social_guidelines') }}" class="nav-link">Social Guidlines</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-12 col-md-6 text-center text-md-right">
                        <p>Slough Town FC is not responsible for content produced on external websites | Copyright Slough Town FC {{ 'now'|date('Y') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('js/get-leaguetable-home.js') }}"></script> 
    <!--script type="text/javascript" src="{{ asset('js/get-rss.js') }}"></script--> 
    {% block bottom_scripts %} {% endblock %} 
</body>
</html>