{% extends 'admin/sidebar.html.twig' %}

{% block title %}{{ type }} Fixture {% endblock %}

{% block form %}
    <div class="row">
        <div class="col-12">
            <h2>{{ type }} Fixture</h2>
        </div>
    </div>

    {{ form_start(form) }}

    <!-- fixture -->

    <div class="accordion shadow" id="accordionExample" style="margin-bottom:1rem;">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-calendar-alt"></i> Fixture
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="form-group row">
                        {{ form_label(form.team, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.team) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.team, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.team) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.matchDate, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.matchDate) }}
                        <div class="col-sm-5 mb-2 mb-sm-0">
                            <div class="input-group date datepicker" id="matchdatepicker" data-target-input="nearest">
                                {{ form_widget(form.matchDate, {'attr': {'class': 'form-control datetimepicker-input', 'data-target': '#matchdatepicker'} }) }}
                                <div class="input-group-append" data-target="#matchdatepicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        {{ form_help(form.matchDate) }}
                        {{ form_errors(form.kickoff) }}
                        <div class="col-sm-5">
                            <div class="input-group date timepicker" id="kickofftimepicker" data-target-input="nearest">
                                {{ form_widget(form.kickoff, {'attr': {'class': 'form-control datetimepicker-input', 'data-target': '#kickofftimepicker'} }) }}
                                <div class="input-group-append" data-target="#kickofftimepicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                </div>
                            </div>
                        </div>
                        {{ form_help(form.kickoff) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.competition, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.competition) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.competition, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.competition) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.opposition, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.opposition) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.opposition, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.opposition) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.isHome, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.isHome) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.isHome) }}
                        </div>
                        {{ form_help(form.isHome) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.matchSponsor, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.matchSponsor) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.matchSponsor, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.matchSponsor) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.ballSponsor, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.ballSponsor) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.ballSponsor, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.ballSponsor) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.notification, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.notification) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.notification, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.notification) }}
                    </div>
                    
                    <div class="form-group row">
                        {{ form_label(form.ticketsUrl, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.ticketsUrl) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.ticketsUrl, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.ticketsUrl) }}
                    </div>
                    
                    <div class="form-group row">
                        {{ form_label(form.liveStreamId, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.liveStreamId) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.liveStreamId, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.liveStreamId) }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Report -->

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fas fa-file-alt"></i> Report
                    </button>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="form-group row">
                        {{ form_label(form.reportAuthor, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportAuthor) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportAuthor, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportAuthor) }}
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            {{ form_label(form.reportPictureUrl, null, {'label_attr': {'class': 'col-form-label'} }) }}
                            <button type="button" class="btn btn-primary btn-sm btn-image-gallery" data-url="{{ path('admin_gallery_list') }}" data-target-id="{{ form.reportPictureUrl.vars.id }}">Pick</button>             
                            {{ form_errors(form.reportPictureUrl) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.reportPictureUrl, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportPictureUrl) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportHomeScore, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportHomeScore) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportHomeScore, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportHomeScore) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportAwayScore, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportAwayScore) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportAwayScore, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportAwayScore) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportHomeScorers, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportHomeScorers) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportHomeScorers, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportHomeScorers) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportAwayScorers, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportAwayScorers) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportAwayScorers, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportAwayScorers) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportExtraTime, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportExtraTime) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportExtraTime) }}
                        </div>
                        {{ form_help(form.reportExtraTime) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportAttendance, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportAttendance) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportAttendance, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportAttendance) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportHeadline, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportHeadline) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportHeadline, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportHeadline) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportExcerpt, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportExcerpt) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportExcerpt, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportExcerpt) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportBody, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportBody) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportBody, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportBody) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportFriendlyTeam, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportFriendlyTeam) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportFriendlyTeam, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportFriendlyTeam) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportMom, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportMom) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportMom, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportMom) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportAwayTeam, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportAwayTeam) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportAwayTeam, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportAwayTeam) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportFlickrUrl, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportFlickrUrl) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportFlickrUrl, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.reportFlickrUrl) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.reportPublished, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.reportPublished) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.reportPublished) }}
                        </div>
                        {{ form_help(form.reportPublished) }}
                    </div>

                </div>
            </div>
        </div>

        <!-- Manager note -->

        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="fas fa-comment-dots"></i> Manager Note
                    </button>
                </h5>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="form-group row">
                        {{ form_label(form.managerNoteAuthor, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.managerNoteAuthor) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.managerNoteAuthor, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.managerNoteAuthor) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.managerNoteHeadline, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.managerNoteHeadline) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.managerNoteHeadline, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.managerNoteHeadline) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.managerNoteExcerpt, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.managerNoteExcerpt) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.managerNoteExcerpt, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.managerNoteExcerpt) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.managerNoteBody, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.managerNoteBody) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.managerNoteBody, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.managerNoteBody) }}
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            {{ form_label(form.managerNotePictureUrl, null, {'label_attr': {'class': 'col-form-label'} }) }}
                            <button type="button" class="btn btn-primary btn-sm btn-image-gallery" data-url="{{ path('admin_gallery_list') }}" data-target-id="{{ form.managerNotePictureUrl.vars.id }}">Pick</button>             
                            {{ form_errors(form.managerNotePictureUrl) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.managerNotePictureUrl, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.managerNotePictureUrl) }}
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            {{ form_label(form.managerNotePictureThumbnailUrl, null, {'label_attr': {'class': 'col-form-label'} }) }}
                            <button type="button" class="btn btn-primary btn-sm btn-image-gallery" data-url="{{ path('admin_gallery_list') }}" data-target-id="{{ form.managerNotePictureThumbnailUrl.vars.id }}">Pick</button>             
                            {{ form_errors(form.managerNotePictureThumbnailUrl) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.managerNotePictureThumbnailUrl, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.managerNotePictureThumbnailUrl) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.managerNoteCaption, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.managerNoteCaption) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.managerNoteCaption, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.managerNoteCaption) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.managerNoteQuote, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.managerNoteQuote) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.managerNoteQuote, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.managerNoteQuote) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.managerNoteQuoteCredit, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.managerNoteQuoteCredit) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.managerNoteQuoteCredit, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.managerNoteQuoteCredit) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.managerNotePublished, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.managerNotePublished) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.managerNotePublished) }}
                        </div>
                        {{ form_help(form.managerNotePublished) }}
                    </div>

                </div>
            </div>
        </div>

        <!-- Coach -->

        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="fas fa-map-marker"></i> Coach Details
                    </button>
                </h5>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="form-group row">
                        {{ form_label(form.coachDeparts, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.coachDeparts) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.coachDeparts, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.coachDeparts) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.coachAdultPrice, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.coachAdultPrice) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.coachAdultPrice, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.coachAdultPrice) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.coachReducedPrice, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.coachReducedPrice) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.coachReducedPrice, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.coachReducedPrice) }}
                    </div>

                </div>
            </div>
        </div>

        <!-- video -->

        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <i class="fas fa-video"></i> Video
                    </button>
                </h5>
            </div>

            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="form-group row">
                        {{ form_label(form.videoAuthor, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.videoAuthor) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.videoAuthor, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.videoAuthor) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.videoHeadline, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.videoHeadline) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.videoHeadline, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.videoHeadline) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.videoExcerpt, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.videoExcerpt) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.videoExcerpt, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.videoExcerpt) }}
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            {{ form_label(form.videoPictureUrl, null, {'label_attr': {'class': 'col-form-label'} }) }}
                            <button type="button" class="btn btn-primary btn-sm btn-image-gallery" data-url="{{ path('admin_gallery_list') }}" data-target-id="{{ form.videoPictureUrl.vars.id }}">Pick</button>             
                            {{ form_errors(form.videoPictureUrl) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.videoPictureUrl, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.videoPictureUrl) }}
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            {{ form_label(form.videoPictureThumbnailUrl, null, {'label_attr': {'class': 'col-form-label'} }) }}
                            <button type="button" class="btn btn-primary btn-sm btn-image-gallery" data-url="{{ path('admin_gallery_list') }}" data-target-id="{{ form.videoPictureThumbnailUrl.vars.id }}">Pick</button>             
                            {{ form_errors(form.videoPictureThumbnailUrl) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.videoPictureThumbnailUrl, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.videoPictureThumbnailUrl) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.videoUrl, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.videoUrl) }}
                        <div class="col-sm-10 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">https://youtube.com/</span>
                            </div>
                            {{ form_widget(form.videoUrl, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.videoUrl) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.videoBody, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.videoBody) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.videoBody, {'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_help(form.videoBody) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(form.videoPublished, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.videoPublished) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.videoPublished) }}
                        </div>
                        {{ form_help(form.videoPublished) }}
                    </div>

                </div>
            </div>
        </div>

    </div>

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }}

    {{ form_end(form) }}
</div>
<script type="text/javascript" src="{{ asset('js/image-gallery.js') }}"></script> 
{% endblock %}
