{% extends 'admin/sidebar.html.twig' %}

{% block title %}View Fixture{% endblock %}

{% block form %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_default_index', { 'teamUrl': teamUrl }) }}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_fixture_index', { 'teamUrl': teamUrl }) }}">Fixture</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ fixture.matchDate|date('Y-m-d') }}</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12">
            <h2>{{ fixture.matchDate|date('Y-m-d') }}</h2>
        </div>
    </div>

    {#
    
    fixture.team
    fixture.matchDate
    fixture.isHome
    fixture.kickoff
    fixture.matchSponsor
    fixture.ballSponsor
    fixture.reportAuthor
    fixture.reportPictureUrl
    fixture.reportHomeScore
    fixture.reportAwayScore
    fixture.reportHomeScorers
    fixture.reportAwayScorers
    fixture.reportExtraTime
    fixture.reportAttendance
    fixture.reportHeadline
    fixture.reportExcerpt
    fixture.reportBody
    fixture.reportFriendlyTeam
    fixture.reportMom
    fixture.reportAwayTeam
    fixture.reportFlickrUrl
    fixture.reportPublished
    fixture.managerNoteAuthor
    fixture.managerNoteHeadline
    fixture.managerNoteExcerpt
    fixture.managerNoteBody
    fixture.managerNotePictureUrl
    fixture.managerNotePictureThumbnailUrl
    fixture.managerNoteCaption
    fixture.managerNoteQuote
    fixture.managerNoteQuoteCredit
    fixture.managerNotePublished
    fixture.coachDeparts
    fixture.coachAdultPrice
    fixture.coachReducedPrice
    fixture.videoAuthor
    fixture.videoPictureUrl
    fixture.videoPictureThumbnailUrl
    fixture.videoUrl
    fixture.videoBody
    fixture.competition
    fixture.opposition
    
    #}

</div>
{% endblock %}
