{% extends 'admin/sidebar.html.twig' %}

{% block title %}Match stats{% endblock %}

{% block form %}
<div class="row">
    <div class="col-12">
        <h2>Match Stats</h2>
    </div>
</div>

<div class="card shadow">

    <div class="card-body">

        {{ form_start(form) }}

        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr class="table-light">
                        <th>Shirt</th>
                        <th>Player</th>
                        <th>Goals</th>
                        <th>Cards</th>
                        <th>On/Off</th>
                        <th>Appearance?</th>
                        <th>Injured?</th>
                    </tr>
                </thead>
                <tbody>
                {% for stats in form.stats %}
                    <tr>
                        <th scope="row">{{ form_widget(stats.shirt, {'attr': {'class': 'form-control'} }) }}</th>
                        <td>{{ form_widget(stats.player, {'attr': {'class': 'form-control'} }) }}</td>
                        <td>{{ form_widget(stats.goals, {'attr': {'class': 'form-control'} }) }}</td>
                        <td>{{ form_widget(stats.bookings, {'attr': {'class': 'form-control'} }) }}</td>
                        <td>{{ form_widget(stats.sub_shirt, {'attr': {'class': 'form-control'} }) }}</td>
                        <td>{{ form_widget(stats.appearance) }}</td>
                        <td>{{ form_widget(stats.injured) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }}
            
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
