{% extends 'site/base.html.twig' %}

{% block title %}Database{% endblock %}

{% block body %}
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "{{ url('site_homepage_index') }}"
        },{
        "@type": "ListItem",
        "position": 2,
        "name": "Historical Archive",
        "item": "{{ url('site_archive_index') }}"
        }]
        }
    </script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Historical Archive</li>
            </ol>
        </div>
    </nav>

    <section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Historical Archive</h1>
                    <p>Search the Slough Town FC historical archive for players as well as previously played opposition.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container database">
            <div class="row">
                <form class="col-md-8 mx-auto">
                    <div class="input-group">
                      <input type="text" class="form-control" name="query" id="query" placeholder="Start typing to search" autocomplete="off" minlength="3" aria-label="Search Database">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-primary">
                                <i class="fa fa-search"></i>
                            </button>
                      </div>
                    </div>
                </form>
            </div>
            {% if results is not empty %}
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h2>Player Results</h2>

                        {% if results.players is not empty %}
                            <ul class="list-group list-group-flush">
                                {% for player in results.players %}
                                    <li class="list-group-item"><a href="{{ namepath('site_profile_index', { 'id': player.id, 'name': player.name|replace({' ': '-'}) }) }}" class="btn btn-link">{{ player.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No players found.</p>
                        {% endif %}
                    </div>

                    <div class="col-12 col-md-6">
                        <h2>Opposition Results</h2>

                        {% if results.oppositions is not empty %}
                            <ul class="list-group list-group-flush">
                                {% for opposition in results.oppositions %}
                                    <li class="list-group-item"><a href="{{ namepath('site_opposition_index', { 'id': opposition.id, 'name': opposition.name|replace({' ': '-'}) }) }}" class="btn btn-link">{{ opposition.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No opposition found.</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}