{% extends 'site/base.html.twig' %}

{% block title %}Contact Slough Town FC{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Contact Slough Town FC",
    "item": "{{ url('site_contacts_index') }}"
   }]
}
</script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact Slough Town FC</li>
            </ol>
        </div>
    </nav>

    <section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Contact Slough Town FC</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">
            <div class="row">
                <div class="col">

                    {% if not showForm %}
                    <div class="alert alert-success" role="alert">
                      <h3>Thank you for contacting Slough Town Football Club.</h3>
                      We have received your enquiry and will respond to you within 48 hours. For more urgent enquiries please you use the contacts numbers below.
                    </div>
                    {% endif %}

                    <h2>Contact Us</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <p><span>Chairman</span><br>Mike Lightfoot</p>

                    <p><span>CEO</span><br>Ashley Smith</p>

                    <p><span>Directors</span><br>Mike Lightfoot, Kay Lathey, Ashley Smith, Simon Doyle &amp; Tristan Heywood</p>

                    <p><span>Non-Executive Directors</span><br>Matt Riches</p>

                    <p><span>Commercial Director</span><br>Steve Doyle</p>

                    <p><span>Head of Operations</span><br>Kay Lathey</p>

                    <p><span>Slough Town FC Community CIC Chairman</span><br>Adrian Gomm</p>

                    <p><span>Head of Media &amp; Communication</span><br>Matt Webb &amp; Tom Gathern</p>

                    <p><span>Matchday Secretary</span><br>Mark Hunter</p>

                    <p><span>Fixture Secretary</span><br>Tony Randall</p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p><span>Club Photographer</span><br>George Beck</p>

                    <p><span>Club Match Filming</span><br>FCVideo</p>

                    <p><span>Programme Design</span><br>FootiePrint</p>

                    <p><span>Programme Editor</span><br>Steve Chapman</p>

                    <p><span>Safety Officer</span><br>Steve Osgood</p>

                    <p><span>Club Shop Manager</span><br>Sue Shiel</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>Slough Town Football Club is owned by STFC (23) Ltd. Company No: 14588720. Registered Office: 32 High Street, Wendover, Bucks, United Kingdom, HP22 6EA. Directors with a significant interest in the club are Ashley Smith, Simon Doyle & Tristan Heywood.</p>

                    <p>If you are looking to find directions to the club, please <a href="{{ path('site_directions_index') }}" class="btn btn-link">click here</a>. Ticketing & Admission information can be found <a href="{{ path('site_article_tickets') }}" class="btn btn-link">here</a>. Please note the Arbour Park <a href="{{ path('site_article_groundregs') }}" class="btn btn-link">ground regulations</a>.</p>

                    <p>Please direct correspondance to Kay Lathey via phone 07792 126124 or email: <a href="mailto:gensec@sloughtownfc.net" class="btn btn-link">gensec@sloughtownfc.net</a>.</p>
                </div>
            </div>

            {% if showForm %}
            <div class="row form">
                <div class="col-sm-12 col-md-8 mt-3">
                    <h2>Message Slough Town FC</h2>

                    <p>Use our contact form to send a message to different departments of Slough Town FC. Messages will be responded to in 24-48 hours.</p>

                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.name) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.returnEmail, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.returnEmail) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.returnEmail, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.returnEmail) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.contact, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.contact) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.contact, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.contact) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.subject, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.subject) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.subject, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.subject) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.body, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.body) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.body, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.body) }}
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="g-recaptcha" data-sitekey="6LerKIIUAAAAAIXsNTlU8LGmk2cglt_a4qePvSac"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        {% if recaptchaError %}
                        <div class="col-sm-10">
                            <div class="alert alert-danger" role="alert">
                                Please ensure you have completed the reCAPTCHA.
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                         <div class="col-sm-10">
                            {{ form_widget(form.save, {'label': 'Send message', 'attr': {'class': 'btn btn-primary'} }) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>

{% endblock %}