{% extends 'site/base.html.twig' %}

{% block title %}{{ opposition.name }}{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Historical Archive",
    "item": "{{ url('site_archive_index') }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "{{ opposition.name }}",
    "item": "{{ nameurl('site_opposition_index', { id: opposition.id, 'name': opposition.urlname }) }}"
   }]
}
</script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('site_archive_index') }}">Historical Archive</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ opposition.name }}</li>
            </ol>
        </div>
    </nav>

    <section class="title">
        <div class="container">
            <div class="row align-items-center">
            	<!--div class="col">
            		<img src="{{ opposition.logo }}" width="100" height="100" alt="{{ opposition.name }}" />
            	</div-->
                <div class="col">
                    <h1>{{ opposition.name }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container opposition">

        	<div class="row">
        		<div class="col">
        			<h2>Total</h2>
        			<div class="table-responsive">
        				<table class="table table-sm">
	        				<thead>
	                            <tr class="table-light">
	                                <th scope="col" class="text-center">Played</th>
	                                <th scope="col" class="text-center">Wins</th>
	                                <th scope="col" class="text-center">Draws</th>
	                                <th scope="col" class="text-center">Losses</th>
	                                <th scope="col" class="text-center">Scored</th>
	                                <th scope="col" class="text-center">Conceded</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                        	<tr>
	                                <th scope="row" class="text-center">{{ statistics.home_played + statistics.away_played }}</th>
	                                <td class="text-center">{{ statistics.home_win + statistics.away_win }}</td>
	                                <td class="text-center">{{ statistics.home_draw + statistics.away_draw }}</td>
	                                <td class="text-center">{{ statistics.home_loss + statistics.away_loss }}</td>
	                                <td class="text-center">{{ statistics.home_scored + statistics.away_scored }}</td>
	                                <td class="text-center">{{ statistics.home_conceded + statistics.away_conceded }}</td>
	                            </tr>
	                        </tbody>
	                    </table>
        			</div>
        		</div>

        		<div class="col">
        			<h2>Home</h2>
        			<div class="table-responsive">
        				<table class="table table-sm">
	        				<thead>
	                            <tr class="table-light">
	                                <th scope="col" class="text-center">Played</th>
	                                <th scope="col" class="text-center">Wins</th>
	                                <th scope="col" class="text-center">Draws</th>
	                                <th scope="col" class="text-center">Losses</th>
	                                <th scope="col" class="text-center">Scored</th>
	                                <th scope="col" class="text-center">Conceded</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                        	<tr>
	                                <th scope="row" class="text-center">{{ statistics.home_played }}</th>
	                                <td class="text-center">{{ statistics.home_win }}</td>
	                                <td class="text-center">{{ statistics.home_draw }}</td>
	                                <td class="text-center">{{ statistics.home_loss }}</td>
	                                <td class="text-center">{{ statistics.home_scored }}</td>
	                                <td class="text-center">{{ statistics.home_conceded }}</td>
	                            </tr>
	                        </tbody>
	                    </table>
        			</div>
        		</div>

        		<div class="col">
        			<h2>Away</h2>
        			<div class="table-responsive">
        				<table class="table table-sm">
	        				<thead>
	                            <tr class="table-light">
	                                <th scope="col" class="text-center">Played</th>
	                                <th scope="col" class="text-center">Wins</th>
	                                <th scope="col" class="text-center">Draws</th>
	                                <th scope="col" class="text-center">Losses</th>
	                                <th scope="col" class="text-center">Scored</th>
	                                <th scope="col" class="text-center">Conceded</th>
	                            </tr>
	                            </thead>
	                        <tbody>
	                        	<tr>
	                                <th scope="row" class="text-center">{{ statistics.away_played }}</th>
	                                <td class="text-center">{{ statistics.away_win }}</td>
	                                <td class="text-center">{{ statistics.away_draw }}</td>
	                                <td class="text-center">{{ statistics.away_loss }}</td>
	                                <td class="text-center">{{ statistics.away_scored }}</td>
	                                <td class="text-center">{{ statistics.away_conceded }}</td>
	                            </tr>
	                        </tbody>
	                    </table>
        			</div>
        		</div>
        	</div>

            <div class="row">
                <div class="col">
                    <h2>Historic Results</h2>

                    <div class="table-responsive">

                        <table class="table table-sm">
                            <thead>
                                <tr class="table-light">
                                    <th scope="col" class="text-center">Match Date</th>
                                    <th scope="col" class="text-center">Home</th>
                                    <th scope="col" class="text-center">Score</th>
                                    <th scope="col" class="text-center">Away</th>
                                    <th scope="col" class="text-center">Competition</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for fixture in opposition.fixtures %}
                                {% if fixture.isHome %}
                                    {% set home, away = 'Slough Town', fixture.opposition.name %}
                                {% else %}
                                    {% set home, away = fixture.opposition.name, 'Slough Town' %}
                                {% endif %}
                                <tr>
                                    <th scope="row" class="text-center">{{ fixture.matchDate|date('d-m-Y') }}</th>
                                    <td class="text-center">{{ home }}</td>
                                    <td class="text-center">{{ fixture.reportHomeScore }}-{{ fixture.reportAwayScore }}</td>
                                    <td class="text-center">{{ away }}</td>
                                    <td class="text-center">{{ fixture.competition.name }}</td>
                                    <td class="text-center"><a href="{{ path('site_reports_index', { id: fixture.id }) }}" class="btn btn-link">Match report</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>    
        </div>
    </section>
                            
{% endblock %}