/* Fonts */
@font-face {
  font-family: 'FrutigerLT-BlackCn';
  src: url("fonts/FrutigerLT-BlackCn.eot?#iefix") format("embedded-opentype"), url("fonts/FrutigerLT-BlackCn.woff") format("woff"), url("fonts/FrutigerLT-BlackCn.ttf") format("truetype"), url("fonts/FrutigerLT-BlackCn.svg#FrutigerLT-BlackCn") format("svg");
  font-display: block;
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FrutigerLT-LightCn';
  src: url("fonts/FrutigerLT-LightCn.eot?#iefix") format("embedded-opentype"), url("fonts/FrutigerLT-LightCn.woff") format("woff"), url("fonts/FrutigerLT-LightCn.ttf") format("truetype"), url("fonts/FrutigerLT-LightCn.svg#FrutigerLT-LightCn") format("svg");
  font-display: block;
  font-weight: normal;
  font-style: normal; }

h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.5rem; }

h1, h2, h3, h4, h5 {
  font-family: "FrutigerLT-BlackCn";
  text-transform: uppercase; }

span {
  font-family: "FrutigerLT-LightCn"; }

p {
  font-size: 0.9rem;
  color: #464646; }
  p span {
    font-family: "FrutigerLT-BlackCn"; }

li {
  font-size: 0.9rem;
  color: #464646; }
  li span {
    font-family: "FrutigerLT-BlackCn"; }

address span {
  font-family: "FrutigerLT-BlackCn"; }

.btn-link {
  color: #000c34;
  padding: 0; }
  .btn-link:hover {
    color: #efaf12;
    text-decoration: none; }
  .btn-link.external {
    margin-bottom: 10px;
    padding-left: 0; }
  .btn-link .fa-external-link-alt {
    margin-right: 5px; }

.btn-primary {
  background-color: #000c34;
  border-color: #000c34; }
  .btn-primary:hover {
    background-color: #efaf12;
    border-color: #efaf12; }

.article p {
  margin-bottom: 20px; }

.article a.btn-link {
  padding: 0; }

.fa-file {
  margin-right: 5px; }

.fa-play-circle {
  margin-right: 5px; }

.fa-ticket-alt {
  margin-right: 5px; }

.fa-tv {
  margin-right: 5px; }

.fa-chart-line {
  margin-right: 5px; }

.fa-star {
  margin-right: 5px; }

.jumbo-link {
  text-decoration: none; }
  .jumbo-link:hover {
    text-decoration: none; }
  .jumbo-link .article-image {
    min-height: 500px; }
    .jumbo-link .article-image .row {
      min-height: 500px; }

.home .latest ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-evenly; }
  .home .latest ul li {
    font-family: "FrutigerLT-BlackCn";
    font-size: 30px;
    height: 65px; }
    .home .latest ul li.score {
      padding-top: 10px; }

.home .latest .fixture-opposition span {
  font-family: "FrutigerLT-BlackCn";
  font-size: 1.5rem;
  text-transform: uppercase; }

.home .latest .fixture-opposition address {
  font-family: "FrutigerLT-LightCn";
  margin-bottom: 0; }

.home .latest .table {
  margin-bottom: 0; }

.home .latest .table thead th {
  border: none;
  padding-top: 0; }

.home .latest .table td, .home .latest .table th {
  border-top: 2px solid #efaf12;
  font-size: 16px;
  padding: 0.25rem;
  text-align: center;
  vertical-align: middle; }

.home .latest .table td.position {
  font-family: "FrutigerLT-BlackCn";
  font-size: 30px;
  width: 50%;
  color: #efaf12; }

.home .in-the-media .external {
  white-space: pre-wrap;
  text-align: left; }

.carousel-item img {
  margin: 10px; }

.block4-wrap {
  display: flex; }

.block4 {
  flex: 1 0 25%;
  color: #fff; }

.my-captions {
  margin: 10px;
  padding-bottom: 3em; }

.my-captions p {
  color: #fff; }

.block4-wrap img {
  width: 257px; }

.block4-wrap h5:hover {
  color: #efaf12; }

.block4-wrap a {
  text-decoration: none; }

/* fix width and make user scroll with mouse/touch to see the items */
@media screen and (max-width: 768px) {
  .block4 {
    max-width: 280px;
    flex: 1 0 100%;
    overflow: hidden; }
  .carousel {
    overflow: hidden; }
  .carousel-inner {
    overflow-x: visible; } }

@media screen and (max-width: 480px) {
  .block4 {
    max-width: 240px; } }

header {
  background-color: #efaf12; }

/* Desktop Navigation */
.main-logo {
  padding: 15px 40px 15px 0; }

.nav_desktop .dropdown:hover > .dropdown-menu {
  display: block; }

.nav_desktop .dropdown-menu {
  top: 35px;
  background: #F8C444;
  border: none;
  border-radius: unset; }
  .nav_desktop .dropdown-menu .dropdown-item {
    color: #fff;
    text-transform: uppercase;
    transition: color .2s linear; }
    .nav_desktop .dropdown-menu .dropdown-item:hover {
      color: #000c34;
      background: none; }
    .nav_desktop .dropdown-menu .dropdown-item:active {
      color: #000c34; }
    .nav_desktop .dropdown-menu .dropdown-item > span {
      font-family: "FrutigerLT-BlackCn"; }

.nav-link {
  font-family: "FrutigerLT-LightCn";
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: color .2s linear; }
  .nav-link:hover {
    color: #000c34; }
  .nav-link:active {
    color: #000c34; }
  .nav-link > span {
    font-family: "FrutigerLT-BlackCn"; }
  .nav-link.dropdown-toggle:after {
    display: none; }

#secondary-nav {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  #secondary-nav .nav-link {
    font-size: 12px;
    font-family: "FrutigerLT-BlackCn"; }

/* Mobile Navigation */
.nav_mobile .nav-link {
  padding-left: 30px; }
  .nav_mobile .nav-link.dropdown-toggle:after {
    display: inline-block; }

.nav_mobile .dropdown-menu {
  background: #efaf12;
  border: none;
  border-radius: unset; }
  .nav_mobile .dropdown-menu .dropdown-item {
    color: #fff;
    padding-left: 2.5rem;
    text-transform: uppercase;
    transition: color .2s linear; }
    .nav_mobile .dropdown-menu .dropdown-item > span {
      font-family: "FrutigerLT-BlackCn"; }

.nav_mobile .mobile-league {
  position: absolute;
  right: 70px;
  top: 23px;
  width: 100px; }

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #fff;
  display: block;
  transition: all 0.2s;
  margin-top: 4px; }

.navbar-toggler {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  background: transparent !important; }
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .navbar-toggler .middle-bar {
    opacity: 0; }
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0); }
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1; }
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0); }

.nav-pills {
  border-top: 2px solid #efaf12;
  margin-bottom: 20px; }
  .nav-pills .nav-link {
    border-radius: 0; }
  .nav-pills a {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #000c34;
    border-color: #000c34; }
    .nav-pills a.active {
      background-color: #efaf12 !important;
      border-color: #efaf12 !important; }
    .nav-pills a:hover {
      background-color: #efaf12 !important;
      border-color: #efaf12 !important;
      color: #fff; }

#accordion button {
  background: none; }
  #accordion button:hover {
    color: #efaf12; }

.nav-tabs {
  border-bottom: 2px solid #efaf12; }
  .nav-tabs .nav-item {
    background-color: #000c34;
    border-color: #000c34; }
  .nav-tabs .nav-link {
    border-radius: 0; }
  .nav-tabs a {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
    .nav-tabs a.active {
      color: #fff;
      background-color: #efaf12 !important;
      border-color: #efaf12 !important; }
    .nav-tabs a:hover {
      background-color: #efaf12 !important;
      border-color: #efaf12 !important; }

#footer-nav .nav-link {
  font-family: "FrutigerLT-BlackCn"; }

.notification {
  background: #464646;
  color: #fff;
  line-height: 1.2;
  font-size: 16px; }
  .notification h4 {
    font-size: 16px;
    color: #fff;
    margin: 0; }
  .notification img {
    max-width: 50px;
    padding: 10px 0; }
  .notification .team-name, .notification #position {
    font-family: "FrutigerLT-BlackCn"; }
  .notification .next-match-mobile {
    background: #464646;
    color: #fff;
    text-align: center; }
    .notification .next-match-mobile .team-name {
      font-size: 14px;
      text-align: left; }
      .notification .next-match-mobile .team-name span {
        font-family: "FrutigerLT-LightCn"; }
  .notification .mens-league-position img {
    max-width: 150px;
    padding: 15px 0 0; }
  .notification .mens-league-position #position, .notification .mens-league-position #points {
    padding-top: 18px; }

.message {
  background: #000c34;
  border-top: 1px solid #efaf12;
  border-bottom: 1px solid #efaf12; }
  .message.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; }
  .message a:hover {
    text-decoration: none; }
  .message h5 {
    margin-top: .5rem;
    color: #efaf12; }

.nav-crumb {
  background: #e9ecef; }
  .nav-crumb .breadcrumb {
    padding: .75rem 0rem;
    margin-bottom: 0; }
    .nav-crumb .breadcrumb .breadcrumb-item a {
      color: #000c34; }
      .nav-crumb .breadcrumb .breadcrumb-item a:hover {
        text-decoration: none; }

/* Global styles */
html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  position: relative;
  font-size: 12px;
  font-family: "FrutigerLT-LightCn"; }

a:not([href]):not([tabindex]) {
  color: #fff; }

abbr[data-original-title], abbr[title] {
  text-decoration: none;
  cursor: default; }

p {
  margin: 0; }

.main {
  font-size: 1rem;
  margin-bottom: 15px; }
  .main.alternative {
    background-color: #000c34;
    padding: 15px 0;
    color: #fff; }

.rebels {
  text-align: center;
  color: #efaf12; }
  .rebels h2 {
    font-size: 3rem; }

.list-group {
  margin-bottom: 15px; }

.badge-red {
  background-color: #dc3545; }

.badge-yellow {
  background-color: #ffc107; }

.badge-red, .badge-yellow {
  display: inline !important;
  padding: 3px 7px;
  margin-right: 5px; }

.form {
  background: #f7f7f7; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape), screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape), screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .container {
    max-width: none; } }

/* End global styles */
.title {
  background: #000c34;
  padding: 20px 0;
  margin-bottom: 20px; }
  .title h1 {
    margin: 0;
    color: #fff; }
  .title p {
    color: #fff; }

.article-image {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  min-height: 350px;
  padding: 0; }
  .article-image h1, .article-image p {
    color: #fff; }
  .article-image .row {
    min-height: 350px; }

.article p {
  margin-bottom: 20px; }

.media-row {
  margin-bottom: 15px; }

.copyright {
  margin-top: 15px; }

.fixture-list h2 {
  font-size: 3rem; }
  @media (min-width: 576px) {
    .fixture-list h2 {
      font-size: 6rem; } }
.fixture {
  background: #fff;
  margin-bottom: 15px;
  font-size: 1rem; }
  .fixture .kickoff {
    font-family: "FrutigerLT-BlackCn";
    font-size: 1.5rem; }
  .fixture .card-header {
    background: none;
    border: none;
    padding-bottom: 0; }
    .fixture .card-header .match-date {
      font-family: "FrutigerLT-BlackCn";
      text-transform: uppercase; }
  .fixture .card-body {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    .fixture .card-body .match-date {
      margin-bottom: 10px; }
    .fixture .card-body .match-detail img {
      margin-bottom: 10px; }
    .fixture .card-body .match-detail h2 {
      font-size: 1rem; }
    .fixture .card-body .fixture-opposition span {
      font-family: "FrutigerLT-BlackCn";
      font-size: 1.25rem;
      text-transform: uppercase; }
      @media (min-width: 576px) {
        .fixture .card-body .fixture-opposition span {
          font-size: 1.5rem; } }
      .fixture .card-body .fixture-opposition span.score {
        font-size: 1.5rem;
        margin-right: 10px;
        border-right: 1px solid #000c34;
        padding-right: 10px; }
        @media (min-width: 576px) {
          .fixture .card-body .fixture-opposition span.score {
            font-size: 2rem; } }
    .fixture .card-body .fixture-opposition address {
      font-family: "FrutigerLT-LightCn";
      margin-bottom: 0; }
  .fixture .card-footer {
    border-top: 1px solid #f7f7f7 !important;
    font-family: "FrutigerLT-BlackCn"; }
    .fixture .card-footer span {
      margin-right: 15px; }

#onthisday .card-footer {
  font-family: "FrutigerLT-LightCn"; }

.report h1 {
  margin: 30px 0; }

.report h2 {
  font-size: 4rem;
  margin-bottom: 0;
  vertical-align: middle; }

.report .matchDetails {
  padding: 20px 0 40px;
  border-top: 1px solid; }
  .report .matchDetails time, .report .matchDetails span {
    font-family: "FrutigerLT-BlackCn";
    margin-right: 20px; }

.report .score {
  display: block;
  font-size: 4rem;
  vertical-align: middle; }

.report .fixture, .report .reportBody, .report .opposition {
  margin-bottom: 30px; }

.report .opposition {
  background: #f7f7f7;
  padding: 15px 0 12px 0; }

.report .squad {
  background: #f7f7f7;
  padding-top: 10px; }
  .report .squad .badge-starting {
    background-color: #efaf12;
    color: #000c34; }
  .report .squad .fa-plus {
    color: #dc3545; }
  .report .squad a, .report .squad .badge-starting, .report .squad .badge-secondary, .report .squad .badge-red, .report .squad .badge-yellow, .report .squad .fa-plus {
    margin-right: 5px; }
  .report .squad li {
    font-size: 18px;
    background: none;
    border: 0;
    padding: 0.50rem 1.25rem; }

.report .photos a {
  font-family: "FrutigerLT-BlackCn";
  margin-left: 10px; }

.arrow-down {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #f00; }

.arrow-up {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid green; }

.btn-group {
  margin-bottom: 20px; }
  .btn-group .btn-secondary {
    background-color: #000c34;
    border-color: #000c34; }
    .btn-group .btn-secondary.active {
      background-color: #efaf12 !important;
      border-color: #efaf12 !important; }
    .btn-group .btn-secondary:hover {
      background-color: #efaf12 !important;
      border-color: #efaf12 !important; }

.table-light > th {
  background: #000c34;
  color: #fff; }

.leagueTable {
  background: #fff; }
  .leagueTable.mens tr:nth-child(2) td, .leagueTable.mens tr:nth-child(2) th, .leagueTable.mens tr:nth-child(8) td, .leagueTable.mens tr:nth-child(8) th, .leagueTable.mens tr:nth-child(21) td, .leagueTable.mens tr:nth-child(21) th {
    border-top: 1px dashed #464646; }
  .leagueTable.ladies tr:nth-child(2) td, .leagueTable.ladies tr:nth-child(2) th, .leagueTable.u23s tr:nth-child(2) td, .leagueTable.u23s tr:nth-child(2) th {
    border-top: 1px dashed #464646; }
  .leagueTable tr.slough {
    color: #efaf12;
    background: #f7f7f7;
    font-family: "FrutigerLT-BlackCn"; }

#directionMap {
  width: 100%;
  height: 400px;
  background-color: #464646;
  margin-bottom: 15px; }

.directions .fa-directions, .directions .fa-parking, .directions .fa-bus, .directions .fa-bicycle, .directions .fa-train, .directions .fa-wheelchair {
  margin-right: 5px; }

.awayDirections {
  margin-bottom: 0; }
  .awayDirections table a {
    padding: 0; }

#awayMap {
  width: 100%;
  height: 800px;
  background-color: #464646;
  margin-bottom: 15px; }

.featured, .card-deck, .quote-card {
  margin-bottom: 15px; }

.card {
  border-radius: unset;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18); }
  .card.news {
    padding-bottom: 50px; }
    .card.news .card-footer {
      position: absolute;
      bottom: 0; }
  .card.fixture {
    border-top: 3px solid #efaf12; }
  .card.away {
    border-top: 3px solid #000c34; }
  .card.no-border {
    border: none; }
  .card.ads img {
    margin-bottom: 10px; }
  .card a {
    color: #212529; }
    .card a:hover {
      text-decoration: none;
      color: #efaf12; }
  .card .card-img-top {
    border-radius: unset; }
  .card .card-title {
    margin-bottom: 0; }
  .card .card-text {
    font-size: .9rem; }
  .card .card-footer {
    width: 100%;
    background: #fff;
    border-top: none; }
    .card .card-footer small {
      font-size: .9rem; }
  .card .fa-angle-double-right {
    margin-left: 5px; }

.squad .card {
  border: none; }

.quote {
  background: #f7f7f7;
  margin-bottom: 15px;
  box-shadow: none; }
  .quote .fa-quote-left, .quote .fa-quote-right {
    display: block; }
  .quote .fa-quote-left {
    margin-right: 15px; }
  .quote .fa-quote-right {
    margin-left: 15px;
    text-align: right; }
  .quote p {
    font-size: 1.4rem; }
  .quote .card-title {
    margin-bottom: 0; }

.player-name {
  line-height: 1; }
  .player-name span, .player-name h1 {
    display: inline; }
  .player-name span {
    color: #efaf12;
    font-family: "FrutigerLT-BlackCn";
    font-size: 4rem;
    margin-right: 15px; }

.profile .stats {
  margin-bottom: 15px; }
  .profile .stats h2 {
    margin-top: 15px; }
  .profile .stats img {
    width: 100%; }

.profile span {
  font-family: "FrutigerLT-BlackCn"; }

.profile .bio {
  margin-bottom: 15px; }

.profile table a {
  padding: 0; }

.profile h5 {
  color: #efaf12;
  background: #000c34;
  text-align: center; }

.squad h2 {
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-size: 3rem; }
  @media (min-width: 576px) {
    .squad h2 {
      font-size: 6rem; } }
.squad .card {
  margin-bottom: 15px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.18); }
  .squad .card .squad-number {
    color: #efaf12;
    font-family: "FrutigerLT-BlackCn";
    font-size: 2.5rem; }
    @media (min-width: 576px) {
      .squad .card .squad-number {
        font-size: 4.5rem; } }
  .squad .card .card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem; }
    @media (min-width: 576px) {
      .squad .card .card-title {
        font-size: 2rem; } }
  .squad .card .card-text {
    margin-bottom: 1rem; }
  .squad .card .role {
    font-family: "FrutigerLT-BlackCn";
    text-transform: uppercase; }
  .squad .card h5 {
    color: #efaf12;
    background: #000c34;
    text-align: center; }

.fa-futbol {
  margin-right: 5px; }

.fa-mitten {
  margin-right: 5px; }

.fa-tshirt {
  margin-right: 5px; }

.database .input-group {
  margin: 30px 0 60px; }

.database input {
  border-color: #6c757d; }

.database input, .database .fa-search {
  font-size: 25px; }

.database .btn-outline-primary {
  color: #000c34;
  border-color: #000c34; }
  .database .btn-outline-primary:hover {
    color: #fff;
    border-color: #efaf12;
    background-color: #efaf12; }

.opposition table a {
  padding: 0; }

footer {
  border-top: 5px solid #000c34;
  padding-bottom: 15px;
  background: #F8C444;
  color: #fff; }
  footer .nav-link {
    font-size: 0.8rem; }
  footer .sponsors {
    margin-bottom: 15px; }
    footer .sponsors a {
      display: inline-block;
      width: 100px;
      margin: 0 10px; }
      footer .sponsors a :last-child {
        margin-right: 0; }
  footer .primary-sponsors {
    margin-top: 15px; }
  footer .secondary-sponsors {
    margin-bottom: 40px; }
  footer .social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 15px; }
    footer .social.facebook {
      background-image: url("/images/main/icons/social/facebook.svg"); }
    footer .social.twitter {
      background-image: url("/images/main/icons/social/twitter.svg"); }
    footer .social.youtube {
      background-image: url("/images/main/icons/social/youtube.svg"); }
    footer .social.instagram {
      background-image: url("/images/main/icons/social/instagram.svg");
      margin-right: 0; }

.terms {
  background: #464646; }
  .terms .nav-link {
    font-size: 0.6rem; }
  .terms p {
    color: #fff;
    font-size: 0.6rem;
    padding-bottom: 10px; }

@media (min-width: 576px) {
  .terms .nav-link {
    font-size: 0.8rem; }
  .terms p {
    font-size: 0.8rem;
    padding-bottom: 0; } }
