{% extends 'site/base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "News",
    "item": "{{ url('site_news_index') }}"
   }]
}
</script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">News</li>
            </ol>
        </div>
    </nav>

    <section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-md-10">
                    <h1>News</h1>
                    <p class="d-none d-md-block">The Slough Town FC Website provide you with all the latest and breaking news throughout the season as it happens.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container">
            <form method="GET" action="{{ path('site_news_index') }}">
                <div class="row">
                    <div class="col col-sm-2 mb-3">
                        <select class="custom-select" onchange="this.form.submit()" name="season" id="inputGroupSelect01">
                            <option {{ selectedSeason is empty ? 'selected' : '' }} value="">Select season...</option>
                            {% for season in seasons|reverse %}
                                <option {{ selectedSeason == season.name ? 'selected' : '' }} value="{{ season.name|replace({'/': '-'}) }}">{{ season.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col col-sm-2 mb-3">
                        <select class="custom-select" onchange="this.form.submit()" name="category" id="inputGroupSelect02">
                            <option {{ selectedCategory is empty ? 'selected' : '' }} value="">Select category...</option>
                            {% for key, value in categories %}
                                <option {{ selectedCategory == value ? 'selected' : '' }} value="{{ value }}">{{ key }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
            
            {% if news|length > 0 %}
                <div class="card news featured">
                    <a href="{{ namepath('site_article_main', { 'id': news[0].id, 'name': news[0].urlheadline }) }}">
                        <img class="card-img-top lazyload" data-src="{{ news[0].smallpictureurl }}" alt="{{ news[0].headline }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ news[0].headline }}</h5>
                            <hr />
                            <p class="card-text">{{ news[0].excerpt }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><i class="far fa-clock"></i> {{ news[0].publishDate|date("d/m/Y") }}</small>
                        </div>
                    </a>
                </div>
            {% endif %}

            {% for article in news|slice(1, news|length, true) %}

                {% if loop.first %}
                    <div class="card-deck">
                    {% endif %}

                        <div class="card news">
                            <a href="{{ namepath('site_article_main', { 'id': article.id, 'name': article.urlheadline }) }}">
                                <img class="card-img-top lazyload" data-src="{{ article.smallpictureurl }}" alt="{{ article.headline }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.headline }}</h5>
                                    <hr />
                                    <p class="card-text">{{ article.excerpt }}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"><i class="far fa-clock"></i> {{ article.publishDate|date("d/m/y") }}</small>
                                </div>
                            </a>
                        </div>

                    {% if loop.last %}
                    </div>
                    {% elseif loop.index % 3 == 0 %}
                    </div>
                    <div class="card-deck">
                    {% endif %}

            {% endfor %}

        </div>

    </section>

{% endblock %}
