{% extends 'site/base.html.twig' %}

{% block body %}  

{% for article in articles|slice(0, 1) %}
<a class="jumbo-link" href="{{ article['url'] }}">
<div class="jumbotron jumbotron-fluid article-image" style="background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('{{ article['picture_url'] }}');">
  <div class="container">
    <div class="row">
        <div class="col align-self-end mb-3">
            <h1 class="display-4">{{ article['headline'] }}</h1>
            <p class="lead">{{ article['excerpt'] }}</p>
        </div>
    </div>
  </div>
</div>
</a>
{% endfor %}

<section class="main">
    <div class="container home">

        <div class="row">
            <div class="col">
                <h3>Latest News</h3>
            </div>
        </div>
                
        <div class="card-deck">    
            {% for article in articles|slice(1, 3) %}
            <div class="card news">
                <a href="{{ article['url'] }}">
                    <img class="card-img-top lazyload" data-src="{{ article['picture_url'] }}" alt="{{ article['headline'] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ article['headline'] }}</h5>
                        <hr />
                        <p class="card-text">{{ article['excerpt'] }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="far fa-clock"></i> {{ article['published']|date('d/m/Y') }}</small>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="row mt-4 mb-4">
            <div class="col text-center">
                <a href="{{ path('site_news_index') }}" class="btn btn-primary">More News</a>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <a href="https://arbour-park.com/rebels" target="_blank">
                        <img class="card-img lazyload d-none d-lg-block" data-src="{{ asset('images/main/homepage/rebels-wide.jpg') }}" alt="REBELS Arbour Park">
                        <img class="card-img lazyload d-lg-none" data-src="{{ asset('images/main/homepage/rebels-small.jpg') }}" alt="REBELS Arbour Park">
                        <div class="card-body">
                            <h5 class="card-title">REBELS</h5>
                            <p class="card-text">Located at the home of Slough Town Football Club, Arbour Park, REBELS is the perfect location for any social occasion, with all ages welcome. A venue built by the community, for the community.</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <nav class="nav nav-pills flex-column flex-sm-row team-select" aria-label="Team Select">
            <a href="javascript:void(0);" class="flex-sm-fill text-sm-center nav-link mens active">Mens</a>
            <a href="javascript:void(0);" class="flex-sm-fill text-sm-center nav-link ladies">Ladies</a>
            <a href="javascript:void(0);" class="flex-sm-fill text-sm-center nav-link eds">Elite Development Squad</a>
        </nav>

        <div class="row">
            <div class="col-sm-12 col-md-6" id="next-fixture">
                <h3>Next Fixture</h3>

                <div class="card fixture"></div>
            </div>

            <div class="col-sm-12 col-md-6" id="last-fixture">
                <h3>Last Result</h3>

                <div class="card fixture"></div>

            </div>
        </div>

        <div class="row" id="leagueTable">
            <div class="col">
                <h3>The League</h3>
            </div>
        </div>
        
        <div class="table-responsive" id="homepage-table">

            <table class="table leagueTable">
                <thead>
                    <tr class="table-light">
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Team</th>
                        <th scope="col" class="text-center">Pl</th>
                        <th scope="col" class="text-center">W</th>
                        <th scope="col" class="text-center">D</th>
                        <th scope="col" class="text-center">L</th>
                        <th scope="col" class="text-center d-none d-sm-table-cell">F</th>
                        <th scope="col" class="text-center d-none d-sm-table-cell">A</th>
                        <th scope="col" class="text-center">GD</th>
                        <th scope="col" class="text-center">Pts</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="row mb-4">
            <div class="col text-center">
                <a href="{{ path('site_tables_league', { 'teamUrl': 'mens' }) }}" class="btn btn-primary">Full Table</a>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="card-deck">
                  <div class="card">
                    <a href="https://app.fanbaseclub.com/Fan/Fixtures/Index?fanStoreType=Fixtures&clubId=248" target="_blank">
                    <img class="card-img-top lazyload" data-src="{{ asset('images/main/homepage/matchday-tickets.jpg') }}" alt="2024/25 Matchday Tickets">
                    <div class="card-body">
                      <h5 class="card-title">Matchday Tickets</h5>
                      <p class="card-text">Purchase advance match day tickets through our partner Fanbase.</p>
                    </div>
                    </a>
                  </div>
                  <div class="card">
                    <a href="{{ path('site_academy_index') }}">
                    <img class="card-img-top lazyload" data-src="{{ asset('images/main/homepage/the-academy.jpg') }}" alt="Slough Town FC Academy">
                    <div class="card-body">
                      <h5 class="card-title">Join The Academy</h5>
                      <p class="card-text">Join our Academy to maximize your potential and be part of a community dedicated to developing the next generation of football talent.</p>
                    </div>
                    </a>
                  </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="main alternative">
    <div class="container home">
        <div class="row">
            <div class="col">
                <h3>STFC TV</h3>
            </div>
        </div>
        
        <div class="row flex-xl-nowrap">
            <div class="col-12">
                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                      <!--ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                      </ol-->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="block4-wrap">
                                {% for video in videos %}
                                <a href="{{ video['url'] }}">
                                    <div class="block4"><img class="d-block lazyload" data-src="{{ video['picture_url'] }}" alt="{{ video['headline'] }}">
                                      <div class="my-captions">
                                        <h5>{{ video['headline'] }}</h5>
                                        <p>{{ video['excerpt'] }}</p>
                                      </div>
                                    </div>
                                </a>
                                {% endfor %}
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if today %}
<section class="main">
    <div class="container home">

        <div class="row">
            <div class="col">
                <h3>On This Day</h3>
            </div>
        </div>

        
        {% if today.isHome %}
            {% set home, away, logo = 'Slough Town', today.opposition.name, today.opposition.logo %}
        <div class="card fixture" id="onthisday">
        {% else %}
            {% set home, away, logo = today.opposition.name, 'Slough Town', today.opposition.logo %}
        <div class="card fixture away" id="onthisday">
        {% endif %}
            <div class="card-header d-block d-lg-none">
                <div class="row align-items-center">
                    <div class="col">
                        <time>{{ today.matchDate|date('j F Y')|upper }}</time>
                    </div>
                    <div class="col text-right">
                        <span>{{ today.competition.name }} - </span> 
                        {% if today.isHome %}
                        <span>Home</span> 
                        {% else %}
                        <span>Away</span> 
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-1 d-none d-lg-block text-center">
                        {% if today.isHome %}
                        <p>H</p>
                        {% else %}
                        <p>A</p>
                        {% endif %}
                    </div>
                    <div class="col-2 d-none d-lg-block">
                        <span>{{ today.competition.name }}</span>
                    </div>
                    <div class="col-3 col-sm-1">
                        <img width="65" class="lazyload d-block mx-auto" data-src="{{today.opposition.logo}}" alt="{{today.opposition.name}}">
                    </div>
                     <div class="col-9 col-sm-6 fixture-opposition">
                        <span class="score">{{ today.reportHomeScore }}</span> <span>{{ home|upper }}</span><br>
                        <span class="score">{{ today.reportAwayScore }}</span> <span>{{ away|upper }}</span>
                    </div>
                    <div class="col-2 d-none d-lg-block text-center">
                        <a class="btn btn-link mb-2" href="{{ path('site_reports_index', { id: today.id }) }}" role="button"><i class="fas fa-file"></i> Match Report</a>
                        {% if today.videoPublished %}
                        <a class="btn btn-link mb-2" href="{{ path('site_videos_index', { id: today.id }) }}" role="button"><i class="fas fa-play-circle"></i> Highlights</a>
                        {% endif %}
                        <a class="btn btn-link mt-2 ml-2" href="{{ path('site_fixtures_on_this_day') }}" role="button"><i class="fas fa-angle-double-right"></i> More On This Day</a>
                    </div>
                </div>
                <div class="row d-block d-lg-none text-center">
                    <div class="col">
                        <a class="btn btn-link mt-2" href="{{ path('site_reports_index', { id: today.id }) }}" role="button"><i class="fas fa-file"></i> Match Report</a>
                        {% if today.videoPublished %}
                        <a class="btn btn-link mt-2 ml-2" href="{{ path('site_videos_index', { id: today.id }) }}" role="button"><i class="fas fa-play-circle"></i> Highlights</a>
                        {% endif %}
                        <a class="btn btn-link mt-2 ml-2" href="{{ path('site_fixtures_on_this_day') }}" role="button"><i class="fas fa-angle-double-right"></i> More On This Day</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}