{% if notification %}
    <section class="message" id="stickyMessage">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    {% if notification.isExternal and notification.url is not null %}
                        <a href="{{ notification.url }}" target="_blank"><h5>{{ notification.message }}</h5></a>
                    {% elseif notification.url %}
                        <a href="{{ notification.url }}"><h5>{{ notification.message }}</h5></a>
                    {% else %}
                        <h5>{{ notification.message }}</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% if notification.isSticky %}
        <script>
            window.onscroll = function () {
                myFunction()
            };

            var header = document.getElementById("stickyMessage");
            var sticky = header.offsetTop;

            function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
        </script>
    {% endif %}
{% endif %}
