{% extends 'admin/sidebar.html.twig' %}

{% block title %}{{ type }} Competition{% endblock %}

{% block form %}
<div class="row">
    <div class="col-12">
        <h2>{{ type }} Competition</h2>
    </div>
</div>

<div class="card shadow">

    <div class="card-body">

        {{ form_start(form) }}

        <div class="form-group row">
            {{ form_label(form.team, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.team) }}
            <div class="col-sm-10">
                {{ form_widget(form.team, {'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_help(form.team) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.name) }}
            <div class="col-sm-10">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_help(form.name) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.description) }}
            <div class="col-sm-10">
                {{ form_widget(form.description, {'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_help(form.description) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.benchCount, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.benchCount) }}
            <div class="col-sm-10">
                {{ form_widget(form.benchCount, {'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_help(form.benchCount) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.statsRecorded, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.statsRecorded) }}
            <div class="col-sm-10">
                {{ form_widget(form.statsRecorded) }}
            </div>
            {{ form_help(form.statsRecorded) }}
        </div>

        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }}

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
