{% extends 'admin/sidebar.html.twig' %}

{% block title %}View Competition{% endblock %}

{% block form %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_default_index', { 'teamUrl': teamUrl }) }}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_competition_index', { 'teamUrl': teamUrl }) }}">Competition</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ competition.name }}</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12">
            <h2>{{ competition.name }} <a class="btn btn-primary btn-sm" href="{{ path('admin_competition_edit', { 'id': competition.id, 'teamUrl': teamUrl }) }}" role="button">Edit</a></h2>
        </div>
    </div>

    <ul class="list-group description-group shadow">
        <li class="list-group-item">Description: <span class="font-italic font-weight-bold">{{ competition.description }}</span></li>
        <li class="list-group-item">Bench count: <span class="font-italic font-weight-bold">{{ competition.benchCount }}</span></li>
        <li class="list-group-item">Stats recorded: <span class="font-italic font-weight-bold">{{ competition.statsRecorded ? 'Yes' : 'No' }}</span></li>
    </ul>

    <div class="card shadow">

        <div class="card-body">

            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr class="table-light">
                            <th scope="col">Date</th>
                            <th scope="col">Opposition</th>
                            <th scope="col">Home/Away</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fixture in competition.fixtures %}
                            <tr>
                                <th scope="row">{{ fixture is not null ? fixture.matchDate|date('Y-m-d') : '' }}</th>
                                <td>{{ fixture.opposition is not null ? fixture.opposition.name|default('') : '' }}</td>
                                <td>{{ fixture.isHome is not null ? fixture.isHome ? 'H' : 'A' : '?' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
