.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto; }
  .form-signin.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px; }
    .form-signin.form-control:focus {
      z-index: 2; }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
  z-index: 0; }

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 5.5rem; }

.sidebar .nav-link {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  font-size: .875rem; }
  .sidebar .nav-link i {
    font-size: 1rem;
    margin-right: .25rem;
    color: rgba(255, 255, 255, 0.3); }
  .sidebar .nav-link:hover {
    color: #fff; }

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999; }

.sidebar .nav-link.active {
  color: #007bff; }

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit; }

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase; }

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom; }

.menu-icon {
  width: 25px;
  height: 25px;
  vertical-align: text-bottom; }

.main-nav {
  position: relative;
  z-index: 1; }

.notice {
  padding: 15px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2); }

.notice-info {
  border-color: #45ABCD; }

.notice-info > strong {
  color: #45ABCD; }

.description-group {
  margin-bottom: 20px; }

.help-text {
  font-size: 13px;
  padding-top: 10px;
  padding-left: 15px; }

textarea {
  height: 350px; }

#player_teams label {
  margin-right: 10px; }

#player_teams input[type=checkbox], #player_teams input[type=radio] {
  margin-right: 5px; }

.shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important; }
