{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow main-nav">
        <img src="{{ asset('images/admin/badge.png') }}" width="30" height="30" class="d-inline-block align-t mr-3" />
        <nav class="my-md-0 mr-md-3 ml-md-auto">
            <a class="p-2 text-dark" href="{{ path('site_homepage_index')}}"><span class="mr-2 d-lg-inline small">Main Site</span></a>
            <a class="p-2 text-dark" href="{{ path('admin_default_index') }}"><span class="mr-2 d-lg-inline small">Admin Home</span></a>
            <a class="p-2 text-dark" href="{{ path('admin_security_logout') }}"><span class="mr-2 d-lg-inline small">Log Out</span></a>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
{% endblock %}