{% if teamUrl is not defined %}
    {% set teamUrl = null %}
{% endif %}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalTitle">Delete Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a id="confirm-delete" class="btn btn-danger" href="#" role="button">Confirm</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('document').ready(function () {
        $('#deleteModal').on('show.bs.modal', function (e) {
            $(e.currentTarget).find('a#confirm-delete').attr('href', '{{ path(deletePath, { 'id': 0, 'teamUrl': teamUrl }) }}'.replace('0', $(e.relatedTarget).data('id')));
        });
    });
</script>
