{% set lastPage = (totalItems / pageSize)|round(0, 'ceil') %}
{% set showAlwaysFirstAndLast = true %}

{% if query is not defined %}
    {% set query = null %}
{% endif %}

{% if teamUrl is not defined %}
    {% set teamUrl = null %}
{% endif %}

{% if lastPage > 1 %}

    {% set extremePagesLimit = 2 %}
    {% set nearbyPagesLimit = 1 %}

    <div class="row px-md-4">
        <nav aria-label="Pagination" class="ml-md-auto">
            <ul class="pagination">
                {% if currentPage > 1 %}
                    <li class="page-item {% if (currentPage == 1) %}disabled{% endif %}">
                        <a class="page-link" href="{{ path(pagePath, { 'page': currentPage - 1, 'count': pageSize, 'query': query, 'teamUrl': teamUrl } ) }}" tabindex="-1">Previous</a>
                    </li>

                    {% for i in range(1, extremePagesLimit) if (i < currentPage - nearbyPagesLimit) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path(pagePath, { 'page': i, 'count': pageSize, 'query': query, 'teamUrl': teamUrl } ) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {% if (extremePagesLimit + 1 < currentPage - nearbyPagesLimit) %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}

                    {% for i in range(currentPage - nearbyPagesLimit, currentPage - 1) if (i > 0) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path(pagePath, { 'page': i, 'count': pageSize, 'query': query, 'teamUrl': teamUrl } ) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% elseif showAlwaysFirstAndLast %}
                    <li class="page-item {% if (currentPage == 1) %}disabled{% endif %}">
                        <a class="page-link" href="{{ path(pagePath, { 'page': currentPage - 1, 'count': pageSize, 'query': query, 'teamUrl': teamUrl } ) }}" tabindex="-1">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="{{ path(pagePath, { 'page': currentPage, 'count': pageSize, 'query': query, 'teamUrl': teamUrl } ) }}">{{ currentPage }}</a>
                </li>

                {% if currentPage < lastPage %}
                    {% for i in range(currentPage + 1, currentPage + nearbyPagesLimit) if (i <= lastPage) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path(pagePath, { 'page': i, 'count': pageSize, 'query': query, 'teamUrl': teamUrl } ) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {% if (lastPage - extremePagesLimit) > (currentPage + nearbyPagesLimit) %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}

                    {% for i in range(lastPage - extremePagesLimit+1, lastPage) if ( i > currentPage + nearbyPagesLimit ) %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path(pagePath, { 'page': i, 'count': pageSize, 'query': query, 'teamUrl': teamUrl } ) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    <li class="page-item {% if (currentPage == lastPage) %}disabled{% endif %}">
                        <a class="page-link" href="{{ path(pagePath, { 'page': currentPage + 1, 'count': pageSize, 'query': query, 'teamUrl': teamUrl } ) }}" tabindex="-1">Next</a>
                    </li>
                {% elseif showAlwaysFirstAndLast %}
                    <li class="page-item {% if (currentPage == lastPage) %}disabled{% endif %}">
                        <a class="page-link" href="{{ path(pagePath, { 'page': currentPage + 1, 'count': pageSize, 'query': query, 'teamUrl': teamUrl } ) }}" tabindex="-1">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>       
    </div>
{% endif %}