{% extends 'admin/main.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar border-right shadow-sm">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_fixture_index', { 'teamUrl': 'mens' }) }}"><i class="fas fa-calendar-alt"></i> Fixtures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_news_index') }}"><i class="fas fa-newspaper"></i> News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_player_index', { 'teamUrl': 'mens' }) }}"><i class="fas fa-user-circle"></i> Players & Staff</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_gallery_upload') }}"><i class="fas fa-image"></i> Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_media-item_index') }}"><i class="fas fa-comments"></i> In The Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_opposition_index', { 'teamUrl': 'mens' }) }}"><i class="fas fa-map-marker-alt"></i> Opposition</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block form %}
                {% endblock %}
            </main>

        </div>
    </div>
{% endblock %}