{% extends 'admin/sidebar.html.twig' %}

{% block title %}{{ type }} News{% endblock %}

{% block form %}
<div class="row">
    <div class="col-12">
        <h2>{{ type }} News</h2>
    </div>
</div>

<div class="card shadow">

    <div class="card-body">
    
        {{ form_start(form) }}

        <div class="form-group row">
            {{ form_label(form.headline, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.headline) }}
                <div class="col-sm-10">
                    {{ form_widget(form.headline, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.headline) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.category, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.category) }}
                <div class="col-sm-10">
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.category) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.author, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.author) }}
                <div class="col-sm-10">
                    {{ form_widget(form.author, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.author) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.publishDate, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.publishDate) }}
            <div class="col-sm-10">
                <div class="input-group date datepicker" id="publishdatepicker" data-target-input="nearest">
                    {{ form_widget(form.publishDate, {'attr': {'class': 'form-control datetimepicker-input', 'data-target': '#publishdatepicker'} }) }}
                    <div class="input-group-append" data-target="#publishdatepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            {{ form_help(form.publishDate) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.publishTime, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.publishTime) }}
            <div class="col-sm-10">
                <div class="input-group date timepicker" id="publishtimepicker" data-target-input="nearest">
                    {{ form_widget(form.publishTime, {'attr': {'class': 'form-control datetimepicker-input', 'data-target': '#publishtimepicker'} }) }}
                    <div class="input-group-append" data-target="#publishtimepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                    </div>
                </div>
            </div>
            {{ form_help(form.publishTime) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.excerpt, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.excerpt) }}
                <div class="col-sm-10">
                    {{ form_widget(form.excerpt, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.excerpt) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.body, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.body) }}
                <div class="col-sm-10">
                    {{ form_widget(form.body, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.body) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.videoUrl, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.videoUrl) }}
                <div class="col-sm-10 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">https://youtube.com/</span>
                    </div>
                    {{ form_widget(form.videoUrl, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.videoUrl) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.audioUrl, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.audioUrl) }}
                <div class="col-sm-10 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">https://anchor.fm/sloughtownfc/embed/episodes/</span>
                    </div>
                    {{ form_widget(form.audioUrl, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.audioUrl) }}
        </div>

        <div class="form-group row">
            <div class="col-sm-2">
                {{ form_label(form.pictureUrl, null, {'label_attr': {'class': 'col-form-label'} }) }}
                <button type="button" class="btn btn-primary btn-sm btn-image-gallery" data-url="{{ path('admin_gallery_list') }}" data-target-id="{{ form.pictureUrl.vars.id }}">Pick</button>    
                {{ form_errors(form.pictureUrl) }}
            </div>
            <div class="col-sm-10">
                {{ form_widget(form.pictureUrl, {'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_help(form.pictureUrl) }}
        </div>
        
        <div class="form-group row">
            <div class="col-sm-2">
                {{ form_label(form.smallPictureUrl, null, {'label_attr': {'class': 'col-form-label'} }) }}
                <button type="button" class="btn btn-primary btn-sm btn-image-gallery" data-url="{{ path('admin_gallery_list') }}" data-target-id="{{ form.smallPictureUrl.vars.id }}">Pick</button>    
                {{ form_errors(form.smallPictureUrl) }}
            </div>
            <div class="col-sm-10">
                {{ form_widget(form.smallPictureUrl, {'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_help(form.smallPictureUrl) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.caption, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.caption) }}
                <div class="col-sm-10">
                    {{ form_widget(form.caption, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.caption) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.quote, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.quote) }}
                <div class="col-sm-10">
                    {{ form_widget(form.quote, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.quote) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.quoteBy, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.quoteBy) }}
                <div class="col-sm-10">
                    {{ form_widget(form.quoteBy, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.quoteBy) }}
        </div>
        
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }}
        
        {{ form_end(form) }}
    </div>
</div>
<script type="text/javascript" src="{{ asset('js/image-gallery.js') }}"></script> 
{% endblock %}
