{% extends 'site/base.html.twig' %}

{% block title %}Vanarama National League South Table{% endblock %}

{% block body %}
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "{{ url('site_homepage_index') }}"
        },{
        "@type": "ListItem",
        "position": 2,
        "name": "Tables",
        "item": "{{ url('site_tables_league', { 'teamUrl': 'mens' }) }}"
        },{
        "@type": "ListItem",
        "position": 3,
        "name": "Attendance Table",
        "item": "{{ url('site_tables_league_attendance') }}"
        }]
        }
    </script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active" aria-current="page">Attendance Table</li>
            </ol>
        </div>
    </nav>

    <section class="title  mb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Vanarama National League South<br>- Average Attendance</h1>
                </div>
            </div>
        </div>
    </section>

    <nav class="nav nav-pills flex-column flex-sm-row team-select" aria-label="Team Select">
        <a href="{{ path('site_tables_league', { 'teamUrl': 'mens' }) }}" class="flex-sm-fill text-sm-center nav-link active">Mens</a>
        <a href="{{ path('site_tables_league', { 'teamUrl': 'ladies' }) }}" class="flex-sm-fill text-sm-center nav-link">Ladies</a>
        <a href="{{ path('site_tables_league', { 'teamUrl': 'elite-development-squad' }) }}" class="flex-sm-fill text-sm-center nav-link">Elite Development Squad</a>
    </nav>

    <section class="main">
        <div class="container">

            <div class="row d-none d-lg-block">
                <div class="col text-center">
                    <div class="btn-group" role="group" aria-label="League Tables">
                        <a href="{{ path('site_tables_league', { 'teamUrl': 'mens' }) }}" class="btn btn-secondary">League Table</a>
                        <a href="{{ path('site_tables_league', { 'teamUrl': 'mens', 'type': 'home' }) }}" class="btn btn-secondary">Home League Form</a>
                        <a href="{{ path('site_tables_league', { 'teamUrl': 'mens', 'type': 'away' }) }}" class="btn btn-secondary">Away League Form</a>
                        <a href="{{ path('site_tables_league', { 'teamUrl': 'mens', 'type': 'goals' }) }}" class="btn btn-secondary">Goals Scored</a>
                        <a href="{{ path('site_tables_league', { 'teamUrl': 'mens', 'type': 'conceded' }) }}" class="btn btn-secondary">Goals Conceded</a>
                        <a href="{{ path('site_tables_league_attendance') }}" class="btn btn-secondary active">Average Attendances</a>
                    </div>
                </div>
            </div>
                    
            <div class="row">
                <div class="col text-center mb-4">
                    <a href="http://www.thenationalleague.org.uk" target="_blank"><img style="width:200px;" class="lazyload" src="{{ asset('images/main/sponsors/vanarama-league.png') }}" alt="The Vanarama National League South"></a>
                </div>
            </div>

            <div class="table-responsive">

                <table class="table leagueTable">
                    <thead>
                        <tr class="table-light">
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">Team</th>
                            <th scope="col" class="text-center">Average Attendance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attendance in table %}
                            <tr class="{{ attendance.name == 'Slough Town' ? 'slough' : '' }}">
                                <th scope="row" class="text-center">{{ attendance.position }}</th>
                                <td>{{ attendance.name }}</td>
                                <td class="text-center">{{ attendance.averageAttendance }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}