{% extends 'site/base.html.twig' %}

{% if (team.url == 'mens') %}
    {% set league = 'Vanarama National League South' %}
{% elseif (team.url == 'ladies') %}
    {% set league = 'Southern Region Women\'s Football League' %}
{% elseif (team.url == 'elite-development-squad') %}
    {% set league = 'National League U19s' %}
{% else %}
    {% set league = 'N/A' %}
{% endif %}

{% block title %}{{ league }} Table{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Tables",
    "item": "{{ url('site_tables_league', { 'teamUrl': team.url }) }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "League Table",
    "item": "{{ url('site_tables_league', { 'teamUrl': team.url }) }}"
   }]
}
</script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('site_tables_league', { 'teamUrl': team.url }) }}">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">League Table</li>
            </ol>
        </div>
    </nav>

    <section class="title  mb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>{{ league }}<br>{{ titleAffix }}</h1>
                </div>
            </div>
        </div>
    </section>

    <nav class="nav nav-pills flex-column flex-sm-row team-select" aria-label="Team Select">
      <a href="{{ path('site_tables_league', { 'teamUrl': 'mens' }) }}" class="flex-sm-fill text-sm-center nav-link {{ team.url == 'mens' ? 'active' : '' }}">Mens</a>
      <a href="{{ path('site_tables_league', { 'teamUrl': 'ladies' }) }}" class="flex-sm-fill text-sm-center nav-link {{ team.url == 'ladies' ? 'active' : '' }}">Ladies</a>
      <a href="{{ path('site_tables_league', { 'teamUrl': 'elite-development-squad' }) }}" class="flex-sm-fill text-sm-center nav-link {{ team.url == 'elite-development-squad' ? 'active' : '' }}">Elite Development Squad</a>
    </nav>

    <section class="main">
        <div class="container">

        	<div class="row d-none d-lg-block">
        		<div class="col text-center">
		            <div class="btn-group" role="group" aria-label="League Tables">
		                <a href="{{ path('site_tables_league', { 'teamUrl': team.url }) }}" class="btn btn-secondary {{ type == 'full' ? 'active' : '' }}">League Table</a>
		                <a href="{{ path('site_tables_league', { 'teamUrl': team.url, 'type': 'home' }) }}" class="btn btn-secondary {{ type == 'home' ? 'active' : '' }}">Home League Form</a>
		                <a href="{{ path('site_tables_league', { 'teamUrl': team.url, 'type': 'away' }) }}" class="btn btn-secondary {{ type == 'away' ? 'active' : '' }}">Away League Form</a>
		                <a href="{{ path('site_tables_league', { 'teamUrl': team.url, 'type': 'goals' }) }}" class="btn btn-secondary {{ type == 'goals' ? 'active' : '' }}">Goals Scored</a>
                        <a href="{{ path('site_tables_league', { 'teamUrl': team.url, 'type': 'conceded' }) }}" class="btn btn-secondary {{ type == 'conceded' ? 'active' : '' }}">Goals Conceded</a>        
                        {% if (team.url == 'mens') %}
		                <a href="{{ path('site_tables_league_attendance') }}" class="btn btn-secondary">Average Attendances</a>
                        {% endif %}
		            </div>
		        </div>
	        </div>
                            
            {% if (team.url == 'mens') %}
            <div class="row">
                <div class="col text-center mb-4">
                    <a href="http://www.thenationalleague.org.uk" target="_blank"><img style="width:200px;" class="lazyload" src="{{ asset('images/main/sponsors/vanarama-league.png') }}" alt="The Vanarama National League South"></a>
                </div>
            </div>
            {% elseif (team.url == 'ladies') %}
            <div class="row">
                <div class="col text-center mb-4">
                    <img class="lazyload" src="{{ asset('images/main/logos/southern-region-football-league.png') }}" alt="Southern Region Women's Football League">
                </div>
            </div>
            {% elseif (team.url == 'elite-development-squad') %}
            <div class="row">
                <div class="col text-center mb-4">
                    <img class="lazyload" src="{{ asset('images/main/logos/nl-u19.png') }}" alt="National League U19s">
                </div>
            </div>
            {% endif %}

            <div class="table-responsive">

                <table class="table leagueTable {{ team.url }}">
                    <thead>
                        <tr class="table-light">
                            <th scope="col" class="text-center">#</th>
                            <th scope="col">Team</th>
                            <th scope="col" class="text-center">Pl</th>
                            <th scope="col" class="text-center">W</th>
                            <th scope="col" class="text-center">D</th>
                            <th scope="col" class="text-center">L</th>
                            <th scope="col" class="text-center d-none d-sm-table-cell">F</th>
                            <th scope="col" class="text-center d-none d-sm-table-cell">A</th>
                            <th scope="col" class="text-center">GD</th>
                            <th scope="col" class="text-center">Pts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table %}
                        <tr class="{{ row.name == team.tableName ? 'slough' : '' }}">
                            <th scope="row" class="text-center">{{ row.position }}</th>
                            <td>{{ row.name }}</td>
                            <td class="text-center">{{ row.played }}</td>
                            <td class="text-center">{{ row.won }}</td>
                            <td class="text-center">{{ row.drawn }}</td>
                            <td class="text-center">{{ row.lost }}</td>
                            <td class="text-center d-none d-sm-table-cell">{{ row.for }}</td>
                            <td class="text-center d-none d-sm-table-cell">{{ row.against }}</td>
                            <td class="text-center">{{ row.goalDifference }}</td>
                            <td class="text-center">{{ row.points }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}