.article-image {
	background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    min-height: 350px;
    padding:0;

    h1, p {
    	color: $white;
    }
    .row {
        min-height: 350px;
    }
}

.article p {
    margin-bottom: 20px;
}

.media-row {
	margin-bottom:15px;
}

.copyright {
	margin-top: 15px;
}