.featured, .card-deck, .quote-card {
	margin-bottom:15px;
}

.card {
	border-radius:unset;
	border:none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.18);

	&.news {
		padding-bottom: 50px;

		.card-footer {
			position:absolute;
			bottom:0;
		}
	}

	&.fixture {
		border-top: 3px solid $amber;
	}

	&.away {
		border-top: 3px solid $blue;
	}

	&.no-border {
		border:none;
	}

	&.ads {
		img {
			margin-bottom: 10px;
		}
	}

	a {
		color: $body;

		&:hover {
			text-decoration: none;
			color: $amber;
		}
	}
	.card-img-top {
		border-radius:unset;
	}
	.card-title {
		margin-bottom: 0;
	}

	.card-text {
		font-size:.9rem;
	}
	.card-footer {
		width:100%;
		background:$white;
		border-top:none;

		small {
		font-size:.9rem;
		}
	}
	.fa-angle-double-right {
		margin-left:5px;
	}
}

.squad .card {
	border: none;
}

.quote {
	background:$light-grey;
	margin-bottom:15px;
	box-shadow: none;

	.fa-quote-left, .fa-quote-right {
		display: block;
	}
	.fa-quote-left {
		margin-right:15px;
	}
	.fa-quote-right {
		margin-left: 15px;
		text-align: right;
	}
	p {
		font-size: 1.4rem;
	}
	.card-title {
		margin-bottom: 0;
	}
}