/* Global styles */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	position: relative;
	font-size:12px;
	font-family: $font-light;
}

a:not([href]):not([tabindex]) {
	color: $white;
}

abbr[data-original-title], abbr[title] {
	text-decoration: none;
	cursor: default;
}

p {
	margin: 0;
}

.main {
	font-size:1rem;
	margin-bottom: 15px;

	&.alternative {
		background-color: $blue;
		padding:15px 0;
		color: $white;
	}
}

.rebels {
	text-align: center;
	color: $amber;
	h2 {
		font-size:3rem;
	}
}

.list-group {
	margin-bottom: 15px;
}

.badge-red {
	background-color: #dc3545;
	}
.badge-yellow {
	background-color: #ffc107;
}
.badge-red, .badge-yellow {
	display: inline !important;
	padding:3px 7px;
	margin-right: 5px;
}

.form {
	background: $light-grey;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape), screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape), screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
	.container {
		max-width:none;
	}
}

/* End global styles */