.database {

	.input-group {
		margin: 30px 0 60px;
	}

	input {
		border-color: #6c757d;
	}

	input, .fa-search {
		font-size: 25px;
	}

	.btn-outline-primary {
		color: $blue;
		border-color: $blue;

		&:hover {
			color: $white;
			border-color: $amber;
			background-color: $amber;
		}
	}

}

.opposition {
	table {
		a {
			padding:0;
		}
	}
}