#directionMap {
	width: 100%;
	height: 400px;
	background-color: $grey;
	margin-bottom: 15px;
}

.directions {
	.fa-directions, .fa-parking, .fa-bus, .fa-bicycle, .fa-train, .fa-wheelchair {
		margin-right: 5px;
	}
}

.awayDirections {
	margin-bottom: 0;

	table {
		a {
			padding:0;
		}
	}
}

#awayMap {
	width: 100%;
	height:800px;
	background-color: $grey;
	margin-bottom: 15px;
}