.fixture-list {
	h2 {
    	font-size: 3rem;
		@media (min-width: 576px) { 
			font-size: 6rem;
		}
	}
}

.fixture {
	background:$white;
	margin-bottom: 15px;
	font-size:1rem;

	.kickoff {
		font-family: $font-bold;
		font-size: 1.5rem;
		}

	.card-header {
		background:none;
		border: none;
		padding-bottom: 0;

		.match-date {
			font-family: $font-bold;
			text-transform: uppercase;
		}
	}

	.card-body {
		padding-top:0.5rem;
		padding-bottom:0.5rem;

		.match-date {
			margin-bottom: 10px;
		}

		.match-detail {
			img {
				margin-bottom: 10px;
			}

			h2 {
				font-size: 1rem;
			}
		}

		.fixture-opposition {
			span {
				font-family: $font-bold;
				font-size: 1.25rem;
				text-transform: uppercase;
				@media (min-width: 576px) { 
					font-size: 1.5rem;
				}

				&.score {
					font-size: 1.5rem;
					@media (min-width: 576px) { 
						font-size: 2rem;
					}
					margin-right: 10px;
				    border-right: 1px solid $blue;
				    padding-right: 10px;
				}
			}

			address {
				font-family: $font-light;
				margin-bottom: 0;
			}
		}
	}

	.card-footer {
		border-top: 1px solid $light-grey !important;
		font-family: $font-bold;

		span {
			margin-right: 15px;
		}
	}
}

#onthisday {
	.card-footer {
		font-family: $font-light;
	}
}


.report  {
	h1 {
		margin: 30px 0;
	}
	h2 {
		font-size: 4rem;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.matchDetails {
		padding: 20px 0 40px;
		border-top: 1px solid;

		time,span {
			font-family: $font-bold;
			margin-right: 20px;
		}
	}

	.score {
		display: block;
		font-size: 4rem;
		vertical-align: middle;
	}

	.fixture, .reportBody, .opposition {
		margin-bottom: 30px;
	}

	.opposition {
		background:$light-grey;
		padding: 15px 0 12px 0;
	}

	.squad {
		background:$light-grey;
		padding-top: 10px;

		.badge-starting {
			background-color: $amber;
			color: $blue;
		}
		.fa-plus {
			color: #dc3545;
		}

		a, .badge-starting, .badge-secondary, .badge-red, .badge-yellow, .fa-plus {
			margin-right:5px;
		}

		li {
			font-size: 18px;
			background:none;
			border:0;
			padding: 0.50rem 1.25rem;
		}
	}
	.photos {
		a {
			font-family: $font-bold;
			margin-left: 10px;
		}
	}
 }

.arrow-down {
 	display: inline-block;
 	vertical-align: middle;
 	margin-right: 7px;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #f00;
}
.arrow-up {
 	display: inline-block;
 	vertical-align: middle;
 	margin-right: 7px;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid green;
}
