/* Fonts */
@font-face {
  font-family: 'FrutigerLT-BlackCn';
  src: url('fonts/FrutigerLT-BlackCn.eot?#iefix') format('embedded-opentype'),  url('fonts/FrutigerLT-BlackCn.woff') format('woff'), url('fonts/FrutigerLT-BlackCn.ttf')  format('truetype'), url('fonts/FrutigerLT-BlackCn.svg#FrutigerLT-BlackCn') format('svg');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FrutigerLT-LightCn';
  src: url('fonts/FrutigerLT-LightCn.eot?#iefix') format('embedded-opentype'),  url('fonts/FrutigerLT-LightCn.woff') format('woff'), url('fonts/FrutigerLT-LightCn.ttf')  format('truetype'), url('fonts/FrutigerLT-LightCn.svg#FrutigerLT-LightCn') format('svg');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.6rem;
}
h3
 {
  font-size: 1.5rem;
}
 
h1, h2, h3, h4, h5 {
	font-family: $font-bold;
  text-transform:uppercase;
}

span {
    font-family: $font-light;
}

p {
  font-size:0.9rem;
	color: $grey;

  span {
    font-family: $font-bold;
  }
}

li {
  font-size:0.9rem;
  color: $grey;

  span {
    font-family: $font-bold;
  }
}

address {
  span {
    font-family: $font-bold;
  }
}


.btn-link {
  color:$blue;
  padding:0;

  &:hover {
    color:$amber;
    text-decoration:none;
  }

  &.external {
    margin-bottom: 10px;
    padding-left: 0;
  }
  .fa-external-link-alt {
    margin-right: 5px;
  }
}

.btn-primary {
  background-color:$blue;
  border-color: $blue;

  &:hover {
    background-color:$amber;
    border-color: $amber;
  }

}

.article { 
  p {
    margin-bottom: 20px;
  }
  a.btn-link {
    padding:0;
  }
}

.fa-file {
  margin-right: 5px; 
}
.fa-play-circle {
  margin-right: 5px; 
}
.fa-ticket-alt {
  margin-right: 5px;
}
.fa-tv {
  margin-right: 5px;
}
.fa-chart-line {
  margin-right: 5px;
}
.fa-star {
  margin-right: 5px; 
}