footer {
	border-top: 5px solid $blue;
	padding-bottom: 15px;
	background: $amber-comp;
	color:$white;

	.nav-link {
		font-size: 0.8rem;
	}

	.sponsors {
		margin-bottom:15px; 

		a {
			display: inline-block;
			width:100px;
			margin: 0 10px;

			:last-child {
				margin-right: 0;
			}
		}
	}

	.primary-sponsors {
		margin-top:15px;
	}
	.secondary-sponsors {
		margin-bottom: 40px;
	}

	.social {
		display:inline-block;
		width:40px;
		height:40px;
		margin-right:15px;

		&.facebook {
			background-image:url("/images/main/icons/social/facebook.svg");
		}
		&.twitter {
			background-image:url("/images/main/icons/social/twitter.svg");

		}
		&.youtube {
			background-image:url("/images/main/icons/social/youtube.svg");

		}
		&.instagram {
			background-image:url("/images/main/icons/social/instagram.svg");
			margin-right:0;
		}
	}
}

.terms {
	background:$grey;

	.nav-link {
		font-size: 0.6rem;
	}

	p {
		color: $white;
		font-size: 0.6rem;
		padding-bottom: 10px;
	}
}

@media (min-width: 576px) {
	.terms {
		.nav-link {
			font-size: 0.8rem;
		}
		p {
			font-size: 0.8rem;
			padding-bottom: 0;
		}
	}
}
