.jumbo-link {
	text-decoration: none;

	&:hover {
	    text-decoration:none;
	}

	.article-image {
		min-height: 500px;

		.row {
			min-height: 500px;
		}
	}
}

.home {
	.latest {
		ul {
			list-style: none;
			display: flex;
			padding: 0;
			margin:0;
			justify-content: space-evenly;

			li {
				font-family: $font-bold;
				font-size: 30px;
				height: 65px;

				&.score {
					padding-top: 10px;
				}
			}
		}

		.fixture-opposition span {
			font-family: "FrutigerLT-BlackCn";
	    	font-size: 1.5rem;
	    	text-transform: uppercase;
	   	}

	   	.fixture-opposition address {
	   		font-family: "FrutigerLT-LightCn";
	   		margin-bottom: 0;
	   	}

	   	.table {
	   		margin-bottom: 0;
	   	}

		.table thead th {
			border:none;
			padding-top: 0;
		}
		.table td, .table th {
			border-top: 2px solid #efaf12;
			font-size: 16px;
			padding: 0.25rem;
			text-align: center;
			vertical-align: middle;
		}
		.table td.position {
			font-family: $font-bold;
			font-size: 30px;
			width: 50%;
			color: $amber;
		}
	}

	.in-the-media {
		.external {
			white-space: pre-wrap;
    		text-align: left;
		}
	}
}

.carousel-item img {
	margin:10px;
}
.block4-wrap {
	display:flex
}
.block4 {
	flex:1 0 25%;
	color:$white;
}
.my-captions {margin:10px;padding-bottom:3em;}
.my-captions p {color:$white; }

.block4-wrap img {width:257px; }
.block4-wrap h5:hover { color: #efaf12; }
.block4-wrap a { text-decoration:none; }


/* fix width and make user scroll with mouse/touch to see the items */
@media screen and (max-width:768px){
	.block4{max-width:280px;flex:1 0 100%;overflow:hidden}	
	.carousel{overflow:hidden;}
	.carousel-inner{overflow-x:visible;}
}
@media screen and (max-width:480px){
	.block4{max-width:240px;}	
}

