.btn-group {
	margin-bottom: 20px;

	.btn-secondary {
		background-color: $blue;
		border-color: $blue;

		&.active {
			background-color: $amber !important;
			border-color: $amber !important;
		}
		&:hover {
			background-color: $amber !important;
			border-color: $amber !important;
		}
	}
}

.table-light>th {
	background: $blue;
	color: $white;
}

.leagueTable {
	background: $white;

	&.mens {
		tr {
			&:nth-child(2) td, &:nth-child(2) th, &:nth-child(8) td, &:nth-child(8) th, &:nth-child(21) td, &:nth-child(21) th {
				border-top: 1px dashed $grey;
			}
		}
	}
	&.ladies, &.u23s {
		tr {
			&:nth-child(2) td, &:nth-child(2) th {
				border-top: 1px dashed $grey;
			}
		}
	}
	tr {
		&.slough {
			color: $amber;
			background: $light-grey;
			font-family: $font-bold;
		}
	}
}	