$amber: #efaf12;
$amber-comp: #F8C444;
$blue: #000c34;
$white: #fff;
$black: #000;
$grey: #464646;
$light-grey: #f7f7f7;
$body: #212529;

$font-bold: 'FrutigerLT-BlackCn';
$font-light: 'FrutigerLT-LightCn';

@import 'fonts';
@import 'homepage';
@import 'navigation';
@import 'notification';
@import 'breadcrumb';
@import 'container';
@import 'title';
@import 'article';
@import 'fixtures';
@import 'leagueTables';
@import 'directions';
@import 'card';
@import 'squad';
@import 'database';
@import 'footer';