header {
	background-color: $amber;
}

/* Desktop Navigation */
.main-logo {
	padding: 15px 40px 15px 0;
}

.nav_desktop {

	.dropdown:hover>.dropdown-menu {
	  display: block;
	}

	.dropdown-menu {
		top:35px;
		background: $amber-comp;
		border: none;
		border-radius: unset;
	
		.dropdown-item {
			color: $white;
			text-transform: uppercase;
			transition: color .2s linear;

			&:hover { color: $blue; background: none; }
			&:active  { color: $blue; }

			> span {font-family: $font-bold;}
		}
	}
}

.nav-link {
	font-family: $font-light;
	font-size: 14px;
	letter-spacing: 1px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	transition: color .2s linear;

	&:hover { color: $blue; }
	&:active  { color: $blue; }

	> span {font-family: $font-bold;}

	&.dropdown-toggle {
		&:after {
			display: none;
		}
	}
}

#secondary-nav {
	width: 100%;
	border-bottom: 1px solid hsla(0,0%,100%,.3);

	.nav-link {
		font-size: 12px;
		font-family: $font-bold;
	}
}

/* Mobile Navigation */
.nav_mobile {
	
	.nav-link {
		padding-left:30px; 

		&.dropdown-toggle {
			&:after {
				display: inline-block;
			}
		}
	}

	.dropdown-menu {
		background: $amber;
		border: none;
		border-radius: unset;
	
		.dropdown-item {
			color: $white;
			padding-left:2.5rem;
			text-transform: uppercase;
			transition: color .2s linear;

			> span {font-family: $font-bold;}
		}
	}

	.mobile-league {
		position: absolute;
    	right: 70px;
    	top: 23px;
		width:100px;
	}
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: $white;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
	position: absolute;
	top:20px;
	right: 10px;
	border: none;
	background: transparent !important;

	.top-bar {
		transform: rotate(45deg);
		transform-origin: 10% 10%;
	}
	.middle-bar { opacity: 0; }
	.bottom-bar {
		transform: rotate(-45deg);
		transform-origin: 10% 90%;
	}
	&.collapsed .top-bar { transform: rotate(0); }
	&.collapsed .middle-bar { opacity: 1; }
	&.collapsed .bottom-bar { transform: rotate(0); }
}


.nav-pills {
    border-top: 2px solid $amber;
	margin-bottom: 20px;

	.nav-link {
		border-radius:0;
	}
	a {
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		background-color: $blue;
		border-color: $blue;
		&.active {
			background-color: $amber !important;
			border-color: $amber !important;
		}
		&:hover {
			background-color: $amber !important;
			border-color: $amber !important;
			color: $white;
		}
	}
}

#accordion {
	button {
		background:none;

		&:hover {
			color: $amber;
		}
	}
}

.nav-tabs {
	border-bottom: 2px solid $amber;
	.nav-item {
		background-color: $blue;
		border-color: $blue;
	}

	.nav-link {
		border-radius: 0;
	}
	a {
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		&.active {
			color: $white;
			background-color: $amber !important;
			border-color: $amber !important;
		}
		&:hover {
			background-color: $amber !important;
			border-color: $amber !important;
		}
	}
}

#footer-nav {
	.nav-link {
		font-family: $font-bold;
	}
}