.notification {	
	background: $grey;
	color: $white;
	line-height:1.2;
	font-size: 16px;

	h4 {
		font-size:16px;
		color: $white;
		margin: 0;
	}

	img {
		max-width: 50px;
		padding: 10px 0;
	}

	.team-name, #position {
		font-family:$font-bold;
	}

	.next-match-mobile {
		background: $grey;
		color: $white;
		text-align: center;

		.team-name {
			font-size:14px;
			text-align:left;

			span {
				font-family:$font-light;
			}
		}
	}

	.mens-league-position {
		img {
			max-width:150px;
			padding: 15px 0 0;
		}

		#position, #points {
			padding-top: 18px;
		}
	}
}

.message {
	background:$blue; 
	border-top: 1px solid $amber;
	border-bottom: 1px solid $amber;

	&.sticky {
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index:1000;
	}

	a {
		&:hover {
			text-decoration: none;
		}
	}
	h5 {
		margin-top:.5rem; 
		color: $amber;
	}
}