.player-name {
	line-height: 1;

	span, h1 {
		display: inline;
	}
	span {
		color: $amber;
		font-family: $font-bold;
		font-size:4rem;
		margin-right: 15px;
	}
}

.profile {
	.stats {
		margin-bottom: 15px;

		h2 {
			margin-top: 15px;
		}
		img {
			width: 100%;
		}
	}

	span {
		font-family: $font-bold;
	}

	.bio {
		margin-bottom: 15px;
	}

	table {
		a {
			padding:0;
		}
	}

	h5 {
		color: $amber;
		background: $blue;
		text-align: center;
	}
}

.squad {

	h2 {
		padding-bottom: 10px;
    	margin-bottom: 25px;
    	font-size: 3rem;
		@media (min-width: 576px) { 
			font-size: 6rem;
		}
	}

	.card {
		margin-bottom: 15px;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.18);

		.squad-number {
			color: $amber;
			font-family: $font-bold;
			font-size: 2.5rem;
			@media (min-width: 576px) { 
				font-size: 4.5rem;
			}

		}

		.card-title {
			font-size:1.25rem;
			margin-bottom: 1rem;
			@media (min-width: 576px) { 
				font-size:2rem;
			}
		}

		.card-text {
			margin-bottom: 1rem;
		}

		.role {
			font-family: $font-bold;
			text-transform: uppercase;
		}

		h5 {
			color: $amber;
			background: $blue;
			text-align: center;
		}
	}
}

.fa-futbol{
	margin-right: 5px;
}

.fa-mitten {
	margin-right: 5px;
}

.fa-tshirt {
	margin-right: 5px;
}