{% extends 'site/base.html.twig' %}

{% block title %}{{ report.reportHeadline }}{% endblock %}
{% block description %}{{ report.reportExcerpt }}{% endblock %}
{% block socialAsset %}{{ absolute_url(report.reportPictureUrl) }}{% endblock %}


{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Fixtures & Reports",
    "item": "{{ url('site_fixtures_index', { 'teamUrl': report.team.url }) }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "{{ report.reportHeadline }}",
    "item": "{{ url('site_reports_index', { id: report.id }) }}"
   }]
}
</script>

    {% if report.isHome %}
        {% set home, away = 'Slough Town', report.opposition.name %}
    {% else %}
        {% set home, away = report.opposition.name, 'Slough Town' %}
    {% endif %}

    {% set isFriendly = report.competition.name == 'Friendly' %}

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('site_fixtures_index', { 'teamUrl': report.team.url }) }}">Fixtures &amp; Reports</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ report.reportHeadline }}</li>
            </ol>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid article-image" style="background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('{{ report.reportPictureUrl }}');">
         <div class="container">
            <div class="row">
                <div class="col align-self-end mb-3">
                    <h1 class="display-4">{{ report.reportHeadline }}</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="main">
        <div class="container report">


                <div class="row">
                    <div class="col-6 col-md-11">
                        {% if report.isHome %}
                        <img width="100" class="lazyload mr-3" data-src="{{ asset('images/main/menu-badge.png') }}" alt="{{ home }}">
                        {% else %}
                        <img width="100" class="lazyload mr-3" data-src="{{ report.opposition.logo }}" alt="{{ home }}">
                        {% endif %}
                        <h2 class="d-none d-lg-inline-block">{{ home }}</h2>
                    </div>
                    <div class="col-6 col-md-1 text-right">
                        <span class="score">{{ report.reportHomeScore }}</span>
                    </div>
                </div>
                {% if report.reportHomeScorers is not empty %}
                <div class="row">
                    <div class="col text-right">
                        <i class="fas fa-futbol"></i>{{ report.reportHomeScorers }}
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-6 col-md-11">
                        {% if report.isHome %}
                        <img width="100" class="lazyload mr-3" data-src="{{ report.opposition.logo }}" alt="{{ away }}">
                        {% else %}
                        <img width="100" class="lazyload mr-3" data-src="{{ asset('images/main/menu-badge.png') }}" alt="{{ away }}">
                        {% endif %}
                        <h2 class="d-none d-lg-inline-block">{{ away }}</h2>
                    </div>
                    <div class="col-6 col-md-1 text-right">
                        <span class="score">{{ report.reportAwayScore }}</span>
                    </div>
                </div>
                {% if report.reportAwayScorers is not empty %}
                <div class="row">
                    <div class="col text-right">
                        <i class="fas fa-futbol"></i>{{ report.reportAwayScorers }}
                    </div>
                </div>
                {% endif %}

                <div class="row matchDetails mt-3">
                    <div class="col">
                        <time class="date" datetime="{{ report.matchDate|date('Y-m-d') }}">{{ report.matchDate|date('d F Y') }}</time>
                        <time class="date d-none d-lg-inline-block" datetime="{{ report.kickOff|date('H:i') }}">{{ report.kickOff|date('H:i') }}</time>
                        <span class="d-none d-lg-inline-block">{{ report.competition.name }}</span>
                        {% if report.reportAttendance|default('0') > 0 %}
                            <span>Attendance: {{ report.reportAttendance }}</span>
                        {% endif %}
                        {% if report.reportMom is not empty %}
                            <span class="text-nowrap"><i class="far fa-star"></i>{{ report.reportMom.firstName }} {{ report.reportMom.lastName }}</span>
                    {% endif %}
                    </div>
                </div>

                {% if report.videoUrl is not empty %}
            <div class="row media-row">
                <div class="col">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" type="text/html" src="https://www.youtube.com/embed/{{ report.videoURL }}" allowfullscreen frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row justify-content-center reportBody">
                {% if not isFriendly %}
                <div class="col-12 col-md-8 mb-3">
                {% else %}
                <div class="col-12">
                {% endif %}
                    {{ report.reportBody|raw|nl2br }}
                </div>
                {% if not isFriendly %}
                <div class="col squad">
                    <h3>Slough Town Lineup</h3>
                    <ul class="list-group list-group-flush">
                    {% for stat in report.stats|slice(0, 11) %}
                        <li class="list-group-item">
                        <span class="badge badge-starting">{{ stat.shirt }}</span>
                        <a href="{{ namepath('site_profile_index', { 'id': stat.player.id, 'name': stat.player.urlname }) }}" class="btn btn-link">{{ stat.player.firstName }} {{ stat.player.lastName }}</a>
                        {% if stat.goals|default('0') > 0 %}
                            {% for i in range(1, stat.goals) %}
                                <i class="fas fa-futbol"></i>
                            {% endfor %}
                        {% endif %}
                       {% if stat.bookings|default('0') > 0 %}
                            {% if stat.bookings == 1 %}
                                <span class="badge badge-yellow"></span>
                            {% else %}
                                <span class="badge badge-red"></span>
                            {% endif %}
                        {% endif %}
                        {% if stat.injured  == 'Y' %}
                            <i class="fas fa-plus"></i>
                        {% endif %}
                        {% if stat.subShirt|default('0') > 0 %}
                            <div class="arrow-down"></div><span class="badge badge-secondary">{{ stat.subShirt }}</span>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    <h3>Substitutes</h3>
                    <ul class="list-group list-group-flush">
                    {% for stat in report.stats|slice(11) %}
                        <li class="list-group-item">
                        <span class="badge badge-starting">{{ stat.shirt }}</span>
                        <a href="{{ namepath('site_profile_index', { 'id': stat.player.id, 'name': stat.player.urlname }) }}" class="btn btn-link">{{ stat.player.firstName }} {{ stat.player.lastName }}</a>
                        {% if stat.goals|default('0') > 0 %}
                            {% for i in range(1, stat.goals) %}
                                <i class="fas fa-futbol"></i>
                            {% endfor %}
                        {% endif %}
                        {% if stat.bookings|default('0') > 0 %}
                            {% if stat.bookings == 1 %}
                                <span class="badge badge-yellow"></span>
                            {% else %}
                                <span class="badge badge-red"></span>
                            {% endif %}
                        {% endif %}
                        {% if stat.injured  == 'Y' %}
                            <i class="fas fa-plus"></i>
                        {% endif %}
                        {% if stat.subShirt|default('0') > 0 %}
                            <div class="arrow-up"></div><span class="badge badge-secondary">{{ stat.subShirt }}</span>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                {% if isFriendly %}
                <div class="row opposition">
                    <div class="col-12">
                        <h3>Slough Town Line up</h3>
                        <p>{{ report.reportFriendlyTeam }}</p>
                    </div>
                </div>
                {% endif %}

            </div>

            {% if not isFriendly %}
            <div class="row opposition">
                <div class="col-12">
                    <h3>{{ report.opposition.name }} Lineup</h3>
                    <p>{{ report.reportAwayTeam }}</p>
                </div>
            </div>
            {% endif %}

        </div>
    </section>

{% endblock %}
