{% extends 'admin/main.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% if notifications|length > 0 %}
            <div class="row">
                <div class="col-12">
                    {% for notification in notifications %}
                        <div class="notice shadow notice-info">
                            <strong>{{ notification.title }}</strong> {{ notification.message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12">
                <h1 class="h3">Mens</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Fixtures & Reports</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_fixture_add', { 'teamUrl': 'mens' }) }}" class="btn btn-primary btn-sm">Add a fixture</a>
                        <a href="{{ path('admin_fixture_index', { 'teamUrl': 'mens' }) }}" class="btn btn-secondary btn-sm">Search fixtures</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Players & Staff</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_player_add', { 'teamUrl': 'mens' }) }}" class="btn btn-primary btn-sm">Add player</a>
                        <a href="{{ path('admin_player_index', { 'teamUrl': 'mens' }) }}" class="btn btn-secondary btn-sm">Search players</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Opposition</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_opposition_add', { 'teamUrl': 'mens' }) }}" class="btn btn-primary btn-sm">Add opposition</a>
                        <a href="{{ path('admin_opposition_index', { 'teamUrl': 'mens' }) }}" class="btn btn-secondary btn-sm">Search opposition</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Competitions</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_competition_add', { 'teamUrl': 'mens' }) }}" class="btn btn-primary btn-sm">Add a competition</a>
                        <a href="{{ path('admin_competition_index', { 'teamUrl': 'mens' }) }}" class="btn btn-secondary btn-sm">Search competitions</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
            </div>
            <div class="col-12 col-md-4">
            </div>	
        </div>

        <div class="row">
            <div class="col-12">
                <h1 class="h3">Ladies</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Fixtures & Reports</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_fixture_add', { 'teamUrl': 'ladies' }) }}" class="btn btn-primary btn-sm">Add a fixture</a>
                        <a href="{{ path('admin_fixture_index', { 'teamUrl': 'ladies' }) }}" class="btn btn-secondary btn-sm">Search fixtures</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Players & Staff</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_player_add', { 'teamUrl': 'ladies' }) }}" class="btn btn-primary btn-sm">Add player</a>
                        <a href="{{ path('admin_player_index', { 'teamUrl': 'ladies' }) }}" class="btn btn-secondary btn-sm">Search players</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Opposition</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_opposition_add', { 'teamUrl': 'ladies' }) }}" class="btn btn-primary btn-sm">Add opposition</a>
                        <a href="{{ path('admin_opposition_index', { 'teamUrl': 'ladies' }) }}" class="btn btn-secondary btn-sm">Search opposition</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Competitions</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_competition_add', { 'teamUrl': 'ladies' }) }}" class="btn btn-primary btn-sm">Add a competition</a>
                        <a href="{{ path('admin_competition_index', { 'teamUrl': 'ladies' }) }}" class="btn btn-secondary btn-sm">Search competitions</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
            </div>
            <div class="col-12 col-md-4">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h1 class="h3">Elite Development Squad</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Fixtures & Reports</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_fixture_add', { 'teamUrl': 'elite-development-squad' }) }}" class="btn btn-primary btn-sm">Add a fixture</a>
                        <a href="{{ path('admin_fixture_index', { 'teamUrl': 'elite-development-squad' }) }}" class="btn btn-secondary btn-sm">Search fixtures</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Players & Staff</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_player_add', { 'teamUrl': 'elite-development-squad' }) }}" class="btn btn-primary btn-sm">Add player</a>
                        <a href="{{ path('admin_player_index', { 'teamUrl': 'elite-development-squad' }) }}" class="btn btn-secondary btn-sm">Search players</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Opposition</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_opposition_add', { 'teamUrl': 'elite-development-squad' }) }}" class="btn btn-primary btn-sm">Add opposition</a>
                        <a href="{{ path('admin_opposition_index', { 'teamUrl': 'elite-development-squad' }) }}" class="btn btn-secondary btn-sm">Search opposition</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Competitions</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_competition_add', { 'teamUrl': 'elite-development-squad' }) }}" class="btn btn-primary btn-sm">Add a competition</a>
                        <a href="{{ path('admin_competition_index', { 'teamUrl': 'elite-development-squad' }) }}" class="btn btn-secondary btn-sm">Search competitions</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
            </div>
            <div class="col-12 col-md-4">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h1 class="h3">General</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">News</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_news_add') }}" class="btn btn-primary btn-sm">Add an article</a>
                        <a href="{{ path('admin_news_index') }}" class="btn btn-secondary btn-sm">Search articles</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">In The Media</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_media-item_add') }}" class="btn btn-primary btn-sm">Add news link</a>
                        <a href="{{ path('admin_media-item_index') }}" class="btn btn-secondary btn-sm">Search news links</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Update Notification</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_notification_index') }}" class="btn btn-primary btn-sm">Add Notification</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h1 class="h3">Admin</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Seasons</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_season_add') }}" class="btn btn-primary btn-sm">Add a season</a>
                        <a href="{{ path('admin_season_index') }}" class="btn btn-secondary btn-sm">Search seasons</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Gallery</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_gallery_upload') }}" class="btn btn-primary btn-sm">Upload a picture</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold">Users</h6>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('admin_user_add') }}" class="btn btn-primary btn-sm">Add user</a>
                        <a href="{{ path('admin_user_index') }}" class="btn btn-secondary btn-sm">Search users</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
