{% extends 'admin/sidebar.html.twig' %}

{% block title %}{{ type }} Opposition{% endblock %}

{% block form %}
<div class="row">
    <div class="col-12">
        <h2>{{ type }} Opposition</h2>
    </div>
</div>

<div class="card shadow">

    <div class="card-body">
    
        {{ form_start(form) }}

        <div class="form-group row">
            {{ form_label(form.team, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.team) }}
            <div class="col-sm-10">
                {{ form_widget(form.team, {'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_help(form.team) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.name) }}
                <div class="col-sm-10">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.name) }}
        </div>
        
        <div class="form-group row">
            <div class="col-sm-2">
                {{ form_label(form.logo, null, {'label_attr': {'class': 'col-form-label'} }) }}
                <button type="button" class="btn btn-primary btn-sm btn-image-gallery" data-url="{{ path('admin_gallery_list') }}" data-target-id="{{ form.logo.vars.id }}">Pick</button>             
                {{ form_errors(form.logo) }}
            </div>
                <div class="col-sm-10">
                    {{ form_widget(form.logo, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.logo) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.website, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.website) }}
                <div class="col-sm-10">
                    {{ form_widget(form.website, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.website) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.groundsVenue, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.groundsVenue) }}
                <div class="col-sm-10">
                    {{ form_widget(form.groundsVenue, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.groundsVenue) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.groundsAddress, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.groundsAddress) }}
                <div class="col-sm-10">
                    {{ form_widget(form.groundsAddress, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.groundsAddress) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.groundsTelephone, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.groundsTelephone) }}
                <div class="col-sm-10">
                    {{ form_widget(form.groundsTelephone, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.groundsTelephone) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.groundsDirections, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.groundsDirections) }}
                <div class="col-sm-10">
                    {{ form_widget(form.groundsDirections, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.groundsDirections) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.groundsLat, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.groundsLat) }}
                <div class="col-sm-10">
                    {{ form_widget(form.groundsLat, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.groundsLat) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.groundsLng, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.groundsLng) }}
                <div class="col-sm-10">
                    {{ form_widget(form.groundsLng, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.groundsLng) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.notes, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.notes) }}
                <div class="col-sm-10">
                    {{ form_widget(form.notes, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.notes) }}
        </div>
        
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }}
        
        {{ form_end(form) }}
    </div>
</div>

<script type="text/javascript" src="{{ asset('js/image-gallery.js') }}"></script> 
{% endblock %}
