{% extends 'site/base.html.twig' %}

{% block title %}Directions to {{ opposition.name }}{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Away Directions",
    "item": "{{ url('site_directions_away_index') }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "Directions to {{ opposition.name }}",
    "item": "{{ nameurl('site_directions_away_directions', { 'id': opposition.id, 'name': opposition.urlname }) }}"
   }]
}
</script>

<script>
function initMap() {
  var home = {lat: {{ opposition.groundsLat }}, lng: {{ opposition.groundsLng }}};
  var map = new google.maps.Map(
      document.getElementById('directionMap'), {zoom: 16, center: home, streetViewControl:false, mapTypeControl: false});
  var marker = new google.maps.Marker({position: home, map: map});
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAiRfweSLtjEJnOp6NcJmbxrCB6PBjr6E&callback=initMap">
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('site_directions_away_index') }}">Away Directions</a></li>
            <li class="breadcrumb-item active" aria-current="page">Directions to {{ opposition.name }}</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Directions to {{ opposition.name }}</h1>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article directions">
        <div class="row">
            <div class="col-xs-12 col-md-3">

            	<address>
				<span>{{ opposition.name }}</span><br>
				{{ opposition.groundsVenue }}<br>
				{{ opposition.groundsAddress }}<br>
				{{ opposition.groundsTelephone }}
				</address>

				<p><i class="fas fa-directions"></i><a href="https://www.google.com/maps/search/?api=1&query={{ opposition.groundsLat }},{{ opposition.groundsLng }}" class="btn btn-link" target="_blank">Get Directions</a></p>
			</div>

			<div class="col-xs-12 col-md-9">
				<div id="directionMap"></div>
			</div>
		</div>

		<div class="row">
        	<div class="col">

				<h2><i class="fas fa-directions"></i>Directions</h2>

				{{ opposition.groundsDirections|raw|nl2br }}
			</div>
        </div>
    </div>
</section>
    
{% endblock %}