{% extends 'site/base.html.twig' %}

{% block title %}Away Directions{% endblock %}

{% block body %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Away Directions",
    "item": "{{ url('site_directions_away_index') }}"
   }]
}
</script>

<script>
    function initMap() {
        var home = {lat: 51.5198478, lng: -0.5904887};
        var locations = [
    {% for opposition in oppositions %}
                ['<b>{{ opposition.name }}</b><br>{{ opposition.groundsAddress }}<br><a href="{{ namepath('site_directions_away_directions', { 'id': opposition.id, 'name': opposition.urlname }) }}">Get Directions</a>', {{ opposition.groundsLat }}, {{ opposition.groundsLng }}],
    {% endfor %}
            ];
            var map = new google.maps.Map(document.getElementById('awayMap'), {
                zoom: 8,
                center: home,
                streetViewControl: false, mapTypeControl: false
            });
            var infowindow = new google.maps.InfoWindow({});
            var marker, count;
            for (count = 0; count < locations.length; count++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[count][1], locations[count][2]),
                    map: map,
                    title: locations[count][0]
                });
                google.maps.event.addListener(marker, 'click', (function (marker, count) {
                    return function () {
                        infowindow.setContent(locations[count][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, count));
            }
        }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAiRfweSLtjEJnOp6NcJmbxrCB6PBjr6E&callback=initMap">
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Away Directions</li>
        </ol>
    </div>
</nav>

<section class="title awayDirections">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Away Directions</h1>
                <p>Directions to Slough's forthcoming opponents.</p>
            </div>
        </div>
    </div>
</section>

<section class="main awayDirections">
    <div id="awayMap"></div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="table-responsive">

                    <table class="table table-sm">
                        <thead>
                            <tr class="table-light">
                                <th scope="col">Club</th>
                                <th scope="col" class="text-center">Venue</th>
                                <th scope="col" class="text-center">Directions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for opposition in oppositions %}
                                <tr>
                                    <th scope="row">{{ opposition.name }}</th>
                                    <td class="text-center">{{ opposition.groundsVenue }}</td>
                                    <td class="text-center"><a href="{{ namepath('site_directions_away_directions', { 'id': opposition.id, 'name': opposition.urlname }) }}" class="btn btn-link">View Directions</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}