{% extends 'site/base.html.twig' %}

{% block title %}Directions to Arbour Park{% endblock %}

{% block head %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Directions to Arbour Park",
    "item": "{{ url('site_directions_index') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Directions to Arbour Park</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Directions to Arbour Park</h1>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article directions">
        <div class="row">
            <div class="col-xs-12 col-md-3">

            	<address>
				<span>Slough Town FC</span><br>
				Arbour Park<br>
				Stoke Road<br>
				Slough<br>
				Berkshire<br>
				07792 126124
				</address>

				<p><i class="fas fa-directions"></i><a href="https://www.google.com/maps/search/?api=1&query=Slough+Town+F.C." class="btn btn-link" target="_blank">Get Directions</a></p>

				<p>Please note the Arbour Park <a href="groundregs" class="btn btn-link">ground regulations</a>.</p>
			</div>

			<div class="col-xs-12 col-md-9">
				<div id="directionMap"></div>
			</div>
		</div>

		<div class="row">
        	<div class="col">

				<h2><i class="fas fa-directions"></i>Directions</h2>

				<p><span>From the M4:</span> Exit at Junction 5 (signposted Colnbrook/Datchet/Langley) and head west on London Road (A4). Pass the Sainsbury’s Superstore on your right hand side and drive straight over the roundabout, continuing on London Road. Pass the Tesco Slough Extra store and then the turning to Slough Rail station on your right and at the next junction, turn right onto Stoke Road (B416). Continue along Stoke Road for 0.7 miles, going straight ahead at the crossroads with Shaggy Calf Lane and Elliman Avenue (following the signpost to Slough Cemetery & Crematorium, Wexham Park Hospital and Stoke Poges). The entrance to Arbour Park is a few hundred yards further on the right hand side.</p>

				<p><span>From the M25 (north):</span> Exit at Junction 16 and join the M40 to Uxbridge/London (West). At Junction 1, exit and follow signs to Slough/A412/Uxbridge/A4020. At the roundabout, exit onto Denham Road (A412). Continue over two roundabouts and at the ‘Five Points’ roundabout (with the Crooked Billet pub/restaurant), take the third exit and continue on Uxbridge Road (A412). Continue at the first set of lights, and at the second turn right onto Church Lane. Continue over two roundabouts, passing The South Buckinghamshire Golf Club and then Slough Cemetery & Crematorium on your right hand side. Continue over one more mini-roundabout and the entrance to Arbour Park will be on your left hand side.</p>

				<p><span>From the M25 (south):</span> Exit at Junction 15 (signposted Reading/Slough) onto the M4. Exit the M4 at Junction 5 (signposted Colnbrook/Datchet/Langley). Head west on London Road (A4). Pass the Sainsbury’s Superstore on your right hand side and drive straight over the roundabout, continuing on London Road. Pass the Tesco Slough Extra store and then the turning to Slough Rail station on your right and at the next junction, turn right onto Stoke Road (B416). Continue along Stoke Road for 0.7 miles, going straight ahead at the crossroads with Shaggy Calf Lane and Elliman Avenue (following the signpost to Slough Cemetery & Crematorium, Wexham Park Hospital and Stoke Poges). The entrance to Arbour Park is a few hundred yards further on the right hand side.</p>

				<p><span>From the M3:</span> Exit at Junction 2 onto the M25 (signposted M4/M1/Heathrow Airport). Exit at Junction 15 (signposted Reading/Slough) onto the M4. Exit the M4 at Junction 5 (signposted Colnbrook/Datchet/Langley). Head west on London Road (A4). Pass the Sainsbury’s Superstore on your right hand side and drive straight over the roundabout, continuing on London Road. Pass the Tesco Slough Extra store and then the turning to Slough Rail station on your right and at the next junction, turn right onto Stoke Road (B416). Continue along Stoke Road for 0.7 miles, going straight ahead at the crossroads with Shaggy Calf Lane and Elliman Avenue (following the signpost to Slough Cemetery & Crematorium, Wexham Park Hospital and Stoke Poges). The entrance to Arbour Park is a few hundred yards further on the right hand side.</p>

				<p><span>From the M40:</span> Exit at Junction 2 (Beaconsfield) and travel on the A355 towards Slough. Take a left turn onto Parish Lane and follow it to the end, where you will turn right onto Windsor Road (B416). At the next roundabout, take the second exit. You will pass The South Buckinghamshire Golf Club and then Slough Cemetery & Crematorium on your right hand side. Continue over one more mini-roundabout and the entrance to Arbour Park will be on your left hand side.</p>

				<p>The postcode to use for sat navs is SL2 5AY.</p>

				<h2><i class="fas fa-parking"></i>Parking</h2>

				<p>There are several options for supporters travelling by car.</p>

				<p>On first team match days, all spaces at Arbour Park are reserved for players, officials, guests, or Blue Badge holders.</p>

				<p><span>Lynch Hill Enterprise Academy Reserved</span></p>

				<p>We have access to the car park at Lynch Hill Enterprise Academy (next to Arbour Park) on matchdays. There is a limited number of unreserved spaces here for all supporters, available on a first come, first served basis. Please follow the directions of our stewards. Occasionally, this car park will not be available to the club – we will advise in the days leading up to specific matches.</p>

				<p><span>St Joseph’s School</span></p>

				<p>Supporters can buy parking permits from the club to enable them to park at St Joseph’s Catholic High School (SL2 5HN). Slough Town supporters with a permit will have a reserved parking space. There are no unreserved spaces here. To purchase a permit, visit: https://ethicalticketing.org/slough-town-fc/memberships</p>

				<p><span>Other car parks</span></p>

				<p>There are several car parks within walking distance. We would strongly encourage supporters to car-share or travel by public transport where possible. There are many public car parks nearer the town centre which are within walking distance of Arbour Park. Click here for a map of local car parks within walking distance of Arbour Park.</p>

				<p>If you park in residential streets, please be respectful to our neighbours – keep noise to a minimum, and do not litter. When parking, do not block entranceways and driveways, and do not park dangerously, including on blind corners.</p>

				<h2><i class="fas fa-bus"></i>Bus</h2>

				<p><span>7</span> - Operated by First Bus (To Britwell). Every 15 mins Monday-Saturday daytime, every 60 mins in the evenings and Sundays</p>

				<p><span>WP1</span> - Operated by Redline Bus (To Wexham Park Hospital). Every 20 mins Monday-Friday daytime, every 30 mins on Saturday and Sunday evenings. Please note that some Monday-Friday evening routes serve the Park & Ride (for Wexham Park staff) which stops at Wexham Park Stadium, these operate via Wexham Road and Shaggy Calf Lane rather than the main service via Stoke Road.</p>

				<p><span>12</span> - Operated by First Bus every 30 mins Monday-Saturday daytime. Note there is no evening service running on this route for evening games.</p>

				<h2><i class="fas fa-bicycle"></i>Cycle</h2>

				<p>Arbour Park has a cycle rack at the front of the main building, nearest to turnstile 4 (south-west corner of the ground).</p>

				<h2><i class="fas fa-wheelchair"></i>Disabled parking</h2>

				<p>There are designated parking spaces for Blue Badge holders at Arbour Park. There is a limited number of allocated spaces, so please contact the club in advance if you require a space by emailing <a href="mailto:gensec@sloughtownfc.net?subject=Disabled Parking" class="btn btn-link">gensec@sloughtownfc.net</a>.</p>

			</div>
        </div>
    </div>
</section>

<script>
    var map = L.map('directionMap').setView([51.519975, -0.588300], 16);
    
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
       maxZoom: 17,
       attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    
    L.marker([51.519975, -0.588300]).addTo(map);
</script>
            
{% endblock %}