{% extends 'admin/sidebar.html.twig' %}

{% block title %}{{ type }} Fixture {% endblock %}

{% block form %}
    <div class="row">
        <div class="col-12">
            <h2>{{ type }} Notification</h2>
        </div>
    </div>

    {{ form_start(form) }}

<div class="card shadow">

    <div class="card-body">

        <div class="form-group row">
            {{ form_label(form.message, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.message) }}
            <div class="col-sm-10">
                {{ form_widget(form.message, {'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_help(form.message) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.url, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.url) }}
            <div class="col-sm-10">
                {{ form_widget(form.url, {'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_help(form.url) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.isExternal, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.isExternal) }}
            <div class="col-sm-10">
                {{ form_widget(form.isExternal) }}
            </div>
            {{ form_help(form.isExternal) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.startDate, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            <div class="col-sm-5 mb-2 mb-sm-0">
                <div class="input-group date datepicker" id="startdatepicker" data-target-input="nearest">
                    {{ form_widget(form.startDate.date, {'attr': {'class': 'form-control datetimepicker-input', 'data-target': '#startdatepicker'} }) }}
                    <div class="input-group-append" data-target="#startdatepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="input-group date timepicker" id="starttimepicker" data-target-input="nearest">
                    {{ form_widget(form.startDate.time, {'attr': {'class': 'form-control datetimepicker-input', 'data-target': '#starttimepicker'} }) }}
                    <div class="input-group-append" data-target="#starttimepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                    </div>
                </div>
            </div>
            {{ form_help(form.startDate) }}
            {{ form_errors(form.startDate) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.endDate, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            <div class="col-sm-5 mb-2 mb-sm-0">
                <div class="input-group date datepicker" id="enddatepicker" data-target-input="nearest">
                    {{ form_widget(form.endDate.date, {'attr': {'class': 'form-control datetimepicker-input', 'data-target': '#enddatepicker'} }) }}
                    <div class="input-group-append" data-target="#enddatepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="input-group date timepicker" id="endtimepicker" data-target-input="nearest">
                    {{ form_widget(form.endDate.time, {'attr': {'class': 'form-control datetimepicker-input', 'data-target': '#endtimepicker'} }) }}
                    <div class="input-group-append" data-target="#endtimepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                    </div>
                </div>
            </div>
            {{ form_errors(form.endDate) }}
            {{ form_help(form.endDate) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.isSticky, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.isSticky) }}
            <div class="col-sm-10">
                {{ form_widget(form.isSticky) }}
            </div>
            {{ form_help(form.isSticky) }}
        </div>
        
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }}

        {{ form_end(form) }}

    </div>
</div>

{% endblock %}