{% extends 'site/base.html.twig' %}

{% block title %}Slough Town Community Towan{% endblock %}

{% block head %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Teams",
    "item": "{{ url('site_teams_mens') }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "Slough Town FC Community Team",
    "item": "{{ url('site_teams_community') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('site_teams_mens') }}">Teams</a></li>
            <li class="breadcrumb-item active" aria-current="page">STFC Community Team FC</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Slough Town FC Community Team</h1>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article">
        <div class="row">
            <div class="col">
                {% if not showForm %}
                <div class="alert alert-success" role="alert">
                  <h3>Thank you for contacting Slough Town FC Community Team.</h3>
                  We have received your enquiry and will respond to you within 48 hours.
                </div>
                {% endif %}

                <p>An adult football team, playing 7 and 11 sided competitions and friendly matches throughout the south of the UK, we offer an inclusive environment for regular football and exercise to players that cannot access mainstream football clubs (formerly known as the Slough Town PALS team).</p>

                <p>This programme enables adults with any disability to participate in regular organised football matches and coaching sessions in a safe and enjoyable environment. The programme encourages players to develop their health and independence and realise their full potential. Having boosted their confidence and self esteem we aim to improve the employability and life skills of these young men.</p>

                <p>Impairments include: Amputee, Autism, Epilepsy, Learning Disabilities, Mental Illness and Speech & Language Disorders.</p>

                <p>Our Saturday morning training sessions are supported by our own FA qualified coaches who also have extensive experience working alongside young people (16+) and adults with special educational needs and disabilities. Sessions are structured to help players increase their physical performance including balance and coordination, speed and stamina as well as build their confidence.</p>

                <p>We have 2 adult teams currently playing in the BOBi Leagues at both League and Championship standards, having won the Conference, League 2 and League 1 divisions. We finished runners-up in the Championship division in the 2022/23 season. We train every 2 weeks at Arbour Park on Saturday mornings whilst most matches and tournaments are played on a Sunday.</p>

                <p>We are always keen to welcome new players or volunteers to the club. New for 2023/24 will be an Under 16 team, please use the contact form for further details.</p>

                <p>We are also delighted to be able to add to this with an U16 team for neurodiverse teenagers.  Weekly training on a Wednesday and matches once a month alongside the adult teams. From September we will also have a weekly session for 8-11 year olds on a Monday evening. The aim is to enter an u12 team in the BOBi League as soon as possible.</p>

                <p>To join either of the junior sessions, please contact gensec@sloughtownfc.net for more details.</p>

                <img data-src="{{ asset('images/main/community/community-team.jpg') }}" class="img-fluid mb-4 lazyload" alt="Slough Town FC Community Team">

            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Training</h2>

                <p><span>Training:</span> Every 2 weeks Sunday morning 11.30am - 1pm<br><span>Match days:</span> Sunday</p>

                <p><span>Manager:</span> Ed Lilley<br ><span>Assistant Manager</span>: Mandy Butler</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Location</h2>

                <p>All home games are played at Arbour Park.</p>

                <p><span>Address:</span> Arbour Park, Stoke Road, Slough, Berkshire, SL2 5AY</p>

                <div id="directionMap"></div>
            </div>
        </div>

        {% if showForm %}
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h2>Contact Slough Town FC Community Team</h2>

                <p>If you require general information regarding Slough Town FC Community Team please complete the contact form below, messages will be responded to in 24-48 hours or call 07557 276420.</p>

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                    {{ form_errors(form.name) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {{ form_help(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.returnEmail, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                    {{ form_errors(form.returnEmail) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.returnEmail, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {{ form_help(form.returnEmail) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.subject, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                    {{ form_errors(form.subject) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.subject, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {{ form_help(form.subject) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.body, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                    {{ form_errors(form.body) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.body, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {{ form_help(form.body) }}
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <div class="g-recaptcha" data-sitekey="6LerKIIUAAAAAIXsNTlU8LGmk2cglt_a4qePvSac"></div>
                    </div>
                </div>

                <div class="form-group">
                    {% if recaptchaError %}
                    <div class="col-sm-10">
                        <div class="alert alert-danger" role="alert">
                            Please ensure you have completed the reCAPTCHA.
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="form-group">
                     <div class="col-sm-10">
                        {{ form_widget(form.save, {'label': 'Send message', 'attr': {'class': 'btn btn-primary'} }) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</section>

<script>
    var map = L.map('directionMap').setView([51.519975, -0.588300], 16);
    
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
       maxZoom: 17,
       attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    
    L.marker([51.519975, -0.588300]).addTo(map);
</script>
        
{% endblock %}
