{% extends 'site/base.html.twig' %}

{% block title %}Slough Town FC Elite Development Squad{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Teams",
    "item": "{{ url('site_teams_mens') }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "Elite Development Squad",
    "item": "{{ url('site_teams_elite_development_squad') }}"
   }]
}
</script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('site_teams_mens') }}">Teams</a></li>
            <li class="breadcrumb-item active" aria-current="page">Elite Development Squad</li>
            </ol>
        </div>
    </nav>

    <section class="title  mb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Elite Development Squad</h1>
                    <p>Please find a list below of the Slough Town Elite Development Squad squad for the current season.</p>
                </div>
            </div>
        </div>
    </section>

    <nav class="nav nav-pills flex-column flex-sm-row team-select" aria-label="Team Select">
      <a href="{{ path('site_teams_mens') }}" class="flex-sm-fill text-sm-center nav-link">Mens</a>
      <a href="{{ path('site_teams_ladies') }}" class="flex-sm-fill text-sm-center nav-link">Ladies</a>
      <a href="{{ path('site_teams_elite_development_squad') }}" class="flex-sm-fill text-sm-center nav-link active">Elite Development Squad</a>
    </nav>

    <section class="main">
        <div class="container squad">
            <div class="row">
                <div class="col">
                    <ul class="list-inline text-md-right">
                      <li class="list-inline-item"><i class="fas fa-tshirt"></i>Appearances</li>
                      <li class="list-inline-item"><i class="fas fa-mitten"></i>Clean Sheets</li>
                      <li class="list-inline-item"><i class="fas fa-futbol"></i>Goals</li>
                      <li class="list-inline-item"><span class="badge badge-yellow"></span>Yellow cards</li>
                      <li class="list-inline-item"><span class="badge badge-red"></span>Red cards</li>
                    </ul>
                </div>
            </div>

    
            {% for position, players in groupedPlayers %}
                {% if position != constant('App\\Entity\\Position::MANAGEMENT') %}
                <h2>{{ position }}s</h2>
                {% else %}
                <h2>{{ position }}</h2>
                {% endif %}
                
                {% for player in players %}
                    
                    {% if loop.first %}
                    <div class="row">
                    {% endif %}
                        <div class="col-6 col-lg-4">
                            <div class="card">
                                <a href="{{ path('site_profile_index', { 'id': player.id, 'name': player.urlname }) }}">
                                    <img class="card-img-top lazyload" data-src="{{ player.pictureUrl }}" alt="{{ player.name }}">
                                    {% if player.squadNumber is not null %}
                                    <div class="card-body" style="padding-top: 0;">
                                        <span class="squad-number">{{ player.squadNumber }}</span> 
                                    {% else %}
                                     <div class="card-body">
                                    {% endif %}
                                        <h3 class="card-title">{{ player.name }}</h3>
                                        {% if position != constant('App\\Entity\\Position::MANAGEMENT') %}
                                            <p class="card-text"><i class="fas fa-tshirt"></i> {{ player.appearances }}
                                            {% if position == constant('App\\Entity\\Position::GOALKEEPER') %}
                                            <i class="fas fa-mitten"></i> {{ player.cleanSheets }}
                                            {% else %}
                                            <i class="fas fa-futbol"></i> {{ player.goals }} 
                                            {% endif %}
                                            <span class="badge badge-yellow"></span> {{ player.yellows }} <span class="badge badge-red"></span> {{ player.reds }}</p>
                                            {% if player.onLoan %}
                                            <h5>Out on loan</h5>
                                            {% endif %}
                                        {% else %}
                                            {% if player.title %}
                                            <p class="role"><b>{{ player.title }}</b></p>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% if loop.last %}
                    </div>
                    {% endif %} 
                    
                {% endfor %}

            {% endfor %}
        </div>
    </section>
{% endblock %}