{% extends 'site/base.html.twig' %}

{% block title %}Slough Town Juniors FC{% endblock %}

{% block head %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Teams",
    "item": "{{ url('site_teams_mens') }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "STFC Juniors FC",
    "item": "{{ url('site_teams_juniors') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('site_teams_mens') }}">Teams</a></li>
            <li class="breadcrumb-item active" aria-current="page">STFC Juniors FC</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Slough Town Juniors FC</h1>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article">
        <div class="row">
            <div class="col">
                {% if not showForm %}
                <div class="alert alert-success" role="alert">
                  <h3>Thank you for contacting Slough Town Juniors FC.</h3>
                  We have received your enquiry and will respond to you within 48 hours.
                </div>
                {% endif %}

                <p>Slough Town Juniors is an inclusive grassroots football club for children aged 2 through to 18.  We also have an elite pathway from u11.</p>

                <p>We hold trials annually in May/June to fill any spaces we have. Details of those trials will appear here and across our social media platforms.</p>

                <p>If you wish to enquire about vacancies during the season, please contact gensec@sloughtownfc.net</p>

                <h2>Club Contacts</h2>

                <p><span>Chair:</span> Kay Lathey<br ><span>Secretary:</span> Kelly Turner<br ><span>Treasurer:</span> Mike Lightfoot<br ><span>Welfare Officer:</span> Nikki Madigan</p>

                <hr >
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <h3>Boys/Mixed Teams</h3>

                <p><span>Training:</span> Midweek<br><span>Match days:</span> Sunday</p>

                <p><span>U8:</span> Trevor Duffy<br ><span>U10:</span> Becca Hennessey/Alex Efthimiou<br ><span>U10 Stags:</span> Steven Ventura<br ><span>U11:</span> Alfie Tormey<br ><span>U12:</span> Jason Alleyne<br ><span>U13:</span> Ricky Churchouse<br ><span>U14:</span> Leigh Hunter<br ><span>U15 Stags:</span> Nathan Pons<br ><span>U16:</span> Ed Lake<br ><span>U17:</span>Mark Hill</p>
            </div>

            <div class="col-6">
                <h3>Girls Teams</h3>

                <p><span>Training:</span> Midweek<br><span>Match days:</span> Saturday</p>

                <p><span>U11:</span> Vinny Brill<br ><span>U14:</span> Andy Duffy/Tahir Baig<br ><span>U16:</span> Michelle Ayres</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <hr >

                <h3>Training Sessions</h3>

                <p><span>Wildcat girls (5-12 year old)</span> - Tuesday 5.30-6.30pm @ Arbour Park<br ><span>Year 2-4 football (6-8 year olds)</span> - Tuesday 5.30-6.30pm @ Arbour Park<br ><span>Comets Pan Disability (8-11 year old)</span> - Monday 6-7pm @ St Anthony's Primary School<br ><span>Teen disability football</span> - Wednesday 5-6pm @ Arbour Park<br ><span>4-6 year old football</span> - Friday 4.30-5.30pm @ Arbour Park<br ><span>2-4 Year olds</span> - Saturday 9.15 to 10am @ Arbour Park</p>
                <hr >
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Policy &amp; Documents</h2>
                <p style="line-height: 45px;"><a href="{{ asset('pdf/juniors/compaints-policy.pdf') }}" target="_blank" class="btn btn-primary">Club Complaints Policy</a>
                <a href="{{ asset('pdf/juniors/health-and-safety-policy.pdf') }}" target="_blank" class="btn btn-primary">Health & Safety Policy</a>
                <a href="{{ asset('pdf/juniors/FA-Equality-Policy.pdf') }}" target="_blank" class="btn btn-primary">FA Equality Policy</a>
                <a href="{{ asset('pdf/juniors/FA-Respect-Code-of-Conduct.pdf') }}" target="_blank" class="btn btn-primary">FA Respect Code of Conduct</a>
                <a href="{{ asset('pdf/juniors/FA-Safeguarding-Children-Policy-Adult-Teams-with-U18-Players.pdf') }}" target="_blank" class="btn btn-primary">FA Safeguarding Children Policy (Adult Teams with U18 Players)</a>
                <a href="{{ asset('pdf/juniors/FA-Safeguarding-Children-Policy-Youth-Teams.pdf') }}" target="_blank" class="btn btn-primary">FA Safeguarding Children Policy (Youth Teams)</a></p>
                <hr >
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Location</h2>

                <p>All home games are played at Mercian Way Recreation Ground, Slough.</p>

                <p><span>Address:</span> Mercian Way Recreation Ground, Mercia Way Cippenham, SL1 5LX</p>

                <div id="directionMap"></div>
            </div>
        </div>

        {% if showForm %}
        <div class="row form">
            <div class="col-sm-12 col-md-8 mt-3">
                <h2>Contact Slough Town Juniors FC</h2>

                <p>If you require general information regarding Slough Town Juniors FC please complete the contact form below, messages will be responded to in 24-48 hours.</p>

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                    {{ form_errors(form.name) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {{ form_help(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.returnEmail, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                    {{ form_errors(form.returnEmail) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.returnEmail, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {{ form_help(form.returnEmail) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.subject, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                    {{ form_errors(form.subject) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.subject, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {{ form_help(form.subject) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.body, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                    {{ form_errors(form.body) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.body, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {{ form_help(form.body) }}
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <div class="g-recaptcha" data-sitekey="6LerKIIUAAAAAIXsNTlU8LGmk2cglt_a4qePvSac"></div>
                    </div>
                </div>

                <div class="form-group">
                    {% if recaptchaError %}
                    <div class="col-sm-10">
                        <div class="alert alert-danger" role="alert">
                            Please ensure you have completed the reCAPTCHA.
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="form-group">
                     <div class="col-sm-10">
                        {{ form_widget(form.save, {'label': 'Send message', 'attr': {'class': 'btn btn-primary'} }) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</section>

<script>
    var map = L.map('directionMap').setView([51.511350, -0.648684], 16);
    
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
       maxZoom: 17,
       attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    
    L.marker([51.511350, -0.648684]).addTo(map);
</script>
        
{% endblock %}