{% extends 'site/base.html.twig' %}

{% block title %}Slough Town FC Ladies{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Teams",
    "item": "{{ url('site_teams_mens') }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "Ladies",
    "item": "{{ url('site_teams_ladies') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('site_teams_mens') }}">Teams</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ladies</li>
        </ol>
    </div>
</nav>

<section class="title mb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Ladies</h1>
                <p>Please find a list below of the Slough Town Ladies squad for the current season.</p>
            </div>
        </div>
    </div>
</section>

<nav class="nav nav-pills flex-column flex-sm-row team-select" aria-label="Team Select">
  <a href="{{ path('site_teams_mens') }}" class="flex-sm-fill text-sm-center nav-link">Mens</a>
  <a href="{{ path('site_teams_ladies') }}" class="flex-sm-fill text-sm-center nav-link active">Ladies</a>
  <a href="{{ path('site_teams_elite_development_squad') }}" class="flex-sm-fill text-sm-center nav-link">Elite Development Squad</a>
</nav>



<div class="row">
    <div class="col">
        {% if not showForm %}
        <div class="alert alert-success" role="alert">
          <h3>Thank you for contacting Slough Town FC Ladies.</h3>
          We have received your enquiry and will respond to you within 48 hours.
        </div>
        {% endif %}
    </div>
</div>

<section class="main">
    <div class="container article">

        <div class="row">
            <div class="col">
                <h2>Training</h2>
                <p><span>Training:</span> Thursday evening 8-9.30pm at Arbour Park <br><span>Match day:</span> KO 2pm Sunday</p>

                <h2>Location</h2>

                <p>All home games are played at Arbour Park, Slough.</p>

                <p><span>Address:</span> Arbour Park, Stoke Road, Slough, Berkshire, SL2 5AY</p>
            </div>
        </div>

    </div>

    <div class="container squad">
    <div class="row">
                <div class="col">
                    <ul class="list-inline text-md-right">
                      <li class="list-inline-item"><i class="fas fa-tshirt"></i>Appearances</li>
                      <li class="list-inline-item"><i class="fas fa-mitten"></i>Clean Sheets</li>
                      <li class="list-inline-item"><i class="fas fa-futbol"></i>Goals</li>
                      <li class="list-inline-item"><span class="badge badge-yellow"></span>Yellow cards</li>
                      <li class="list-inline-item"><span class="badge badge-red"></span>Red cards</li>
                    </ul>
                </div>
            </div>

    
            {% for position, players in groupedPlayers %}
                {% if position != constant('App\\Entity\\Position::MANAGEMENT') %}
                <h2>{{ position }}s</h2>
                {% else %}
                <h2>{{ position }}</h2>
                {% endif %}
                
                {% for player in players %}
                    
                    {% if loop.first %}
                    <div class="row">
                    {% endif %}
                        <div class="col-6 col-lg-4">
                            <div class="card">
                                <a href="{{ path('site_profile_index', { 'id': player.id, 'name': player.urlname }) }}">
                                    <img class="card-img-top lazyload" data-src="{{ player.pictureUrl }}" alt="{{ player.name }}">
                                    {% if player.squadNumber is not null %}
                                    <div class="card-body" style="padding-top: 0;">
                                        <span class="squad-number">{{ player.squadNumber }}</span> 
                                    {% else %}
                                     <div class="card-body">
                                    {% endif %}
                                        <h3 class="card-title">{{ player.name }}</h3>
                                        {% if position != constant('App\\Entity\\Position::MANAGEMENT') %}
                                            <p class="card-text"><i class="fas fa-tshirt"></i> {{ player.appearances }}
                                            {% if position == constant('App\\Entity\\Position::GOALKEEPER') %}
                                            <i class="fas fa-mitten"></i> {{ player.cleanSheets }}
                                            {% else %}
                                            <i class="fas fa-futbol"></i> {{ player.goals }} 
                                            {% endif %}
                                            <span class="badge badge-yellow"></span> {{ player.yellows }} <span class="badge badge-red"></span> {{ player.reds }}</p>
                                            {% if player.onLoan %}
                                            <h5>Out on loan</h5>
                                            {% endif %}
                                        {% else %}
                                            {% if player.title %}
                                            <p class="role"><b>{{ player.title }}</b></p>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% if loop.last %}
                    </div>
                    {% endif %} 
                    
                {% endfor %}

            {% endfor %}
        </div>

    <div class="container article">

        {% if showForm %}
        <div class="row form">
            <div class="col-sm-12 col-md-8 mt-3">
                <h2>Contact Slough Town FC Ladies</h2>

                <p>If you require general information regarding Slough Town FC Ladies please complete the contact form below, messages will be responded to in 24-48 hours or call 07792 126124.</p>

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                    {{ form_errors(form.name) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {{ form_help(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.returnEmail, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                    {{ form_errors(form.returnEmail) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.returnEmail, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {{ form_help(form.returnEmail) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.subject, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                    {{ form_errors(form.subject) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.subject, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {{ form_help(form.subject) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.body, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                    {{ form_errors(form.body) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.body, {'attr': {'class': 'form-control'} }) }}
                        </div>
                    {{ form_help(form.body) }}
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <div class="g-recaptcha" data-sitekey="6LerKIIUAAAAAIXsNTlU8LGmk2cglt_a4qePvSac"></div>
                    </div>
                </div>

                <div class="form-group">
                    {% if recaptchaError %}
                    <div class="col-sm-10">
                        <div class="alert alert-danger" role="alert">
                            Please ensure you have completed the reCAPTCHA.
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="form-group">
                     <div class="col-sm-10">
                        {{ form_widget(form.save, {'label': 'Send message', 'attr': {'class': 'btn btn-primary'} }) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}