{% extends 'admin/sidebar.html.twig' %}

{% block title %}{{ type }} Media Item{% endblock %}

{% block form %}
<div class="row">
    <div class="col-12">
        <h2>{{ type }} Media Item</h2>
    </div>
</div>

<div class="card shadow">

    <div class="card-body">

        {{ form_start(form) }}

        <div class="form-group row">
            {{ form_label(form.headline, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.headline) }}
                <div class="col-sm-10">
                    {{ form_widget(form.headline, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.headline) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.url, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.url) }}
                <div class="col-sm-10">
                    {{ form_widget(form.url, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.url) }}
        </div>

        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }}
        
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
