{% set lastPage = (totalItems / pageSize)|round(0, 'ceil') %}
{% if (lastPage == 0) %}
    {% set lastPage = 1 %}
{% endif %}

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Select image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="search mb-2">
                <input type="text" class="input-search" placeholder="Search tag" value="{{ search is not empty ? search : ''}}"/>
                <button type="button" class="btn btn-primary btn-search">Search</button>
            </div>
            
            <div class="content-container">
                <div class="images">
                {% for image in imageItems %}
                    <div class="selectable border m-1" style="height: 75px;width: 75px; display: inline-block;">
                        <img height="100%" width="100%" src="/gallery/{{ image.thumbnail }}" data-image="/gallery/{{ image.filename }}" />
                    </div>
                {% else %}
                    <p>No images found</p>
                {% endfor %}
                </div>

                <p>Page {{ currentPage }} of {{ lastPage }}</p>
            </div>
        </div>
        <div class="modal-footer justify-content-between ">
            <button type="button" class="btn btn-primary btn-nav" data-url="{{ path('admin_gallery_list', { 'page': currentPage - 1, 'tag': search }) }}" {% if (currentPage == 1) %}disabled{% endif %}>Prev</button>
            <button type="button" class="btn btn-primary btn-select" disabled>Select</button>
            <button type="button" class="btn btn-primary btn-nav" data-url="{{ path('admin_gallery_list', { 'page': currentPage + 1, 'tag': search }) }}"  {% if (currentPage == lastPage) %}disabled{% endif %}>Next</button>
        </div>
    </div>
</div>