{% extends 'admin/sidebar.html.twig' %}

{% block title %} Gallery{% endblock %}

{% block form %}
<div class="row">
    <div class="col-12">
        <h2>Gallery Upload</h2>
    </div>
</div>

<div class="card shadow">

        <div class="card-body">
    
            {{ form_start(form) }}

            <div class="form-group row ">
                {{ form_label(form.type, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.type) }}
                <div class="col-sm-10">
                    {{ form_widget(form.type) }}
                    {{ form_help(form.type) }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Select Image</label>
                {{ form_errors(form.image) }}
                <div class="col-sm-10">
                    <div class="custom-file">
                    {{ form_widget(form.image, {'attr': {'class': 'custom-file-input'} }) }}
                    {{ form_label(form.image, null, {'label_attr': {'class': 'custom-file-label'} }) }}
                    {{ form_help(form.image) }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(form.tags, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.tags) }}
                <div class="col-sm-10">
                    {{ form_widget(form.tags, {'attr': {'class': 'form-control'} }) }}
                    {{ form_help(form.tags) }}
                </div>
            </div>
                
            {{ form_widget(form.upload, {'attr': {'class': 'btn btn-primary'} }) }}
            
        {{ form_end(form) }}

    </div>
</div>

<script type="text/javascript">
    $('.custom-file-input').on('change',function(){
        //get the file name
        var fileName = $(this).val();
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
    })
</script>

{% endblock %}