{% extends 'site/base.html.twig' %}

{% block title %}{{ player.name }}{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Player",
    "item": "{{ url('site_squad_index') }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "{{ player.name }}",
    "item": "{{ nameurl('site_profile_index', { id: player.id, 'name': player.urlname }) }}"
   }]
}
</script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                {% if player.active %}
                <li class="breadcrumb-item"><a href="{{ path('site_squad_index') }}">Squad</a></li>
                {% else %}
                <li class="breadcrumb-item"><a href="{{ path('site_archive_index') }}">Historical Archive</a></li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">{{ player.name }}</li>
            </ol>
        </div>
    </nav>

    <section class="title player-name">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    {% if player.squadNumber is not empty %}
                    <span class="align-middle">{{ player.squadNumber }}</span> 
                    {% endif %}
                    <h1 class="align-middle">{{ player.name }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container profile">

            <div class="row">
                <div class="col stats">
                    <img src="{{ player.pictureUrl }}" alt="{{ player.name }}">
                    {% if player.active and player.onLoan %}
                    <h5>Out on loan</h5>
                    {% endif %}

                    {% if player.position.name == constant('App\\Entity\\Position::MANAGEMENT') %}
                    <span>{{ player.title }}</span><br />
                    {% else %}
                    <span>Position:</span> {{ player.position.name }}<br />
                    {% endif %}

                    {% if player.achievements is not empty %}
                    <h2>Achievements</h2>
                    {{ player.achievements|raw|nl2br }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-8 bio">
                    <h2>Bio</h2>
                    {{ player.description|raw|nl2br }}

                    {% if player.sponsoredBy is not empty %}
                    <br />
                    <br />
                    <span>Sponsored by:</span> {{ player.sponsoredBy }}
                    {% endif %}
                    <br />
                    <br />
                    
                    {% for team, data in statistics %}
                        
                    <h2>{{ team }}</h2>

                    <div class="table-responsive">

                        <table class="table table-sm">
                            <thead>
                                <tr class="table-light">
                                    <th scope="col">First Appearance</th>
                                    <th scope="col">Appearances</th>
                                    <th scope="col">First Goal</th>
                                    <th scope="col">Goals</th>
                                    {% if player.position.name == constant('App\\Entity\\Position::GOALKEEPER') %}
                                    <th scope="col">Clean Sheets</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{ data.firstMatch|default('N/A') }}</th>
                                    <td>{{ data.appearances }}</td>
                                    <td>{{ data.firstGoal|default('N/A') }}</td>
                                    <td>{{ data.goals }}</td>
                                    {% if player.position.name == constant('App\\Entity\\Position::GOALKEEPER') %}
                                    <td>{{ data.cleanSheets }}</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    {% endfor %}
                               
                </div>
            </div>

            {% if statistics is not empty %}               
                
            <div class="row">
                <div class="col">
                    <h2>History</h2>

                    <!-- Only show tabs if player played for more than one team -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      {% for team in statistics|keys %}
                      <li class="nav-item">
                        <a class="nav-link {% if loop.first %}active{% endif %}" id="{{ team|lower }}-tab" data-toggle="tab" href="#{{ team|lower }}" role="tab" aria-controls="{{ team|lower }}" aria-selected="true">{{ team }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                    <!-- End tabs -->
                    <div class="tab-content" id="myTabContent">
                      {% for team, data in statistics %}
                      <div class="tab-pane fade show {% if loop.first %}active{% endif %}" id="{{ team|lower }}" role="tabpanel" aria-labelledby="{{ team|lower }}-tab">

                        <div class="table-responsive">

                            <table class="table table-sm">
                                <thead>
                                    <tr class="table-light">
                                        <th scope="col">Match Date</th>
                                        <th scope="col">Home</th>
                                        <th scope="col">Score</th>
                                        <th scope="col">Away</th>
                                        <th scope="col">Competition</th>
                                        <th scope="col">Goals</th>
                                        <th scope="col">Cards</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                {% for stats in data.fixtures %}                                   
                                    {% if stats is not null %}
                                        {% if stats.fixture.isHome %}
                                            {% set home, away = stats.fixture.team.name, stats.fixture.opposition.name %}
                                        {% else %}
                                            {% set home, away = stats.fixture.opposition.name, stats.fixture.team.name %}
                                        {% endif %}

                                        <tr>
                                            <th scope="row">{{ stats.fixture.matchDate|date('d-m-Y') }}</th>
                                            <td>{{ home }}</td>
                                            <td>{{ stats.fixture.reportHomeScore }}-{{ stats.fixture.reportAwayScore }}</td>
                                            <td>{{ away }}</td>
                                            <td>{{ stats.fixture.competition.name }}</td>
                                            <td>
                                            {% if stats.goals|default('0') > 0 %}
                                                {% for i in range(1, stats.goals) %}
                                                    <i class="fas fa-futbol"></i>
                                                {% endfor %}
                                            {% endif %}
                                            </td>
                                            <td>
                                            {% if stats.bookings|default('0') > 0 %}
                                                 {% if stats.bookings == 1 %}
                                                     <span class="badge badge-yellow"></span>
                                                 {% else %}
                                                     <span class="badge badge-red"></span>
                                                 {% endif %}
                                             {% endif %}
                                            </td>
                                            <td><a href="{{ path('site_reports_index', { id: stats.fixture.id }) }}" class="btn btn-link">Match report</a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

    </section>
    
{% endblock %}