{% extends 'admin/sidebar.html.twig' %}

{% block title %}{{ type }} Season{% endblock %}

{% block form %}
<div class="row">
    <div class="col-12">
        <h2>{{ type }} Season</h2>
    </div>
</div>

<div class="card shadow">

    <div class="card-body">
        
        {{ form_start(form) }}

        <div class="form-group row">
            {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.name) }}
                <div class="col-sm-10">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_help(form.name) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.startDate, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.startDate) }}
                <div class="col-sm-10">
                    <div class="input-group date datepicker" id="startdatepicker" data-target-input="nearest">
                        {{ form_widget(form.startDate, {'attr': {'class': 'form-control datetimepicker-input', 'data-target': '#startdatepicker'} }) }}
                        <div class="input-group-append" data-target="#startdatepicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            {{ form_help(form.startDate) }}
        </div>
        
        <div class="form-group row">
            {{ form_label(form.endDate, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.endDate) }}
                <div class="col-sm-10">
                    <div class="input-group date datepicker" id="enddatepicker" data-target-input="nearest">
                        {{ form_widget(form.endDate, {'attr': {'class': 'form-control datetimepicker-input', 'data-target': '#enddatepicker'} }) }}
                        <div class="input-group-append" data-target="#enddatepicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            {{ form_help(form.endDate) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.hideFixtures, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
            {{ form_errors(form.hideFixtures) }}
            <div class="col-sm-10">
                {{ form_widget(form.hideFixtures) }}
            </div>
            {{ form_help(form.hideFixtures) }}
        </div>
        
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }}
        
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
