{% extends 'admin/sidebar.html.twig' %}

{% block title %}Search Seasons{% endblock %}

{% block form %}

<div class="row">
    <div class="col-12">
        <h2>Seasons <a class="btn btn-primary btn-sm" href="{{ path('admin_season_add') }}" role="button">Add</a></h2>
    </div>
</div>

<div class="card shadow">

        <div class="card-body">

			<div class="table-responsive">

				<table class="table">
					<thead>
					    <tr class="table-light">
					      <th scope="col">Seasons</th>
					      <th scope="col">Start date</th>
					      <th scope="col">End date</th>
                                              <th scope="col">Hide Fixtures</th>
					      <th scope="col">Actions</th>
					    </tr>
				  	</thead>
				  	<tbody>
				  	{% for season in seasonItems %}
			        <tr>
				        <th scope="row">{{ season.name }}</th>
				    	<td>{{ season.startDate|date('Y-m-d') }}</td>
				    	<td>{{ season.endDate|date('Y-m-d') }}</td>
                                        <td>{{ season.hideFixtures ? 'Y' : 'N' }}</td>
				    	<td>
	                        <a href="{{ path('admin_season_edit', { 'id': season.id }) }}">
	                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="menu-icon"><path d="M10,2.172c-4.324,0-7.828,3.504-7.828,7.828S5.676,17.828,10,17.828c4.324,0,7.828-3.504,7.828-7.828S14.324,2.172,10,2.172M10,17.004c-3.863,0-7.004-3.141-7.004-7.003S6.137,2.997,10,2.997c3.862,0,7.004,3.141,7.004,7.004S13.862,17.004,10,17.004M10,8.559c-0.795,0-1.442,0.646-1.442,1.442S9.205,11.443,10,11.443s1.441-0.647,1.441-1.443S10.795,8.559,10,8.559 M10,10.619c-0.34,0-0.618-0.278-0.618-0.618S9.66,9.382,10,9.382S10.618,9.661,10.618,10S10.34,10.619,10,10.619 M14.12,8.559c-0.795,0-1.442,0.646-1.442,1.442s0.647,1.443,1.442,1.443s1.442-0.647,1.442-1.443S14.915,8.559,14.12,8.559 M14.12,10.619c-0.34,0-0.618-0.278-0.618-0.618s0.278-0.618,0.618-0.618S14.738,9.661,14.738,10S14.46,10.619,14.12,10.619 M5.88,8.559c-0.795,0-1.442,0.646-1.442,1.442s0.646,1.443,1.442,1.443S7.322,10.796,7.322,10S6.675,8.559,5.88,8.559 M5.88,10.619c-0.34,0-0.618-0.278-0.618-0.618S5.54,9.382,5.88,9.382S6.498,9.661,6.498,10S6.22,10.619,5.88,10.619"></path></svg>
	                        </a>
	                        <a href="#" data-toggle="modal" data-id="{{ season.id }}" data-target="#deleteModal">
	                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="menu-icon text-danger"><path d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path></svg>
	                        </a>
				    	</td>
			        </tr>
			        {% endfor %}
			        </tbody>
				</table>

			</div>
		{% include 'admin/pagination.html.twig' with { 'pagePath': 'admin_season_index' } %}
		</div>
	</div>
{% include 'admin/modal.html.twig' with { 'deletePath': 'admin_season_delete' }%}    
{% endblock %}
