{% extends 'admin/base.html.twig' %}

{% block body %}

<style>

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

  .form-signin.form-control:focus {
    z-index: 2;
  }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

<form class="form-signin text-center" action="{{ path('admin_security_login') }}" method="post">

  <img class="mb-4" src="{{ asset('images/admin/badge.png') }}" alt="" width="100" height="100">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  {% if error %}
    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}
  <label for="username" class="sr-only">Email address</label>
  <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Email address" required="" autofocus="">
  <label for="password" class="sr-only">Password</label>
  <input type="password" type="password" id="password" name="_password" class="form-control" placeholder="Password" required="">

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© Slough Town FC</p>
</form>
    
{% endblock %}