{% extends 'admin/sidebar.html.twig' %}

{% block title %}{{ type }} Player{% endblock %}

{% block form %}
    <div class="row">
        <div class="col-12">
            <h2>{{ type }} Player</h2>
        </div>
    </div>

    <div class="card shadow">

        <div class="card-body">

            {{ form_start(form) }}

            <div class="form-group row">
                {{ form_label(form.teams, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.teams) }}
                <div class="col-sm-10">
                    {{ form_widget(form.teams) }}
                </div>
                {{ form_help(form.teams) }}
            </div>

            <div class="form-group row">
                {{ form_label(form.firstName, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.firstName) }}
                <div class="col-sm-10">
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_help(form.firstName) }}
            </div>

            <div class="form-group row">
                {{ form_label(form.lastName, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.lastName) }}
                <div class="col-sm-10">
                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_help(form.lastName) }}
            </div>

            <div class="form-group row">
                {{ form_label(form.dob, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.dob) }}
                <div class="col-sm-10">
                    <div class="input-group date datepicker" id="playerdatepicker" data-target-input="nearest">
                        {{ form_widget(form.dob, {'attr': {'class': 'form-control datetimepicker-input', 'data-target': '#playerdatepicker'} }) }}
                        <div class="input-group-append" data-target="#playerdatepicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

                {{ form_help(form.dob) }}
            </div>

            <div class="form-group row">
                {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.description) }}
                <div class="col-sm-10">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_help(form.description) }}
            </div>

            <div class="form-group row">
                {{ form_label(form.achievements, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.achievements) }}
                <div class="col-sm-10">
                    {{ form_widget(form.achievements, {'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_help(form.achievements) }}
            </div>

            <div class="form-group row">
                <div class="col-sm-2">
                    {{ form_label(form.pictureUrl, null, {'label_attr': {'class': 'col-form-label'} }) }}
                    <button type="button" class="btn btn-primary btn-sm btn-image-gallery" data-url="{{ path('admin_gallery_list') }}" data-target-id="{{ form.pictureUrl.vars.id }}">Pick</button>             
                    {{ form_errors(form.pictureUrl) }}
                </div>
                <div class="col-sm-10">
                    {{ form_widget(form.pictureUrl, {'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_help(form.pictureUrl) }}
            </div>

            <div class="form-group row">
                {{ form_label(form.position, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.position) }}
                <div class="col-sm-10">
                    {{ form_widget(form.position, {'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_help(form.position) }}
            </div>

            <div class="form-group row">
                {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.title) }}
                <div class="col-sm-10">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_help(form.title) }}
            </div>
            
            <div class="form-group row">
                {{ form_label(form.orderBy, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.orderBy) }}
                <div class="col-sm-10">
                    {{ form_widget(form.orderBy, {'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_help(form.orderBy) }}
            </div>
            
            <div class="form-group row">
                {{ form_label(form.squadNumber, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.squadNumber) }}
                <div class="col-sm-10">
                    {{ form_widget(form.squadNumber, {'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_help(form.squadNumber) }}
            </div>

            <div class="form-group row">
                {{ form_label(form.sponsoredBy, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.sponsoredBy) }}
                <div class="col-sm-10">
                    {{ form_widget(form.sponsoredBy, {'attr': {'class': 'form-control'} }) }}
                </div>
                {{ form_help(form.sponsoredBy) }}
            </div>

            <div class="form-group row">
                {{ form_label(form.onLoan, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.onLoan) }}
                <div class="col-sm-10">
                    {{ form_widget(form.onLoan) }}
                </div>
                {{ form_help(form.onLoan) }}
            </div>
            
            <div class="form-group row">
                {{ form_label(form.active, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                {{ form_errors(form.active) }}
                <div class="col-sm-10">
                    {{ form_widget(form.active) }}
                </div>
                {{ form_help(form.active) }}
            </div>

            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }}

            {{ form_end(form) }}
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('js/image-gallery.js') }}"></script> 
{% endblock %}
