{% extends 'admin/sidebar.html.twig' %}

{% block title %}View Player fixtures{% endblock %}

{% block form %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_default_index', { 'teamUrl': teamUrl }) }}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_player_index', { 'teamUrl': teamUrl }) }}">Player</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ player.firstName }} {{ player.lastName }}</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12">
            <h2>{{ player.firstName }} {{ player.lastName }}'s fixtures</h2>
        </div>
    </div>

    <div class="card shadow">

        <div class="card-body">

            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr class="table-light">
                            <th scope="col">Match Date</th>
                            <th scope="col">Team</th>
                            <th scope="col">Competition</th>
                            <th scope="col">Opposition</th>
                            <th scope="col">Home/Away</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stats in player.stats %}
                            <tr>
                                <th scope="row">{{ stats.fixture.matchDate|date('Y-m-d') }}</th>
                                <td>{{ stats.fixture.team.shortName }}</td>
                                <td>{{ stats.fixture.competition.name }}</td>
                                <td>{{ stats.fixture.opposition.name }}</td>
                                <td>{{ stats.fixture.isHome is not null ? stats.fixture.isHome ? 'H' : 'A' : '?' }}</td>
                                <td>
                                    <a href="{{ path('admin_fixture_edit', { 'id': stats.fixture.id, 'teamUrl': stats.fixture.team.url }) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="menu-icon"><path d="M10,2.172c-4.324,0-7.828,3.504-7.828,7.828S5.676,17.828,10,17.828c4.324,0,7.828-3.504,7.828-7.828S14.324,2.172,10,2.172M10,17.004c-3.863,0-7.004-3.141-7.004-7.003S6.137,2.997,10,2.997c3.862,0,7.004,3.141,7.004,7.004S13.862,17.004,10,17.004M10,8.559c-0.795,0-1.442,0.646-1.442,1.442S9.205,11.443,10,11.443s1.441-0.647,1.441-1.443S10.795,8.559,10,8.559 M10,10.619c-0.34,0-0.618-0.278-0.618-0.618S9.66,9.382,10,9.382S10.618,9.661,10.618,10S10.34,10.619,10,10.619 M14.12,8.559c-0.795,0-1.442,0.646-1.442,1.442s0.647,1.443,1.442,1.443s1.442-0.647,1.442-1.443S14.915,8.559,14.12,8.559 M14.12,10.619c-0.34,0-0.618-0.278-0.618-0.618s0.278-0.618,0.618-0.618S14.738,9.661,14.738,10S14.46,10.619,14.12,10.619 M5.88,8.559c-0.795,0-1.442,0.646-1.442,1.442s0.646,1.443,1.442,1.443S7.322,10.796,7.322,10S6.675,8.559,5.88,8.559 M5.88,10.619c-0.34,0-0.618-0.278-0.618-0.618S5.54,9.382,5.88,9.382S6.498,9.661,6.498,10S6.22,10.619,5.88,10.619"></path></svg>
                                    </a>
                                    <a href="{{ path('admin_stats_edit', { 'fixtureId': stats.fixture.id, 'teamUrl': stats.fixture.team.url }) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="menu-icon"><<path d="M17.431,2.156h-3.715c-0.228,0-0.413,0.186-0.413,0.413v6.973h-2.89V6.687c0-0.229-0.186-0.413-0.413-0.413H6.285c-0.228,0-0.413,0.184-0.413,0.413v6.388H2.569c-0.227,0-0.413,0.187-0.413,0.413v3.942c0,0.228,0.186,0.413,0.413,0.413h14.862c0.228,0,0.413-0.186,0.413-0.413V2.569C17.844,2.342,17.658,2.156,17.431,2.156 M5.872,17.019h-2.89v-3.117h2.89V17.019zM9.587,17.019h-2.89V7.1h2.89V17.019z M13.303,17.019h-2.89v-6.651h2.89V17.019z M17.019,17.019h-2.891V2.982h2.891V17.019z"></path></svg>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}
