{% extends 'site/base.html.twig' %}

{% block title %}32 Red{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Vanarama",
    "item": "{{ url('site_article_32_red') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">32 Red</li>
        </ol>
    </div>
</nav>

<section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>32 Red</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">

        	<div class="row">
	            <div class="col">
	            	<div class="text-center">
	            		<img src="{{ asset('images/main/vanarama/32-red.jpg') }}" class="img-fluid" alt="32 Red" />
	            	</div>
	            	<p><a href="https://www.32red.com/" target="_blank" class="btn btn-link">At 32Red casino</a>, we have an excellent range of games for you to explore, including slots, roulette, blackjack and more. What's more exciting about our casinos is that we offer huge payout prizes!</p>

                    <p>32Red is well known for its sponsorship throughout the UK football pyramid and is currently front of shirt, principal partner of Rangers FC, Middlesbrough FC and Derby County FC in addition to the new National League partnership.</p>

                    <p>32Red is part of the Kindred Group which has brought together 9 of Europe’s most successful gambling brands including household brands such as 32Red and Unibet. Kindred Group offers 30 million customer a great form of digital entertainment, fine-tuned to present an unforgettable experience in a safe and fair environment.</p>
                    <img src="{{ asset('images/main/vanarama/32-red_10-free.jpg') }}" class="img-fluid" alt="32 Red £10 free bet" />
	            </div>
	        </div>
        </div>
    </section>
{% endblock %}