{% extends 'site/base.html.twig' %}

{% block title %}The 500 Club{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "500 Club",
    "item": "{{ url('site_article_500_club') }}"
   }]
}
</script>

	<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
	    <div class="container">
	        <ol class="breadcrumb">
	            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
	            <li class="breadcrumb-item active" aria-current="page">The 500 Club</li>
	        </ol>
	    </div>
	</nav>

	<section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>The 500 Club</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">

        	<div class="row">
	            <div class="col">
	            	<p>The 500 Club is one of, if not the most popular fund raising activities in the UK, probably because it is easy to enter and the rewards can be substantial, both in terms of prize money and funds raised.</p>

	            	<p>The rules are very simple - the cost of entry to the draw is &pound;5 and all entrants are required to complete an entry form.</p>

			        <p>The size of the monthly prizes is dictated by how many people join and Slough Town Football Club are committed to return 50% of the income in prizes. There will be a first, second, third and forth prize and as the scheme grows more prizes will be added.</p>

			        <p>The application form below includes a more detailed list of the rules of the 500 Club.</p>

			        <h2>How to Join</h2>

				    <p>Please print the application form and bank mandate form below. Please complete and return with the appropriate payment or duly completed standing order form to:</p>

				    <p><span>The 500 Club</span><br />c/o Alan Greenaway,<br />Ockwells Gade,<br />Lower Road,<br />Nash Mills,<br />Hemel Hempstead,<br />Herts,<br />HP3 8RU</p>

				    <p>Or call: 07902 164953</p>

				    <p><a href="{{ asset('pdf/500club_application.pdf') }}" target="_blank" class="btn btn-primary">Download Application Form</a></p>

	            </div>
	        </div>
        </div>
    </section>

{% endblock %}