{% extends 'site/base.html.twig' %}

{% block title %}All Time{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "All Time",
    "item": "{{ url('site_article_all_time') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">All-time Records</li>
        </ol>
    </div>
</nav>

<section class="title player-name">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="align-middle">All-time Records</h1>
                <p class="d-none d-md-block">Listed below are the club's top 20 all-time appearance-makers and goalscorers.</p>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container profile">

        <div class="row">
            <div class="col">
                <h2>Top 20 all-time appearances</h2>

                <div class="table-responsive">

                     <table class="table">
                        <thead>
                            <tr class="table-light">
                                <th scope="col" class="text-center">#</th>
                                <th scope="col" class="text-center">Name</th>
                                <th scope="col" class="text-center">Appearances</th>
                            </tr>
                        </thead>
                        
                    {% for player in stats.appearances %}
                        <tr>
                            <th scope="row"  class="text-center">{{ loop.index }}</th>
                            <td  class="text-center">{{ player.full_name }}</td>
                            <td  class="text-center">{{ player.appearances }}</td>
                        </tr>
                    {% endfor %}
                    </table>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col">

                <h2>Top 20 all-time goalscorers</h2>

                <div class="table-responsive">

                    <table class="table">
                        <thead>
                            <tr class="table-light">
                                <th scope="col" class="text-center">#</th>
                                <th scope="col" class="text-center">Name</th>
                                <th scope="col" class="text-center">Goals (appearances)</th>
                            </tr>
                        </thead>
                        
                    {% for player in stats.goals %}
                        <tr>
                            <th scope="row"  class="text-center">{{ loop.index }}</th>
                            <td  class="text-center">{{ player.full_name }}</td>
                            <td  class="text-center">{{ player.scored }} ({{ player.appearances }})</td>
                        </tr>
                    {% endfor %}
                    </table>

                </div>

            </div>
        </div>

    </div>
</section>
    
    
{% endblock %}