{% extends 'site/base.html.twig' %}

{% block title %}Cookie Polocy{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Cookie Policy",
    "item": "{{ url('site_article_cookie_policy') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cookie Policy</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Cookie Policy</h1>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article">
    	<div class="row">
    		<div class="col">
    			<h2>Use of cookies across our communication channels is detailed below.</h2>

				<p>When you visit our websites (the “<span>Websites</span>”) or social media sites, you may provide us with two types of information: (i) Personal Information - which you knowingly choose to disclose, that is collected on an individual basis and is used in accordance with our Privacy Policy; and (ii) Website Information which is collected on an aggregate basis as you and others browse the Websites or interact with our social media sites, and is used as set out in this Cookies Policy.</p>

				<p>You can surf the Websites anonymously and access important information without revealing your identity. However, for the purposes described in this policy, we use “cookies” to measure your visits to our Websites. A cookie is a small text file that our Websites store on your device or web browser and can later retrieve. These cookies allow us to distinguish you from other users of the Websites, or where you have visited a Website by clicking through from a Club communication (such as an email) that you have received.</p>

				<p>We also use cookies on our Websites and social media sites which are used when you share information using a sharing button or “like” button, or when you click on links on the official Slough Town FC social media pages on sites such as Facebook or Twitter. The companies that deliver this functionality, and the operators of the sites, will record that you have done this and this information may be linked to targeting/advertising activities.</p>

				<p>If you choose not to delete and/or block cookies from the Websites, and continue to use the Websites, you are thereby consenting to our use of such cookies.</p>

				<p>A description of the type of cookies that we use, and their purpose, is below:</p>

				<h3>Category 1: Strictly necessary cookies</h3>

				<p>These are required for the operation of the websites. For example, to remember the previous actions so you can navigate back to previous pages. These cookies are essential in order to move around the websites and use their features, such as accessing areas of the websites. Without these cookies, services you have asked for, like shopping baskets, cannot be provided.</p>
				 	 
				<h3>Category 2: analytical/performance cookies</h3>

				<p>These cookies collect anonymous information about how visitors use the Websites.	These cookies collect information about how you use the Websites, for instance which pages you go to most often. These cookies do not collect information that identifies you. All information these cookies collect is aggregated and therefore anonymous. It is only used to improve how the Websites work and understand what interests our users.</p>
				 	 
				<h3>Category 3: functionality cookies</h3>

				<p>These are used to recognise users when they return to the Websites. They remember user choices and enable the personalisation of content. These cookies allow the Websites to remember choices you make (such as your user name, language or the region you are in) and provide enhanced, more personal features. They may also be used to provide services such as remembering whether you have already responded to a questionnaire. The information these cookies collect may be anonymised and they cannot track your browsing activity on other websites.</p>
				 	 
				<h3>Category 4: Targeting Cookies</h3> 	 

				<p>These cookies collect information about your browsing habits in order to make advertising relevant to you and your interests. These cookies are used to deliver adverts more relevant to you and your interests. They are also used to limit the number of times you see an advertisement as well as help measure the effectiveness of the advertising campaign. They are usually placed by advertising networks with our permission. They remember which websites you have visited and this information is shared with other organisations such as advertisers. Quite often targeting or advertising cookies will be linked to site functionality provided by the other organisation.</p>

				<p>You may delete and block all cookies from the Websites, but parts of the Websites may not then work. Most web browsers and devices allow some control of most cookies through the browser or device settings, for example you can set up your web browser to inform you when you receive a cookie, giving you the chance to decide whether or not to accept it. To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit <a href="http://www.allaboutcookies.org" target="_blank" class="btn btn-link">www.allaboutcookies.org</a>. To manage cookies linked to targeting/advertising activities, visit <a href="http://www.youronlinechoices.com" target="_blank" class="btn btn-link">www.youronlinechoices.com</a>. To opt out of being tracked by Google Analytics across all websites visit <a href="https://tools.google.com/dlpage/gaoptout" target="_blank" class="btn btn-link">https://tools.google.com/dlpage/gaoptout</a>.</p>
    		</div>
    	</div>
    </div>
</section>
{% endblock %}