{% extends 'site/base.html.twig' %}

{% block title %}Order Drinks at the Bar{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Drinks",
    "item": "{{ url('site_article_drinks') }}"
   }]
}
</script>

	<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
	    <div class="container">
	        <ol class="breadcrumb">
	            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
	            <li class="breadcrumb-item active" aria-current="page">Order Drinks at the Bar</li>
	        </ol>
	    </div>
	</nav>

	<section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Order Drinks at the Bar</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">

        	<div class="row">
	            <div class="col">
	            <div data-theme="light" id="flipdish-menu" data-offset="0" data-restaurant="fd17537"></div><script id="flipdish-script" type="text/javascript" charset="UTF-8" src="https://web-order.flipdish.co/client/productionwlbuild/latest/static/js/main.js"></script>

	            </div>
	        </div>
        </div>
    </section>

{% endblock %}