{% extends 'site/base.html.twig' %}

{% block title %}Arbour Park Ground Regulations{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Ground Regs",
    "item": "{{ url('site_article_groundregs') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Arbour Park Ground Regulations</li>
        </ol>
    </div>
</nav>

<section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Arbour Park Ground Regulations</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">

        	<div class="row">
	            <div class="col">
	            	<p>Entry to the Ground is expressly subject to acceptance by the visitor of these Ground Regulations and the rules and regulations of FIFA, UEFA, The Football Association and The National League in respect of the relevant competition. The Ground Regulations incorporate the Club's Customer Charter and entry to the Ground shall constitute acceptance of theses Ground Regulations.</p>

	            	<p>"Ground" means this football stadium and all locations owned, occupied or utilised by the Club. "Club" means this football club. "Match" means any association football match (or any part or aspect of such a match) taking place at the Ground. "Material" means any audio, visual or audio-visual material or any information or data. “Football Authorities” means The National League, The Football League, The Premier League, The Football Association, the Football Association of Wales, FIFA, UEFA and any other relevant governing body of association football.</p>

	            	<p>1 Notwithstanding possession of any ticket the Club, any police officer or authorised steward may refuse entry to (or eject from) the Ground of any person:</p>
					<p>1.1 that fails (or in the Club's reasonable opinion is likely to fail) to comply with these Ground Regulations or any reasonable instruction issued by a police officer or authorised steward; and/or</p>
					<p>1.2 their presence within the Ground is, or could (in the Club's reasonable opinion), constitute a source of danger, nuisance or annoyance to any other person.</p>
					<p>1.3	under the age of 12 will not be permitted admission unless they are accompanied by an adult.</p> 
					<p>2 On no account will admission be granted to a person who is the subject of a current Banning Order under the Football Spectators Act 1989 (as amended) or has been convicted of ticket touting offences under the Criminal Justice and Public Order 1994 (as amended).</p>
					<p>3 The Club excludes to the maximum extent permitted by law any liability for loss, injury or damage to persons/property in or around the Ground.</p>
					<p>4 No guarantees can be given by the Club that a Match will take place at a particular time or on a particular date and the Club reserves the right to reschedule the Match without notice and without any liability whatsoever.</p> 
					<p>5 In the event of the postponement or abandonment of the Match, refunds (if any) will be made in accordance with the Club's Customer Charter. The Club will have no further liability whatsoever, including (but not limited to) any indirect or consequential loss or damage, such as (but not limited to) loss of enjoyment or travel costs.</p>
					<p>6 All persons seeking entrance to the Ground acknowledge the Club's right to search any person entering the Ground and to refuse entry to or eject from the Ground any person refusing to submit to such a search.</p>
					<p>7 The following articles must not be brought within the Ground - knives, fireworks, smoke canisters, air-horns, flares, weapons, dangerous or hazardous items, laser devices, bottles, glass vessels, cans, poles and any article that might be used as a weapon and/or compromise public safety. Any person in possession of such items will be refused entry to the Ground.</p>
					<p>7.1 The decision on what items are subject to this policy rests with the Club.</p>
					<p>8 Further, you may not bring into the Ground any sponsorship, promotional or marketing materials save in respect of official club merchandise and/or other football related clothing worn in good faith nor may you offer (either free or for sale by any person) any goods (including literature) of any nature without the express written approval of the Management.</p>
					<p>9 The use of threatening behaviour, foul or abusive language is strictly forbidden and will result in arrest and/or ejection from the Ground. The Club may impose a ban for one or more Matches.</p>
					<p>10 Racial, homophobic or discriminatory abuse, chanting or harassment is strictly forbidden and will result in arrest and/or ejection from the Ground. The Club may impose a ban for one or more Matches.</p>
					<p>11 The following acts are offences under the Football (Offences) Act 1991 (as amended):</p>
					<p>11.1 The throwing of any object within the Ground without lawful authority or excuse.</p>
					<p>11.2	The chanting of anything of an indecent or racialist nature.</p> 
					<p>11.3	The entry onto the playing area or any adjacent area to which spectators are not generally admitted without lawful authority or excuse. Conviction may result in a Banning Order being made.</p>
					<p>12 All persons entering seated areas of the Ground may only occupy the seat allocated to them by their ticket. No person entering the Ground should move from any one part of the Ground to another part without the express permission or instruction of any steward, officer of the Club and/or any police officer.</p>
					<p>12.1 Paragraph 12 will only be enforced where segregation exists and/or is applicable</p>
					<p>13 Nobody may stand in any seating area whilst play is in progress. Persistent standing in seated areas whilst play is in progress is strictly forbidden and may result in ejection from the Ground.The obstruction of gangways, access ways, exits and entrances, stairways and like places is strictly forbidden. Nobody entering the Ground shall be permitted to climb any structures within the Ground.</p>
					<p>14 National League stadia are subject to Laws governing smoking. These Laws must be observed and smoking will not be permitted within particular marked areas of the Ground where it is prohibited.</p>
					<p>15 Mobile telephones and other mobile devices are permitted within the Ground PROVIDED THAT (i) they are used for personal and private use only (which, for the avoidance of doubt and by way of example only, shall not include the capturing, logging, recording, transmitting, playing, issuing, showing, or any other communication of any Material for any commercial purposes); and (ii) no Material that is captured by a mobile telephone or other mobile device may be published or otherwise made available to any third parties including, without limitation, via social networking sites.</p>
					<p>16 Under the Sporting Events (Control of Alcohol etc) Act 1985 (as amended)*, the following are offences for which a person can be arrested by a police officer and conviction could result in a Banning Order being made:</p>
					<p>16.1 Attempting to enter the Ground or being inside the Ground whilst drunk;</p>
					<p>16.2 Being in possession of any intoxicating liquor, or bottle, can or other portable container and which could cause damage or personal injury, when entering the Ground or in a public area of the Ground from which the event can be directly viewed.
					*The Sporting Events (Control of Alcohol Act etc) 1985 does not apply to National League North or National League South matches unless Clubs from these Divisions are playing against teams from a higher Division, e.g. The Premier League; the Football League or The National League.</p>
					<p>17 No alcohol may be brought into the Stadium and the purchase and consumption of alcohol may be restricted to designated areas only</p>
					<p>18 Any individual who has entered any part of the Ground designated for the use of any group of supporters to which he does not belong may be ejected from the Ground either for the purposes of his own safety or for any other reason.</p>
					<p>19 Save as set out in paragraph 16 above, no person (other than a person who holds an appropriate licence) may capture, log, record, transmit, play, issue, show or otherwise communicate (by digital or other means) any Material in relation to the Match, any players or other persons present in the Ground and/or the Ground, nor may they bring into the Ground or use within the Ground (or provide to, facilitate or otherwise assist another person to use within the Ground) any equipment or technology which is capable of capturing, logging, recording, transmitting, playing, issuing, showing or otherwise communicating (by digital or other means) any such Material. Copyright, database rights and any other intellectual property rights in any unauthorised recording or transmission is assigned (by way of present assignment of future rights) to the Club and The National League. You further agree (if and whenever required to do so by the Club and/or The National League) to promptly execute all instruments and do all things necessary to vest the right, title and interest in such rights to the Club and The National League absolutely and with full title guarantee.</p>
					<p>20 No goods (including literature) of any nature may be offered either free or for sale by any person within the Ground without the express written permission of the Club.</p>
					<p>21 Tickets are not transferable and may not be offered for sale without the prior written permission of the Club. Any tickets that are transferred are transferred subject to these Ground Regulations. Any tickets offered for sale may be confiscated by any steward, officer of the Club or any police officer. The Club reserves the right to refuse admission to or eject from the Ground, any person who has transferred his/her ticket in contravention of the relevant ticket terms and conditions (and/or the holder of any ticket that has been transferred in contravention of the relevant ticket terms and conditions.) Tickets remain the property of the Club at all times.</p> 
					<p>22 CCTV cameras may be in use in and around the Ground and the Club may itself use or pass to the police or any Football Authority or other clubs, any recordings for use in any proceedings.</p> 
					<p>23 At all times whilst present in the Ground, persons must comply with any and all instructions of any steward or officer of the Club and/or any police officer. Failure to comply with any instruction may lead to immediate ejection from the Ground.</p>
					<p>24 By entering the Ground, all persons are acknowledging that photographic images and/or video recordings (and/or stills taken from video recordings) may be taken of them and may also be used, by way of example and without limitation, in televised coverage of the game or by or on behalf of the Club or any Football Authority (or their commercial partners) for marketing, training or promotional purposes. Entry into the Ground is confirmation that all persons have consented to such use of their image. If these images should feature an individual prominently the Club will make reasonable efforts to gain the consent of that person before publishing such images, however, if this is not possible, then entry into the Ground shall be deemed consent unless the Club is notified in writing to the contrary.  Further, if such person is under 18 years of age, the parent, guardian, or responsible adult who is accompanying them into the Ground shall be deemed to have provided consent on their behalf.</p>
					<p>25 Refused entry to (or ejection from) the Ground may lead to further action by the Club including, but not limited to, the withdrawal of any season ticket (without reimbursement), Club Membership and other benefits.</p>
					<p>25.1 The Club reserves absolutely the right to eject from the Stadium any person failing to comply with any of the Stadium Regulations or whose presence within the Stadium is, or could, reasonably be construed as constituting a source of danger, nuisance or annoyance to any other person.</p>
					<p>26 No dogs are permitted access to the stadium except that if a visually or hearing impaired spectator requires the assistance of a guide dog, the dog will be allowed access to the Stadium free of charge.</p>
	            </div>
	        </div>
        </div>
    </section>

{% endblock %}