{% extends 'site/base.html.twig' %}

{% block title %}Club Honours{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Club Honours",
    "item": "{{ url('site_article_honours') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Club Honours</li>
        </ol>
    </div>
</nav>

<section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Slough Town FC Club Honours</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">

        	<div class="row">
	            <div class="col">
	            	<h2>First Team Honours</h2>

	            	<p>A list of first team honours as a football club, covering Slough Town and all previous namesakes.</p>

	            	<ul class="list-group list-group-flush">
					  <li class="list-group-item">Ansell Trophy Winners</li>
					  <li class="list-group-item list-group-item-light">1973/74 (Shared)</li>
					  <li class="list-group-item">Athenian League Premier Champions</li>
					  <li class="list-group-item list-group-item-light">1967/68, 1971/72, 1972/73</li>
					  <li class="list-group-item">Athenian League Premier Division Runners Up</li>
					  <li class="list-group-item list-group-item-light">1968/69</li>
					  <li class="list-group-item">Athenian League Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1971/72, 1972/73</li>
					  <li class="list-group-item">Athenian League Div 1 Champions</li>
					  <li class="list-group-item list-group-item-light">1964/65</li>
					  <li class="list-group-item">Athenian League Memorial Shield Winners</li>
					  <li class="list-group-item list-group-item-light">1971/72, 1972/73</li>
					  <li class="list-group-item">Berks &amp; Bucks Benevolent Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1938/39, 1945/46 (Shared), 1948/49, 1950/51, 1955/56, 1956/57, 1957/58, 1961/62</li>
					  <li class="list-group-item">Berks &amp; Bucks Benevolent Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1935/36, 1952/53, 1959/60</li>
					  <li class="list-group-item">Berks &amp; Bucks Junior Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1891/92</li>
					  <li class="list-group-item">Berks &amp; Bucks Red Cross Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1943/44, 1944/45 (Shared)</li>
					  <li class="list-group-item">Berks &amp; Bucks Senior Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1902/03, 1919/20, 1923/24, 1926/27, 1935/36, 1954/55, 1970/71, 1971/72, 1976/77, 1980/81, 2018/19</li>
					  <li class="list-group-item">Berks &amp; Bucks Senior Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1901/02, 1920/21, 1929/30, 1946/47, 1948/49, 1949/50, 1950/51, 1952/53, 1964/65, 1967/68, 1968/69, 1972/73, 1973/74, 1989/90, 1994/95</li>
					  <li class="list-group-item">Berks &amp; Bert Hall Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1933/34, 1936/37, 1937/38, 1939/40, 1943/44, 1945/46, 1947/48, 1967/68, 1969/70</li>
					  <li class="list-group-item">Bert Hall Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1934/35, 1935/36</li>
					  <li class="list-group-item">Bressington Memorial Shield Winners</li>
					  <li class="list-group-item list-group-item-light">1982/83</li>
					  <li class="list-group-item">Bucks Charity Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1920/21, 1923/24 (Played 1924/25)</li>
					  <li class="list-group-item">Bucks Charity Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1922/23</li>
					  <li class="list-group-item">Bucks Hospital Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1920/21</li>
					  <li class="list-group-item">Chippenham Hospital Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1945/46</li>
					  <li class="list-group-item">Corinthian League Champions</li>
					  <li class="list-group-item list-group-item-light">1950/51</li>
					  <li class="list-group-item">Corinthian League Runners Up</li>
					  <li class="list-group-item list-group-item-light">1945/46, 1946/47, 1957/58</li>
					  <li class="list-group-item">Corinthian League Memorial Shield Winners</li>
					  <li class="list-group-item list-group-item-light">1964/65</li>
					  <li class="list-group-item">Corinthian League Memorial Shield Runners Up</li>
					  <li class="list-group-item list-group-item-light">1957/58</li>
					  <li class="list-group-item">Diadora League Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1994/95</li>
					  <li class="list-group-item">Dylon Charity Shield Runners Up</li>
					  <li class="list-group-item list-group-item-light">1981/82</li>
					  <li class="list-group-item">FA Amateur Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1972/73</li>
					  <li class="list-group-item">FA Amateur Cup Semi-Finalists</li>
					  <li class="list-group-item list-group-item-light">1970/71</li>
					  <li class="list-group-item">FA Amateur Cup Quarter-Finalists</li>
					  <li class="list-group-item list-group-item-light">1952/53, 1966/67, 1969/70, 1971/72</li>
					  <li class="list-group-item">FA Cup 1st Round</li>
					  <li class="list-group-item list-group-item-light">1945/46, 1973/74, 1974/75, 1998/99, 1991/92, 1992/93, 1993/94, 1994/95, 1995/96, 1996/97, 1997/98, 1998/99, 2002/03, 2012/13, 2023/24</li>
					  <li class="list-group-item">FA Cup 2nd Round</li>
					  <li class="list-group-item list-group-item-light">1970/71, 1979/80, 1982/83, 1985/86, 1986/87, 2004/05, 2017/18, 2018/19</li>
					  <li class="list-group-item">FA Trophy Semi Finalists</li>
					  <li class="list-group-item list-group-item-light">1976/77, 1997/98</li>
					  <li class="list-group-item">Great Western Suburban League Runners Up</li>
					  <li class="list-group-item list-group-item-light">1919/20</li>
					  <li class="list-group-item">Herts &amp; Middlesex League Runners Up</li>
					  <li class="list-group-item list-group-item-light">1943/44</li>
					  <li class="list-group-item">Isthmian Div 2 Runners Up</li>
					  <li class="list-group-item list-group-item-light">1973/74</li>
					  <li class="list-group-item">Isthmian Premier Div Champions</li>
					  <li class="list-group-item list-group-item-light">1980/81, 1989/90</li>
					  <li class="list-group-item">Isthmian Premier Runners Up</li>
					  <li class="list-group-item list-group-item-light">1994/95</li>
					  <li class="list-group-item">Isthmian League Cup</li>
					  <li class="list-group-item list-group-item-light">2004/05</li>
					  <li class="list-group-item">Isthmian Subsidary Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1975/76, 1980/81</li>
					  <li class="list-group-item">Lloyd Memorial Winners</li>
					  <li class="list-group-item list-group-item-light">1953/54</li>
					  <li class="list-group-item">Marlow Inviatation Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1969/70, 1978/79, 1980/81, 1982/83 (Shared)</li>
					  <li class="list-group-item">Maidenhead Charity Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1953/54</li>
					  <li class="list-group-item">Maidenhead Norfolkian Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1891/92</li>
					  <li class="list-group-item">Mittas Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1967/68 (Played 1968/69)</li>
					  <li class="list-group-item">Oxford Hospital Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1920/21 (Shared)</li>
					  <li class="list-group-item">Oxford Hospital Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1905/06, 1911/12, 1912/13, 1921/22</li>
					  <li class="list-group-item">Premier Midweek Floodlight League Champions</li>
					  <li class="list-group-item list-group-item-light">1971/72</li>
					  <li class="list-group-item">Premier Midweek Floodlight League Section Winners</li>
					  <li class="list-group-item list-group-item-light">1973/74</li>
					  <li class="list-group-item">Printed &amp; Allied Trades Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1953/54</li>
					  <li class="list-group-item">Slough Centenary Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1989/90</li>
					  <li class="list-group-item">Slough Charity Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1930/31, 1931/32, 1932/33, 1933/34</li>
					  <li class="list-group-item">Slough Hospital Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1945/46, 1947/48, 1948/49, 1946/47, 1968/69</li>
					  <li class="list-group-item">Southern Combination Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1958/59, 1962/63, 1963/64</li>
					  <li class="list-group-item">Southern Combination Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1959/60 (Played 1960/61)</li>
					  <li class="list-group-item">Spartan League Runners Up</li>
					  <li class="list-group-item list-group-item-light">1920/21, 1921/22, 1931/32, 1932/33, 1938/39</li>
					  <li class="list-group-item">Thame Tournament Runners Up</li>
					  <li class="list-group-item list-group-item-light">1994/95</li>
					  <li class="list-group-item">Tom Spicer Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1988/89</li>
					  <li class="list-group-item">Vauxhall League Charity Shield Winners</li>
					  <li class="list-group-item list-group-item-light">1990/91</li>
					  <li class="list-group-item">Westminster Hospital Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1966/67, 1967/68</li>
					  <li class="list-group-item">Westminster Hospital Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1968/69</li>
					  <li class="list-group-item">Windsor Hospital Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1965/66, 1966/67 (Shared), 1968/69 (Shared), 1969/70</li>
					  <li class="list-group-item">Windsor Hospital Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1921/22, 1930/31, 1934/35, 1935/36 (Played 1936/37), 1967/68</li>
					  <li class="list-group-item">Wycombe Floodlight League Champions</li>
					  <li class="list-group-item list-group-item-light">1925/26, 1926/27, 1965/66, 1967/68</li>	
					</ul>

				    <h2>Reserve Team Honours</h2>
				    
				    <h3>1901/02 - Present Day</h3>
				    
				    <p>A list of the honours won by Slough Town FC's Reserve teams or their past namesakes between 1901/02 and the present day listed in alphabetical order.</p>

				    <ul class="list-group list-group-flush">
					  <li class="list-group-item">Athenian League Premier Champions</li>
					  <li class="list-group-item list-group-item-light">1966/67</li>
					  <li class="list-group-item">Athenian League Premier Runners Up</li>
					  <li class="list-group-item list-group-item-light">1969/70, 1970/71</li>
					  <li class="list-group-item">Athenian League Div 1 Champions</li>
					  <li class="list-group-item list-group-item-light">1964/65</li>
					  <li class="list-group-item">Berks &amp; Bucks Junior Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1903/04, 1905/06</li>
					  <li class="list-group-item">Berks &amp; Bucks Intermediate Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1959/60</li>
					  <li class="list-group-item">Bucks Charity Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1923/24</li>
					  <li class="list-group-item">Corinthian League Champions</li>
					  <li class="list-group-item list-group-item-light">1948/49, 1951/52</li>
					  <li class="list-group-item">Maidenhead Norfolkian Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1922/23, 1988/89</li>
					  <li class="list-group-item">Maidenhead Norfolkian Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1908/09, 1913/14</li>
					  <li class="list-group-item">Neale Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1949/50</li>
					  <li class="list-group-item">Neale Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1951/52, 1955/56, 1959/60</li>
					  <li class="list-group-item">Presidents Cup Winners</li>
					  <li class="list-group-item list-group-item-light">2003/04</li>
					  <li class="list-group-item">Reading &amp; District League Champions</li>
					  <li class="list-group-item list-group-item-light">1938/39</li>
					  <li class="list-group-item">Reading Senior Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1950/51, 1951/52, 1965/66</li>
					  <li class="list-group-item">Reading Senior Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1956/57</li>
					  <li class="list-group-item">Slough Town Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1946/47, 1953/54</li>
					  <li class="list-group-item">Slough Town Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1926/27</li>
					  <li class="list-group-item">Suburban League Cup Runners Up</li>
					  <li class="list-group-item list-group-item-light">1981/82</li>
					  <li class="list-group-item">Suburban League Champions Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1995/96, 1996/97</li>
					  <li class="list-group-item">Suburban League Challenge Shield Runners Up</li>
					  <li class="list-group-item list-group-item-light">1995/96</li>
					  <li class="list-group-item">Suburban League North Champions</li>
					  <li class="list-group-item list-group-item-light">1994/95</li>
					  <li class="list-group-item">Suburban League Premier Champions</li>
					  <li class="list-group-item list-group-item-light">1997/98</li>
					  <li class="list-group-item">Suburban League West Champions</li>
					  <li class="list-group-item list-group-item-light">1988/89</li>
					  <li class="list-group-item">South Bucks &amp; East Berkshire League Runners Up</li>
					  <li class="list-group-item list-group-item-light">1901/08</li>
					  <li class="list-group-item">Spartan League Runners Up</li>
					  <li class="list-group-item list-group-item-light">1926/27</li>
					  <li class="list-group-item">Westminster Hospital Cup Winners</li>
					  <li class="list-group-item list-group-item-light">1955/56, 1956/57, 1957/58, 1958/59, 1960/61</li>
					  <li class="list-group-item">Windsor, Slough &amp; District League Champions</li>
					  <li class="list-group-item list-group-item-light">1913/14</li>
					 </ul>
	            </div>
	        </div>
        </div>
    </section>
{% endblock %}