{% extends 'site/base.html.twig' %}

{% block title %}{{ article.headline }}{% endblock %}
{% block description %}{{ article.excerpt }}{% endblock %}
{% block socialAsset %}{{ absolute_url(article.smallPictureUrl) }}{% endblock %}

{% block body %}
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "{{ url('site_homepage_index') }}"
        },{
        "@type": "ListItem",
        "position": 2,
        "name": "News",
        "item": "{{ url('site_news_index') }}"
        },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ article.headline }}",
        "item": "{{ nameurl('site_article_main', { 'id': article.id, 'name': article.urlheadline }) }}"
        }]
        }
    </script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('site_news_index') }}">News</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ article.headline }}</li>
            </ol>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid article-image" style="background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('{{ article.pictureUrl }}');">
        <div class="container">
            <div class="row">
                <div class="col align-self-end mb-3">
                    <h1 class="display-4">{{ article.headline }}</h1>
                    <p class="lead">{{ article.excerpt }}</p>
                </div>
            </div>
        </div>
    </div>

    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p><i class="far fa-clock"></i> {{ article.publishDate|date("d/m/y") }}</p><br>
                </div>
            </div>

            {% if article.videoUrl is not empty %}
                <div class="row media-row">
                    <div class="col">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" type="text/html" src="https://www.youtube.com/embed/{{ article.videoURL }}" allowfullscreen frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if article.audioUrl is not empty %}
                <div class="row media-row">
                    <div class="col">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="100%" height="98" frameborder="0" allowtransparency="allowtransparency" scrolling="no" src="https://anchor.fm/sloughtownfc/embed/episodes/{{ article.audioUrl }}"></iframe>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                {% if article.quote is not empty %}
                    <div class="col-12 col-md-4">
                        <div class="card quote">
                            <div class="card-body">
                                <p><i class="fa fa-quote-left"></i>{{ article.quote }}<i class="fa fa-quote-right"></i></p>
                                <hr>
                                <h4 class="card-title">{{ article.quoteBy|default('') }}</h4>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="col">
                    {{ article.body|raw|nl2br}}
                </div>
            </div>

            <div class="row copyright">
                <div class="col">
                    <p><small>Copyright {{ 'now'|date('Y') }} Slough Town F.C. Permission to use quotations from this article is granted subject to appropriate credit being given to www.sloughtownfc.net as the source.</small></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}