{% extends 'site/base.html.twig' %}

{% block title %}External Links{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "External Links",
    "item": "{{ url('site_article_links') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">External Links</li>
        </ol>
    </div>
</nav>

<section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>External Links</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">

        	<div class="row">
	            <div class="col">
	            	<p>Please find below a list of possible links of interest relating to Slough Town FC.</p>
        
        			<p>Please click on a link below to go to a site. Slough Town FC is not responsible for the content of external internet sites.</p>

        			<h2>Links</h2>
    
				    <p><a href="http://www.thenationalleague.org.uk" target="_blank" class="btn btn-lnk">The Vanarama National League</a></p>

				    <p><a href="http://www.thefa.com" target="_blank" class="btn btn-lnk">The FA</a></p>

				    <p><a href="http://www.berks-bucksfa.com/" target="_blank" class="btn btn-lnk">The Berks &amp; Bucks FA</a></p>
				    				    
				    <p><a href="http://sloughtownsoapbox.blogspot.com/" target="_blank" class="btn btn-lnk">Brighton Rebel Blog</a></p>
				    
				    <p><a href="http://www.sloughobserver.co.uk/sport/sloughtown/" target="_blank" class="btn btn-lnk">Slough Observer Sport</a></p>
				    
				    <p><a href="https://www.sloughexpress.co.uk/section/72/slough-town-fc" target="_blank" class="btn btn-lnk">Slough Express Sport</a></p>
	            </div>
	        </div>
        </div>
    </section>
{% endblock %}