
{% extends 'site/base.html.twig' %}

{% block title %}Slough Town v Maidstone United - Live - KO 15:00{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Live Stream",
    "item": "{{ url('site_article_live') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Slough Town v Maidstone United - Live</li>
        </ol>
    </div>
</nav>

<section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Slough Town v Maidstone United - Live - KO 15:00</h1>
                </div>
            </div>
        </div>
    </section>

<section class="main">
  <div class="container article">

    <div class="row mb-5">
      <div class="col">

        <p class="mb-3">Note: The stream will commence 15 minutes prior to kick off.</p>

        <a href="https://bit.ly/33ph76r" target="_blank">
          <img class="img-fluid" src="{{ asset('images/main/live/Maidstone.png') }}" />
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  How to Purchase and Watch
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <ol>
                  <li>Click 'Buy Now' on the video</li>
                  <li>Fill in your card details, making sure your email address is correct, and click 'Pay'</li>
                  <li>You will receive an email which includes a password for the live stream, once the stream has started copy this password</li>
                  <li>Visit www.sloughtownfc.net/live</li>
                  <li>Fill in the password box with the password from the email and click 'Enter'</li>
                  <li>Sit back and cheer on the Rebels!</li>
                </ol>

                <p>For issues please contact <a href="mailto:media@sloughtownfc.net">media@sloughtownfc.net</a></p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Watching a stream on TV
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>Depending on your devices / TV, it is possible to show the stream on your TV at home. Below are some of the possible ways of accomplishing this.</p>

                <h5>Cable</h5>

                <p>If your laptop has an HDMI output, or if you have an HDMI adapter for your tablet device, you can simply connect an HDMI cable to your TV and share the  stream to it that way</p>

                <h5>Screen Share</h5>

                <p>Some devices & TVs will have the capability to share your screen from your mobile/tablet to your TV. An example of this would be Apple's AirPlay function if you have an Apple TV device, or alternatively Google Chromecast.</p>

                <p>If your Smart TV doesn't natively have this function built-in, you may be able to download an app called Video & TV Cast, and the corresponding app on your mobile/tablet device and share the live stream that way. Visit <a href="https://video-tv-cast.com" target="_blank">video-tv-cast.com</a> for more information.</p>

                <h5>TV Web Browser</h5>

                <p>Your smart TV, or games console, may come with a web browser that can let you watch the stream.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  FAQs
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <h5>Can I watch the stream later in the day?</h5>

                <p>Unfortunately we are unable to show the live stream on a delay due to a National League embargo in place for league matches, which prevents the club using any match footage until 12.01am on Monday for Saturday matches and 10pm the following day for midweek matches.</p>

                <h5>Can I watch the stream if I live abroad?</h5>

                <p>Yes, there's no restrictions in place to prevent the club from streaming matches to other countries.</p>

                <h5>Can I watch the stream on more than one device at a time?</h5>

                <p>Purchasing a live stream will allow you to watch the match on the device you purchased it on. If you want to watch the match on a different device, you will need to obtain a new code. Click on the link to the player on your new device, and a new code will be generated and emailed to the address used in the original purchase. This code will allow you to now watch the game on the new device. The match cannot be watched on more than one device at a time.</p>

                <p>Plesae note that the streaming player relies on the use of cookies to check for device approval. If you have cookies disabled then you may experience issues viewing the stream.</p>

                <h5>What do I do if I have paid to view but have not received my passcode?</h5>

                <p>First check your Junk Mail / SPAM folders and if your code has not been received contact <a href="mailto:media@sloughtownfc.net">media@sloughtownfc.net</a></p>

                <h5>Will there be commentary?</h5>

                <p>Rebels Radio commentator Adrian Gomm will provide his excellent and unbiased commentary on our live stream.</p>

                <h5>Will you still be providing highlights?</h5>

                <p>Our usual match highlights, compiled by FCVideo will be made available in line with National League embargo timelines.</p>

                <h5>Which matches will you be covering?</h5>

                <p>It is our intention to cover all home league and cup fixtures whilst dispensation has been granted by the National League and FA until stadium capacity restrictions have been lifted.</p>

                <h5>What time will coverage start?</h5>

                <p>Coverage will aim to start 15 minutes before kick-off.</p>

                <h5>Can my business advertise or sponsor a stream?</h5>

                <p>For advertising and sponsorship opportunities on the live stream plezse contact <a href="mailto:commercial@sloughtownfc.net">commercial@sloughtownfc.net</a></p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Issues with your stream?
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <h5>What is Two factor authentication?</h5>

                <p>As with all passwords check your spam. You can only watch the stream on one device at a time. If you get a message for two factor authentication another  password email will be sent. Put this password in the required field. It’ll activate the stream on this device and close it on previous.</p>

                <h5>The stream keeps buffering?</h5>
                <p>This could be down to a multitude of issues some of which are out of our control but please check:</p>

                <p>If you can, watch from a wired device. ßYou could be on the fastest connection, but if you are using wifi you are introducing a bottleneck. Think of the wifi signal like waves hitting a shore, some waves are bigger than others. The data from your router will be transmitted to your device like that. Some packets of data will be bigger than others – if you get hit but a few “small waves” your stream might dry up. As such if you can, ALWAYS go wired. We appreciate this isn’t possible for everyone – but it’s the single biggest step you can take if there’s an option use it.</p>

                <p>Close down any other applications you are using. If your computer is performing a bunch of other tasks or running many programs at the same time, it might not have the capacity to stream video flawlessly. Even if the other applications are running in the background, doing nothing or minimised, they still consume system resources.</p>

                <p>Likewise if you’ve not the strongest wifi, is anyone else in the house using it? Netflix on the main TV, gaming in a bedroom? That’ll all have a detrimental effect, especially if your internet isn’t the fastest.</p>

                <p>Clear your browser settings. The problem might be on your local computer, and in your web browser in particular. Browsers maintain a local cache for sites you previously visited. When you revisit a website, the browser checks the cache; if the local content is current, it loads from there rather than downloading it. The problem? Your browser can get overloaded with temporary and cached data that slows it down.</p>

                <p>Reset & Upgrade your router. People tend to set up a Wi-Fi router and then forget about it. But routers need regular maintenance as well. Check with your manufacturer for firmware updates. Also, it doesn’t hurt to do a hard reset once in a while. Pull the power cord on the router, count to 10, then plug it back in.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>
    
    
{% endblock %}
