{% extends 'site/base.html.twig' %}

{% block title %}Motorama{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Motorama",
    "item": "{{ url('site_article_motorama') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Motorama</li>
        </ol>
    </div>
</nav>

<section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Motorama</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">

        	<div class="row">
	            <div class="col">
	            	<div class="text-center">
	            		<img src="{{ asset('images/main/vanarama/motorama.jpg') }}" class="img-fluid" alt="Motorama" />
	            	</div>
	            	<p>At Motorama, we understand that a car is a statement about you. Whether you want comfort or style, safety or reliability – we’ve got cars on demand.</p>

	            	<p>Through a Personal Contract Hire lease agreement, you can be behind the wheel of your dream car making the same simple monthly payments that you would with a mobile phone contract. And in today’s high-pace world, driving you dream car shouldn’t be any different, or any harder, than choosing your next mobile phone.</p>

	            	<p>Stop buying, start leasing.</p>

	            	<p>Choose your mileage, choose the amount of time you want to use the car, and order from the comfort of your sofa – we even deliver free and fast direct to your front door. Choosing to lease from Motorama is the pinnacle of hassle-free car usership.</p>

					<p>Over 9,000 vehicles for choose from<br />Best price guaranteed<br />Free nationwide delivery<br />1,000 extra miles free<br />UK’s leading independent vehicle broker</p>

					<p>Just head to www.motorama.com and find out first-hand why you’ll never BUY a car again.</p>

	            </div>
	        </div>
        </div>
    </section>
{% endblock %}