{% extends 'site/base.html.twig' %}

{% block title %}Meet Our Partners{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Meet Our Partners",
    "item": "{{ url('site_article_partners') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Meet Our Partners</li>
        </ol>
    </div>
</nav>

<section class="title">
      <div class="container">
          <div class="row align-items-center">
              <div class="col">
                  <h1>Meet Our Partners</h1>
              </div>
          </div>
      </div>
  </section>

  <section class="main">
      <div class="container article">

          <div class="row">
              <div class="col">


                <h2>Slough Express</h2>

                <p>The Slough & Windsor Express is your ultimate guide to local news and sport in Slough and Windsor. At the heart of the community for over 200 years, you can trust us to deliver the latest local news,events, and stories that matter most.</p>

                <p>From grassroots football and rugby to local sports clubs, we cover it all. Whether you’re tracking your favourite teams, looking for match highlights, or staying updated on upcoming fixtures, the Slough &amp; Windsor Express is your go-to place for keeping a pulse on what’s happening locally.</p>

                <p>Available in print or online.</p>

                <p><span>SPECIAL OFFER</span> - Try a three-month online subscription for just £3 (usual price £12.99). Just scan the QR and take out a quarterly subscription using code REBELS343</p>

                <hr>

                <h2>Windsor & Eton Brewery</h2>

                <p>Windsor & Eton Brewery is an independent business that has been brewing award-winning beer since 2010. As well as amassing over one hundred national awards for our beers, we have acquired several retail sites, including flagship pub The George in Eton and Unit 4, our on-site taproom.</p>

                <p>As we continue to grow our brand throughout the UK and abroad, we are delighted to partner with Slough Town FC and their new management. With quality and community at the forefront of our ethos, we feel our two businesses are perfectly aligned. We look forward to welcoming Slough Town fans to the brewery soon!</p>

                <p>We would like to welcome all the Slough Town FC supporters to enjoy a W&E beer with 10% discount on all online purchases. Use code STFC10 upon check-out on our <a href="https://shop.webrew.co.uk/collections/all-beer" target="_blank" class="btn-link external">website</a>.</p>

                <hr>

                <h2>JA Fitness</h2>

                <p>With a background in high-performance sports, JA Fitness is all about all things Fitness and Sports Performance through a variety of offerings at the studio in Arbour Park.</p>

                <p>If you are looking to lose weight, tone up and improve your general fitness then I run personalised 1-1 and Small Group PT sessions and programmes to help you achieve a healthier lifestyle and achieve your fitness goals.</p>

                <p>Specialising in Strength & Conditioning and improving Sports Performance through Strength, Speed, Power & Agility work. I work with athletes from a variety of sports with individualised programming that guarantees results.</p>

                <p><span>OFFER</span> - 10% off memberships to any STFC Season Ticket Holders</p>

                <hr>

                <h2>Thames Hospice</h2>

                <p>Thames Hospice provide complex, specialist palliative and end-of-life care and support.</p>

                <p>Proudly serving the community of East Berkshire and South Buckinghamshire since 1987, we provide a safe and caring environment for those facing a life-limiting diagnosis, aged 16 and over. Our multi-disciplinary team is committed to delivering outstanding clinical and therapeutic support, providing patients and their loved ones the choice of care they receive and where they receive it – at home or in the Hospice.</p>

                <p>Our services are free of charge, but this is only made possible through the charitable support and generosity of our amazing community.</p>

                <hr>

                <h2>Verus Group</h2>

                <p>Verus Group is a well-established and trusted passive fire protection company. They specialise in the installation, maintenance and surveying of Fire Stopping and Fire Doors, with a simple aim of creating safer living and working environments.</p>

                <p>The company prides itself on bringing a consistent and reliable service to clients, ensuring that if the worst were to happen, the spread of fire is obstructed, confined and unable to spread.</p>

                <p>Over the years, the company has worked on hundreds of construction and remediation projects, from small blocks of residential apartments to some of the largest data centres in the country.</p>

                <p>To find out more, visit <a href="http://www.verusgroup.co.uk" target="_blank" class="btn-link external">www.verusgroup.co.uk</a></p>

                <hr>

                <h2>Wickham Hoist</h2>

                <p>As part of our commitment to STFC we also offer all local businesses and fellow sponsors that require lift services or construction hoists, reduced costs of any equipment or Lift maintenance agreements purchased for being part of the Slough Town FC please enquire to info@Wickhamhoistltd.com for details stating STFC as reference.</p>
              </div>
          </div>
      </div>
  </section>

{% endblock %}