{% extends 'site/base.html.twig' %}

{% block title %}Partnerships{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Partnerships",
    "item": "{{ url('site_article_partnerships') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Partnerships</li>
        </ol>
    </div>
</nav>

<section class="title">
      <div class="container">
          <div class="row align-items-center">
              <div class="col">
                  <h1>Partnerships</h1>
              </div>
          </div>
      </div>
  </section>

  <section class="main">
      <div class="container article">

          <div class="row">
              <div class="col">
                <p>The Club is proud to work with a range of partners who support the club and its wider community. We’re keen to explore opportunities with new partners in finding ways to drive new revenue streams, brand awareness and improve the community we serve.</p>

                <p>There are several avenues we can take to deliver opportunities for both the Club and your business. These include:</p>

                <ul>
                  <li>Fan Engagement</li>
                  <li>Youth Development</li>
                  <li>Sustainable Stadium</li>
                  <li>Community Programmes</li>
                </ul>

                  <p>Whether through digital outreach, matchday activation, bespoke opportunities for fans and brand exposure, we want to take a creative approach to working together and delivering a partnership that we can all be proud of.</p>

                  <p>More details can be found <a href="https://www.canva.com/design/DAF-8TVVvwA/Pp230hQWK4F8c9Bh_ZPNng/view?utm_content=DAF-8TVVvwA&utm_campaign=designshare&utm_medium=link&utm_source=editor" target="_blank" class="btn btn-primary btn-sm">here</a>.</p>

                  <p>Should you wish to speak to us, please contact Steve Doyle (Commercial Director) steve.doyle@sloughtownfc.net.</p>
              </div>
          </div>

          <div class="row media-row">
                <div class="col">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" type="text/html" src="https://www.youtube.com/embed/RMIewEbM_8c" allowfullscreen frameborder="0"></iframe>
                    </div>
                </div>
            </div>

      </div>
  </section>

{% endblock %}