{% extends 'site/base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Privacy Policy",
    "item": "{{ url('site_article_privacy_policy') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Privacy Policy</h1>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article">
    	<div class="row">
    		<div class="col">
				<p>Slough Town FC is committed to protecting your personal data and handling it responsibly.</p> 

				<p>This policy covers the personal data that Slough Town FC collects whenever you interact with us, including when you use our websites and apps, when you attend events at Arbour Park, and when you correspond with us (such as by email or over the phone). It also covers personal data that we may receive from third parties.</p>

				<p>The sections below explain in more detail:</p>

				<ul>
					<li><a href="#collect" class="btn btn-link">the types of personal data we collect from you</a></li>
					<li><a href="#thirdparties" class="btn btn-link">the types of personal data we receive from third parties</a></li>
					<li><a href="#why" class="btn btn-link">why we process your personal data</a></li>
					<li><a href="#who" class="btn btn-link">who we share your personal data with</a></li>
					<li><a href="#outside" class="btn btn-link">personal data transfers outside of the EEA</a></li>
					<li><a href="#howlong" class="btn btn-link">how long we retain your personal data</a></li>
					<li><a href="#rights" class="btn btn-link">your rights to withdraw your consent and to object (including to direct marketing)</a></li>
					<li><a href="#other" class="btn btn-link">your other personal data rights</a></li>
					<li><a href="#contact" class="btn btn-link">how to contact us and exercise your rights</a></li>
				</ul>

				<p>If you would like to know how we collect information about your use of our websites, apps and social media sites, you can read our <a href="{{ path('site_article_cookie_policy') }}" class="btn btn-link">Cookie Policy</a>.</p>

				<h2 id="collect">Personal data Slough Town FC collects from you</h2>
				
				<p>We collect personal data from your interactions with us, such as when you engage with our websites and apps, attend an event at Arbour Park, or when you email or phone us.</p> 

				<p>The personal data we collect from you includes:</p>

				<ul>
					<li>the name and contact details that you provide when you purchase tickets or goods from our clubshop</li>
					<li>your payment and address details</li>
					<li>your marketing preferences, including any consents you have given us</li>
					<li>your browser or device information</li>
					<li>information about your use of our websites and apps</li>
					<li>your communications with us</li>
					<li>information about your attendance at Arbour Park. Photos and video footage of you may be taken at these events</li>
				</ul>
				 
				<h2 id="thirdparties">Personal data Slough Town FC receives from third parties</h2>

				<p>Sometimes we receive personal data from third parties, in particular:</p>

				<ul>
					<li>our commercial partners provide us with your name and contact details if you’ve asked to receive information from Slough Town FC</li>
					<li>our commercial partners provide us with your name and contact details if you’ve purchased an item from our online clubshop</li>
					<li>ticketing providers let us know if you’ve purchased tickets to an event at Arbour Park</li>
					<li>access control providers let us know if your tickets have been used at Arbour Park </li>
					<li>agencies who partner with Slough Town FC in the Community may share information with us about participants that we refer to them</li>
				</ul>

				<h2 id="why">Why Slough Town FC processes your personal data</h2>

				<p>This section explains the reasons why we process your personal data and our legal bases for doing so.</p>

				<p><span>Consent</span> - If you’ve opted-in to receive information and offers relating to the Club and our commercial partners (for example by ticking a box on one of our websites or apps), then we’ll provide this information to you by email, text, or phone.</p>

				<p>We also rely on your consent to process information about your use of our websites, apps and social media sites, so that we can improve your browsing experience and deliver online advertising that is relevant to you.</p>

				<p>Wherever we rely on your consent to process personal data, you have a right to withdraw that consent.</p>

				<p><span>Legitimate interests</span> - We process your personal data when necessary to pursue our legitimate interests in the following:</p> 

				<ul>
					<li>tailoring our websites and communications for you.  We collect information about your engagement with us online (such as pages that you have visited on our websites or apps) and combine that with aggregated insights we have about our supporter base, to build a fuller understanding of your individual preferences</li>
					<li>monitoring, improving and protecting our products, content and services</li>
					<li>checking the credit or debit card details you provide (to process your payments and prevent fraudulent transactions)</li>
					<li>sending you some types of direct marketing, including by email and post</li>
					<li>responding to your comments or complaints</li>
					<li>preventing, investigating and/or reporting fraud, terrorism, misrepresentation, security incidents or crime</li>
					<li>to protect the security of our spectators, staff and other visitors; to enforce our ground regulations; and to help detect and prevent unlawful activity using, for example, incident reports and CCTV footage</li>
					<li>managing legal claims, compliance, regulatory and investigative matters</li>
					<li>administering programmes run by us or our partner agencies that you have chosen to participate in</li>
				</ul>

				<p><span>Contract</span> - We process your personal data when necessary for contractual reasons, such as to administer your account registration and competition entries and to provide products and services that you have requested.</p>

				<p><span>Legal obligation</span> - We are legally required to process your personal data in cases where we need to:</p>

				<ul>
					<li>obtain parental consent to provide services</li>
					<li>respond to certain requests by government or law enforcement authorities</li>
					<li>work with with local Council safety requirements to collect CCTV footage of particular areas around Arbour Park</li>
				</ul>
				 
				<h2 id="who">Who Slough Town FC shares personal data with</h2>

				<p>We will share your personal data with the following recipients:</p>

				<ul>
					<li>Commercial partners, so they can advise us how best to communicate with you on their behalf.  We do not give your data to partners for them to communicate with you directly.</li>  
					<li>Facebook, so that we can display relevant advertising to you on their platform (your data is converted into a unique ID before it is shared with Facebook)</li>
					<li>third party suppliers involved in: data insights; website hosting; online personalisation; advertising; systems maintenance; ticketing; database management; identity checking; payment processing; delivery logistics; facilities management; and credit and debt management</li>
					<li>government authorities, local Council or law enforcement officials, to assist with their official requests and comply with our legal obligations</li>
					<li>other football clubs, if we think it’s appropriate to inform them of incidents at Arbour Park involving their supporters</li>
				</ul>

				<h2 id="outside">Personal data transfers outside of the EEA</h2>

				<p>The EEA includes all EU countries, as well as Iceland, Liechtenstein and Norway.  Some of the third parties that we share personal data with may need to transfer personal data outside of the EEA, for example to the United States of America.</p>

				<p>here your personal data is transferred to a country outside of the EEA and that country is not subject to an EU adequacy decision, we will ensure your data is protected by appropriate safeguards (for example, EU approved standard contractual clauses, a Privacy Shield certification, or a supplier’s Binding Corporate Rules).</p>

				<h2 id="howlong">How long Slough Town FC retains personal data</h2>

				<p>We retain personal data about your Season Ticket for as long as you are a member, and for a limited period of time afterwards.</p>

				<p>We retain personal data relating to your purchases for several years from the date of the relevant transaction.  This is to understand your purchasing preferences and to meet our legal and contractual obligations. If your purchase has enduring relevance then we’ll keep relevant information for as long as we remain responsible to you for that purchase.</p>

				<p>Where you have asked us not to send you direct marketing, we keep a record of that fact to ensure we respect your request in future.</p>

				<p>CCTV security footage from Arbour Park is held by Slough Borough Council for 30 days, unless we need to hold this data for longer to resolve an issue or to meet a legal requirement.</p>

				<p>We also retain information with the potential to give rise to legal disputes for 7 years.</p>
				 
				<h2 id="rights">Your rights to withdraw consent and to object (including to direct marketing)</h2>

				<p>Wherever we rely on your consent to process personal data, you always have a right to withdraw that consent.</p>

				<p>You also have the right to object to any use of your personal data for direct marketing purposes, as well as to processing that we undertake based on our legitimate interests (including profiling).</p>
				 
				<h2 id="other">Your other personal data rights</h2>

				<p>In addition to your rights to withdraw your consent and to object, you have the right to ask us:</p>

				<ul>
					<li>for access to information about your personal data or for a copy of your personal data</li>
					<li>to correct or delete your personal data</li>
					<li>to restrict (i.e. stop any active) processing of your personal data</li>
					<li>to provide you with certain personal data in a structured, machine readable format and to transmit that data to another organisation</li>
					<li>These rights may not always apply, for example if fulfilling your request would reveal personal data about another person, or if you ask us to delete information which we are required by law to keep or have a compelling legitimate interest in keeping.  If this is the case then we’ll let you know when we respond to your request.</li>
				</ul>

				<h2 id="contact">How to contact us and exercise your rights</h2>

				<p>We will do our best to assist with any queries you have about your personal data.  You can contact our Data Protection Officer at any time using the contact details below.  When you do so, please provide your full name, your preferred contact information, and a summary of your query.</p>

				<p><span>Data Protection Officer</span><br>Slough Town FC, Stowe Road, Slough, Berks, SL1 5QF</p>

				<p>If you have unresolved concerns, you also have the right to complain to an EU data protection authority where you live, work or where you believe a breach may have occurred. This is likely to be the Information Commissioner’s Office in the UK.</p>
    		</div>
    	</div>
    </div>
</section>
{% endblock %}