{% extends 'site/base.html.twig' %}

{% block title %}Sponsorship Opportunities{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Sponsorship Opportunities",
    "item": "{{ url('site_article_sponsorship') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sponsorship Opportunities</li>
        </ol>
    </div>
</nav>

<section class="title">
      <div class="container">
          <div class="row align-items-center">
              <div class="col">
                  <h1>Sponsorship Opportunities</h1>
              </div>
          </div>
      </div>
  </section>

  <section class="main">
      <div class="container article">

          <div class="row">
              <div class="col">
                <p>Sponsorship packages for 23/24 will be launched soon in the mean time please contact commercial@sloughtownfc.net for enquiries.</p>
              </div>
          </div>

      </div>
  </section>

{% endblock %}