{% extends 'site/base.html.twig' %}

{% block title %}Terms of Use{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Terms of Use",
    "item": "{{ url('site_article_terms_of_use') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Terms of Use</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Terms of Use</h1>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article">
    	<div class="row">
    		<div class="col">

    			<h2>General</h2>

    			<p>Welcome to our Website at www.sloughtownfc.net (the "Website"). The Website is provided by Orchard Community Sports Ltd ("OCSL") on behalf of Slough Town FC (together "us", "we" or "our"). OCSL is a company registered under number 12131178 in England and Wales, whose registered office is at 269 Farnborough Road, Farnborough, Hants, GU14 7LY, and whose registered VAT number is 334081035. In these terms and conditions, "you" and "your" means you as the user of our Website.</p>

    			<h2>Acceptance of Agreement</h2>

    			<p>These terms and conditions ("Terms and Conditions") govern your use of the Website. By accessing the Website, you agree to these Terms and Conditions. If you do not agree to these Terms and Conditions, you should not use the Website. You should read all the Terms and Conditions prior to using the Website. You should also save and/or print out a copy of these Terms and Conditions for future reference.</p>

    			<p>The privacy of your personal information (such as your name, e-mail address, address and other contact details) is important to us. Please see our <a href="{{ path('site_article_privacy_policy') }}" class="btn btn-link">Privacy Policy</a> for details of how we may process your personal information.</p>

    			<p>These Terms and Conditions, together with the Privacy Policy and the terms and conditions that apply to your use of particular areas of the Website (such as competitions) shall be collectively referred to as the "Agreement". This Agreement constitutes the entire agreement between you and us. If you are uncertain about any of its terms, please contact us by clicking here or write to us at the address set out above and we will try to respond to your query as soon as possible.</p>

    			<h2>Changes to this Agreement</h2>

    			<p>We may from time to time make changes to the terms of this Agreement. Any changes will be posted on our Website. Please review these Terms and Conditions regularly to ensure you are aware of any changes made by us. If you use the Website after changes are notified to you in this way, you agree to such changes. If you do not agree to such changes, you should not use this Website.</p>

    			<h2>Accessing our website</h2>

    			<p>Access to our Website is permitted on a temporary basis and we reserve the right to withdraw or amend any or all of the Website without notice. We may suspend access to the Website periodically to carry out emergency or scheduled maintenance or for any other reason at any time. Access to our Website is dependent upon availability of the worldwide web and we accept no responsibility for your inability to access our Website arising out of circumstances beyond our reasonable control.</p>

    			<p>We have the right to disable your access to our Website at any time if, in our opinion, you have failed to comply with any of the provisions of this Agreement.</p>

    			<h2>Our materials</h2>

    			<p>Subject to the terms of this Agreement, we grant you a non-exclusive, non-transferable, revocable, limited right to access, view, and print out one copy of this Website and all data, information, software graphics, images, text, posts and other content on the Website, ("Materials") on a single device strictly in accordance with this Agreement.</p>

    			<p>You may only view, print out and use the Website and the Materials for your own personal, non-commercial use. We expressly reserve all intellectual property rights in and to the Website and the Materials and your use of the Website and Materials is subject to the following restrictions. You must not (a) remove any copyright or other proprietary notices contained in the Materials; (b) save where expressly permitted by us to do so, modify the Materials in any way or reproduce them (c) publicly display, perform, or distribute or otherwise use the Materials for any public or commercial purpose; (c) transfer the Materials to any other person; (d) use any Materials from the Website in any manner that may infringe any intellectual property right, proprietary right, or property right of us or any third parties; or (e) reproduce, modify, display, perform, publish, distribute, disseminate, broadcast, frame, communicate to the public or circulate to any third party or exploit this Website and/or the Materials in any way; without our prior written consent. Where we permit you to modify any of the Materials, we shall own all rights in the modified Material and you hereby assign to us all copyright and all other rights of whatever nature, whether now known or created in the future, in the modified Material for the whole term of the same including any renewals, reversions, revivals and extensions together with all related rights and powers. You warrant that any modified Materials created by you shall be your original work and shall not infringe any laws or regulations or the rights of any person and shall not be obscene, threatening, abusive, harmful to others, invasive of another's privacy, hateful, harassing, discriminatory or otherwise objectionable.</p>

    			<h2>Unacceptable content</h2>

    			<p>If you find any content on our Website to be in any way offensive, obscene, defamatory, racist, harmful, inaccurate, unlawful, illegal, infringing of any third party rights, deceptive in any way or otherwise in breach of our content standards, please <a href="{{ path('site_contacts_index') }}" class="btn btn-link">notify us</a> using the subject heading "Unacceptable content".</p>

    			<p>We take complaints seriously and on receipt of your complaint we will investigate whether the content breaches our content standards or these terms and conditions and may, at our discretion, remove or block access to the content complained of.</p>

    			<h2>Children</h2>

    			<p>We realise and understand that many children will visit our Website but we encourage all persons under 13 to consult with their parents or legal guardian before submitting any Content or information to this Website and indeed any other web site. We believe that ultimately it is the responsibility of parents or legal guardians to supervise children when online and recommend that parental control tools be put in place. Although anyone under the age of 13 is able to participate in competitions and promotions, notification of a win or prize will be sent directly to the parent or legal guardian identified in the initial registration process. Any publication of a competition winner's personal details for visitors under 18 will require parental or legal guardian consent during registration.</p>

    			<h2>Trade marks</h2>

    			<p>We expressly reserve all rights in and to the domain name www.sloughtownfc.net.</p>

    			<h2>Linking to our website</h2>

    			<p>You may link to our home page, provided you do so in a way that is fair and legal and which does not damage our reputation or take advantage of it. You must not link to our Website in such a way as to suggest any form of association, approval or endorsement on our part without our prior written consent. You must not remove or obscure by framing or otherwise, advertisements, copyright notices, or other information published on the Website. Our Website must not be framed on any other site.</p>

    			<p>To avoid any doubt you must not link to our Website from a linking site which contains any adult or illegal material or any material that is offensive, harassing or otherwise objectionable.</p>

    			<p>We reserve the right to withdraw linking permission without notice.</p>

    			<h2>Uploading content to our site</h2>

    			<p>You agree not to submit any content to our Website that:</p>

    			<p>a. infringes any laws or regulations or the rights of others or encourages others to do so;<br>
				b. is obscene, abusive, invasive of another's privacy, hateful, harassing, discriminatory or otherwise objectionable;<br>
				c. impersonates another or is otherwise likely to deceive;<br> 
				d. is “spam” or any other form of unsolicited advertising, promotional material, or commercial message;<br> 
				e. contains or links to viruses or any other harmful programs or computer code designed to adversely affect the operation of any computer software or hardware; or<br> 
				f. disrupts or impairs the normal operation of the Website.</p>

				<p>Any content you upload to our Website will be considered non-confidential and non-proprietary. You retain all of your ownership rights in your content, but grant us an irrevocable worldwide, royalty-free, non-exclusive licence to use, distribute, reproduce, adapt, publish, translate, publicly perform and display such content and use your name in relation to it.</p>

				<p>We have the right to disclose your identity to any third party who is claiming that any content posted or uploaded by you to our Website constitutes a violation of their intellectual property rights, or of their right to privacy.</p>

				<p>We have no obligation to monitor user content but reserve the right not to publish or to remove any posting you make on Website, if, in our opinion, your post does not comply with the content standards set out above.</p>

				<p>We will not be responsible, or liable to any third party, for the content or accuracy of any content posted by you or any other user of our Website.</p>

				<h2>Third party sites and content</h2>

				<p>Our Website and/or the Materials may contain links to third party websites. If you decide to visit any third party site, you do so at your own risk. We are not responsible for the content, accuracy or opinions expressed on such websites. Links do not imply that we or this Website is/are affiliated or associated with such sites. Third party content may appear on the Website or may be accessible via links from the Website. We are not responsible for and assume no liability for such content.</p>

				<h2>Exclusions and disclaimers</h2>

				<p>To the fullest extent permissible by law, we exclude and disclaim all warranties, terms, conditions and representations that might otherwise be implied by law in relation to this Website and the Materials.</p>

				<p>Nothing in this Agreement shall exclude our liability for: (a) death or personal injury arising through negligence; (b) fraudulent misrepresentation; and/or (c) anything else that cannot be excluded or limited by us under English law.</p>

				<p>We shall not be liable under this Agreement for any indirect, special, incidental or consequential damages whether based on breach of contract, breach of warranty, tort (including negligence) or otherwise, even if advised of the possibility of such damages.</p>

				<p>The Materials may contain inaccuracies and typographical errors. We do not warrant the accuracy or completeness of the Materials. Any reliance on any such opinion, advice, statement, or other information shall be at your sole risk. We reserve the right, in our sole discretion, to correct any errors or omissions in any portion of the Website and to make any changes to the features, functionality or content of the Website at any time. We reserve the right in our sole discretion to edit or delete any documents, information or other content on the Website.</p>

				<p>We do not represent or warrant that the Website will be error-free, free of viruses or owner harmful components, or that defects will be corrected.</p>

				<h2>Legal compliance and applicable law</h2>

				<p>You shall comply with all applicable laws and regulations in connection with your use of the Website and the Materials that appear on it.</p>

				<p>The laws of England and Wales shall apply to this Agreement and this Agreement shall be interpreted under English law. Any dispute arising from this Agreement shall be subject to the exclusive jurisdiction of the English courts. Thank you for visiting our Website.</p>
    		</div>
    	</div>
    </div>
</section>
{% endblock %}