{% extends 'site/base.html.twig' %}

{% block title %}Tickets & Memberships{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Tickets & Memberships",
    "item": "{{ url('site_article_tickets') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tickets & Memberships</li>
        </ol>
    </div>
</nav>

<section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                	<h1>Tickets &amp; Memberships</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">

        	<div class="row">
	            <div class="col">
	            	<h2>Memberships</h2>


	            	<p>Membership guarantees your ticket to every game at Arbour Park, including home 2024/25 National League South matches, ticket priority for cup matches, free entry to home pre-season fixtures and entry to all home ladies, U18s and Academy matches.</p>

	            	<p><span>Rebels+</span> and <span>Club 1890</span> offer additional benefits including exclusive events with the manager and players.</p>

	            	<p>To purchase your membership please go to <a href="http://www.sloughtownfc.net/memberships" target="_blank" class="btn btn-primary btn-sm">Fanbase</a></p>

	            	<div class="table-responsive">

					    <table class="table">
						 	<thead>
							    <tr class="table-light">
							     	<th scope="col">Benefit</th>
							     	<th scope="col">Rebels</th>
							     	<th scope="col">Rebels+</th>
							     	<th scope="col">Club 1890</th>
							    </tr>
							</thead>
						  	<tbody>
						  		<tr>
							    	<th scope="row">Access to all Home 2024/25 National League South matches</th>
							      	<td>Y</td>
							      	<td>Y</td>
							      	<td>Y</td>
							    </tr>
							    <tr>
							    	<th scope="row">Discounted tickets to all home 24/25 NLS matches (online only)</th>
							      	<td>Y</td>
							      	<td>Y</td>
							      	<td>Y</td>
							    </tr>
							    <tr>
							    	<th scope="row">Ticket priority to all cup matches</th>
							      	<td>Y</td>
							      	<td>Y</td>
							      	<td>Y</td>
							    </tr>
							    <tr>
							    	<th scope="row">Access to all home pre-season friendlies</th>
							      	<td>Y</td>
							      	<td>Y</td>
							      	<td>Y</td>
							    </tr>
							    <tr>
							    	<th scope="row">Access to all home Ladies team, Academy & U18 matches</th>
							      	<td>Y</td>
							      	<td>Y</td>
							      	<td>Y</td>
							    </tr>
							    <tr>
							    	<th scope="row">10% discount in the Stadium Club shop</th>
							      	<td>Y</td>
							      	<td>Y</td>
							      	<td>Y</td>
							    </tr>
							    <tr>
							    	<th scope="row">10% discount on events and pitch hire</th>
							      	<td>Y</td>
							      	<td>Y</td>
							      	<td>Y</td>
							    </tr>
							    <tr>
							    	<th scope="row">Open training and meet the players</th>
							      	<td>Y</td>
							      	<td>Y</td>
							      	<td>Y</td>
							    </tr>
							     <tr>
							    	<th scope="row">Members offers on drinks</th>
							      	<td>Y</td>
							      	<td>Y</td>
							      	<td>Y</td>
							    </tr>
							    <tr>
							    	<th scope="row">Free tickets per season</th>
							      	<td>2</td>
							      	<td>5</td>
							      	<td>10</td>
							    </tr>
							    <tr>
							    	<th scope="row">Access to the Club media day</th>
							      	<td>-</td>
							      	<td>Y</td>
							      	<td>Y</td>
							    </tr>
							     <tr>
							    	<th scope="row">Invite to dinner with the players</th>
							      	<td>-</td>
							      	<td>Y</td>
							      	<td>Y</td>
							    </tr>
							    <tr>
							    	<th scope="row">Invitation to evening with the manager</th>
							      	<td>-</td>
							      	<td>-</td>
							      	<td>Y</td>
							    </tr>
							    <tr>
							    	<th scope="row">Car Parking (1 per 2 memberships)</th>
							      	<td>-</td>
							      	<td>-</td>
							      	<td>Y</td>
							    </tr>
							    <tr>
							    	<th scope="row">Reserved seating</th>
							      	<td>-</td>
							      	<td>-</td>
							      	<td>Y</td>
							    </tr>							   
							    <tr>
							    	<th scope="row"></th>
							      	<td></td>
							      	<td></td>
							      	<td></td>
							    </tr>
						  		<tr>
							    	<th scope="row">Adult (18-64)</th>
							      	<td>£225</td>
							      	<td>£265</td>
							      	<td>£325</td>
							    </tr>
							    <tr>
							    	<th scope="row">Concession (65+)</th>
							      	<td>£185</td>
							      	<td>£225</td>
							      	<td>£265</td>
							    </tr>
							    <tr>
							    	<th scope="row">13-17</th>
							      	<td>£50</td>
							      	<td>£90</td>
							      	<td>£150</td>
							    </tr>
							    <tr>
							    	<th scope="row">Under 13</th>
							      	<td>Free</td>
							      	<td>£50</td>
							      	<td>£100</td>
							    </tr>
							</tbody>
						</table>
					</div>

					<p>Slough Town offers Carers of people with disabilities a free Carers' pass. Please download the <a href="{{ asset('pdf/STFC-disability_registration_Form.pdf') }}" target="blank" class="btn btn-primary btn-sm">Registration Form</a> and <a href="{{ asset('pdf/STFC-disabled_t&cs.pdf') }}" target="blank" class="btn btn-primary btn-sm">Terms & Conditions</a> to apply.</p>

				    <h2>Match by Match Tickets</h2>

				    <p>Tickets to all our league and cup matchdays are available to buy online in advance or at Arbour Park on the day. There is a discount for purchasing online, but sales will close prior to kickoff.</p>

				    <div class="table-responsive">

					    <table class="table">
						 	<thead>
							    <tr class="table-light">
							     	<th scope="col">Type</th>
							     	<th scope="col">Matchday Price</th>
							     	<th scope="col">Online Advance Price</th>
							    </tr>
							</thead>
						  	<tbody>
						  		<tr>
							    	<th scope="row">Adult (18-64)</th>
							      	<td>£17</td>
							      	<td>£15</td>
							    </tr>
							    <tr>
							    	<th scope="row">Concession (65+)</th>
							      	<td>£12</td>
							      	<td>£10</td>
							    </tr>
							    <tr>
							    	<th scope="row">13-17 / Students</th>
							      	<td>£5</td>
							      	<td>£3</td>
							    </tr>
							    <tr>
							    	<th scope="row">Under 13s</th>
							      	<td>£1</td>
							      	<td>£1</td>
							    </tr>
							    <tr>
							    	<th scope="row">Infant (0-4)</th>
							      	<td>Free</td>
							      	<td>N/A</td>
							    </tr>
							</tbody>
						</table>
					</div>

				    <p>*(12 year old and under must be accompanied by an Adult)</p>

				    <p>For Play-off matches, FA Competitions and high profile fixtures the club reserves the rights to amend ticket categorisation and pricing. Tickets can be purchased in advance from <a href="http://www.sloughtownfc.net/events" target="_blank" class="btn btn-primary btn-sm">Fanbase</a> and are subject to a discount.</p>

				    <h2>Hospitality</h2>

				    <p>If you’re looking to make your day extra special, or wanting to increase the awareness of your business, we’ve two opportunities to do this during a matchday.</p>

				    <h4>Match Sponsorship</h4>

				    <ul>
				    	<li>4 X Boardroom Tickets</li>
				    	<li>Private table and welcome drink</li>
				    	<li>Selection of nibbles and snacks</li>
				    	<li>Man of the Match selection and presentation (Optional branded award provided by sponsor)</li>
				    	<li>Programme Coverage</li>
				    	<li>Social Media Coverage</li>
				    	<li>Matchday introduction</li>
				    </ul>

				    <p><span>Price:</span> starting from £300 inc VAT</p>

				    <h4>Matchball Sponsorship</h4>

				    <ul>
				    	<li>4 X Boardroom Tickets</li>
				    	<li>Private table</li>
				    	<li>Selection of nibbles and snacks</li>
				    	<li>Programme Coverage</li>
				    	<li>Social Media Coverage</li>
				    	<li>Matchday introduction</li>
				    </ul>

				    <p><span>Price:</span> starting from £250 inc VAT</p>

				    <p>To enquire about availability, please email commercial@sloughtownfc.net</p>





				    <!--h4>Seating</h4>

				    <p>West Stand Unreserved - No charge. Excludes Testimonial, Cup and Playoff matches, for which a charge may be levied for all seating. Seating is managed on a first come, first served basis - the Club cannot guarantee availability. A number of pre-purchased Reserved seats are in position during League fixtures.</p>

				    <p>East Stand Unreserved - No charge. Excludes Testimonial, Cup and Playoff matches, for which a charge may be levied for all seating. Seating is managed on a first come, first served basis - the Club cannot guarantee availability.</p>

				    <h4>Parking</h4>

				    <p>There is no charge for parking in Unreserved bays at Arbour Park. Parking is not allocated and is managed on a first come, first served basis.</p>

				    <p>Parking for Blue Badge holders is available on a first come, first served basis.</p>

				    <h2>Arbour Park</h2>

				    <p>Please note the Arbour Park <a href="groundregs" class="btn btn-link">ground regulations</a>.</p>

				    <h4>Smoking</h4>

				    <p>Smoking or vaping is NOT PERMITTED anywhere within the Arbour Park facility.</p>

				    <h4>Dogs</h4>

				    <p>No dogs, except Guide Dogs, are allowed within the Arbour Park facility.</p>

				    <h4>No Standing Zones</h4>

				    <p>A number of no standing zones are marked with yellow hatching within the Arbour Park facility.</p>

				    <h4>Media</h4>

				    <p>The filming, recording or broadcasting of matches at Arbour Park cannot take place without prior consent from Slough Town FC.</p-->

	            </div>
	        </div>
        </div>
    </section>
{% endblock %}