{% extends 'site/base.html.twig' %}

{% block title %}Vanarama Insurance{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Vanarama Insurance",
    "item": "{{ url('site_article_vanarama_insurance') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Vanarama Insurance</li>
        </ol>
    </div>
</nav>

<section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Vanarama Insurance</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">

        	<div class="row">
	            <div class="col">
	            	<div class="text-center">
	            		<img src="{{ asset('images/main/vanarama/vanarama-insurance.jpg') }}" class="img-fluid" alt="Vanarama Insurance" />
	            	</div>
	            	<p>Hassle Free Van Insurance from the UK’s Van Experts</p>

	            	<p>As well as being the UK’s leading supplier of new vans to Britain’s SME’s, Vanarama offer competitive pricing for your van insurance requirements. With insurance prices going up year on year we understand the need to provide a hassle free service that will save you money.</p>

	            	<p class="font-weight-bold">Competitive pricing from the UK’s number 1</p>

	            	<p>As the van experts we understand our customers not only need a great deal but being short on time need a hassle free solution. Our insurance experts are on hand to talk you through the process and find you the best deal on the market, you can call them on 01442 838173. Want to search for the best deal yourself? Visit <a href="https://www.vanaramainsurance.co.uk/" target="_blank"  class="btn btn-link">www.vanaramainsurance.co.uk</a> to find the best deal for you 24/7.</p>

	            	<p class="font-weight-bold">Fixed cost insurance for the term of your lease</p>

	            	<p>When you lease your van or pickup truck from Vanarama you will have the option to choose our Multi Year Insurance product, this <span class="font-weight-bold">guarantees your premium will not rise during the term of your lease</span> (providing your circumstances don’t change) saving you money and safeguarding you and your business from nasty surprises.</p>

	            	<p>Whatever your requirements, Vanarama Insurance has a product to suit. But we don’t stop at covering your van or pickup truck. We also offer tools insurance, short term insurance and finance gap insurance products. All with the same high quality service you’d expect from the UK’s van experts.</p>

	            </div>
	        </div>
        </div>
    </section>
{% endblock %}