{% extends 'site/base.html.twig' %}

{% block title %}Vanarama{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Vanarama",
    "item": "{{ url('site_article_vanarama') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Vanarama</li>
        </ol>
    </div>
</nav>

<section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Vanarama</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">

        	<div class="row">
	            <div class="col">
	            	<div class="text-center">
	            		<img src="{{ asset('images/main/vanarama/vanarama.jpg') }}" class="img-fluid" alt="Vanarama" />
	            	</div>

	            	<h1>Vanarama has been the proud title sponsor of the National League since 2014 and is committed to supporting its clubs.</h1>

	            	<p>Vanarama - an Auto Trader company - has won its fair share of trophies over the years, but among the company’s most notable achievements is being the current and longest-running title sponsor of the National League.</p>

                    <p>Based in Hemel Hempstead, Vanarama was founded by CEO Andy Alderson in 2004. The company started out selling pickup trucks, before moving into van leasing and eventually expanding into helping customers find their perfect cars too. In 2022, Vanarama joined the Auto Trader group, allowing the company to offer even more people a better way to upgrade their vehicles.</p>

                    <p>If you’d like to lease a brand new car, van, pickup truck or electric vehicle, head to Vanarama.com and check out the available deals. Your new vehicle will be delivered for free and you won’t have to pay any admin fees. So, whatever vehicle you’re looking for, or if you just want to find out how leasing works, <a href="https://www.vanarama.com" target="_blank" class="btn btn-link">Vanarama</a> can help.</p>

                    <p><span>Why Lease With Vanarama?</span></p>

                    <ul>
                        <li>£0 admin fees to pay.</li>
                        <li>Free and fast delivery - vehicles they have in stock can be delivered in as little as 21 days.</li>
                        <li>The Vanarama Price Promise: if you find a cheaper deal elsewhere that they can’t match, they’ll give you £100!*</li>
                    </ul>

                    <p>*For the Price Promise terms and conditions, <a href="https://www.vanarama.com/about-us/price-protection-guarantee" target="_blank" class="btn btn-link">click here</a>. For Vanarama’s terms and conditions <a href="https://www.vanarama.com/legal/terms-and-conditions" target="_blank" class="btn btn-link">click here</a>.</p>
	            </div>
	        </div>
        </div>
    </section>
{% endblock %}