{% extends 'site/base.html.twig' %}

{% block title %}Visiting Arbour Park{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Visiting Arbour Park",
    "item": "{{ url('site_article_visiting-arbour-park') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Visiting Arbour Park</li>
        </ol>
    </div>
</nav>

<section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                	<h1>Visiting Arbour Park for the first time?</h1>
                	<p>Here’s a handy guide to the home of Slough Town.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">

        	<div class="row">
	            <div class="col">
	            	<h2>Where is Arbour Park Stadium?</h2>

	            	<p>Arbour Park is located to the north of Slough town centre, around a 10-15 minute walk from Slough Rail Station and easily accessible by public transport. Slough Rail station is on the mainline to London Paddington. Directions to Arbour Park can be found <a href="{{ path('site_directions_index') }}" class="btn btn-link">here</a>.

	            	<h2>I’ve heard parking is limited. Where are the nearest car parks?</h2>

	            	<p>On first team match days, all spaces at Arbour Park are reserved for players, officials, guests, and Blue Badge holders.</p>

	            	<p>We have access to the car park at Lynch Hill Enterprise Academy (next to Arbour Park) on matchdays. There is a limited number of unreserved spaces here for all supporters, available on a first come, first served basis. Please follow the directions of our stewards. Occasionally, this car park will not be available to the club – we will advise in the days leading up to specific matches.</p>

	            	<p>Supporters can also buy parking permits from the club to enable them to park at St Joseph’s Catholic High School (SL2 5HN). Slough Town supporters with a permit will have a reserved parking space. There are no unreserved spaces here. To purchase a permit, visit: <a href="https://sloughtownfc.net/memberships" class="btn btn-link">Fanbase</a></p>

	            	<p>Off street parking is extremely limited - however there are several car parks within walking distance. We would strongly encourage supporters to car-share or travel by public transport where possible. There are many public car parks nearer the town centre which are within walking distance of Arbour Park. <a href="https://sloughtownfc.net/pdf/car-parking.pdf" class="btn btn-link">Click here</a> for a map of local car parks within walking distance of Arbour Park.</p>

	            	<p>If you do park in residential streets, please be respectful to our neighbours – keep noise to a minimum, and do not litter. When parking, do not block entranceways and driveways, and do not park dangerously, including on blind corners.</p>

	            	<h2>When do you play your matches?</h2>

	            	<p>First team games for our men’s team are on Saturdays (3pm kick off) and Tuesdays (7.45pm kick off).</p>

					<p>Any changes to our fixture schedule will be communicated on our official website. Also, follow @sloughtownfc on X for up-to-date information.</p>

					<h2>How much are first team match tickets?</h2>

					<p>This information is available on our <a href="{{ path('site_article_tickets') }}" class="btn btn-link">Tickets &amp; admission page</a>.

					<p>Supporters can pre-purchase match tickets online and make a saving of £2 on our standard match day prices. Tickets for Under 13s are £1 both on matchdays and online.</p>
					
					<p>Unless advertised as an all-ticket match, supporters can pay on the day for admission. Occasionally, admission is discounted for cup games. If that’s the case, it will be advertised on our official website.</p>

					<h2>What time do the turnstiles open?</h2>

					<p>Normally we will open the turnstiles at 1.30pm on Saturdays and 6.30pm on Tuesdays, but we will communicate on a match-by-match basis.</p>

					<h2>Which turnstile should I head to?</h2>

					<p>Make your way to either turnstile 4, which is in the south-west corner of the ground, or turnstile 1 (north-west corner, nearest to Lynch Hill Enterprise Academy).</p>

					<p>Slough Town membership passes (either digital or printed card) have a QR code which is unique to you and will be scanned at the turnstile to confirm your attendance. Please be aware that proof of age and student status may be requested depending on your membership type. You can show your digital pass on your smartphone or add your membership to Apple Pay or Google Pay!</p>

					<p>Supporters with pre-paid match tickets should present them for scanning, either printed or on a smartphone.</p>

					<p>If you’re paying at the turnstiles, we accept credit/debit cards and cash.</p>

					<h2>Are there specific areas for home and away supporters?</h2>

					<p>We do not usually segregate home and away supporters, but it depends on the fixture. If segregation is to be enforced for specific matches, we will advise on our official website.</p>

					<h2>Where can I sit?</h2>

					<p>Many of the seats in the main stand and the Berkeley Community Stand are reserved for those supporters with reserved seating passes, which can be purchased <a href="https://sloughtownfc.net/memberships" class="btn btn-link">here</a>. All other seating within Arbour Park is unreserved and available on a first come, first served basis.</p>

					<h2>Are there facilities for disabled supporters?</h2>

					<p>We are committed to ensuring that disabled supporters and visitors have the best possible access to club facilities and services at Arbour Park.</p>

					<p>There are wheelchair bays at the top of the West Stand, and an elevator allowing access to the bar area and top of the stand, accessed via the front entrance. Please contact Kay Lathey in advance of the match by email (gensec@sloughtownfc.net) or phone (07792 126124).</p>

					<p>Assistance dogs are allowed - please call in advance so adequate provision can be made.</p>

					<p>We offer carers of people with disabilities a free Carers' pass. Please contact gensec@sloughtownfc.net in order to receive the registration form note terms &amp; conditions to apply.</p>

					<h2>What’s within the ground?</h2>

					<p>We have a bar on the first floor of the main stand with a broad selection of draught and bottled beer and cider, spirits, soft drinks, crisps and sweets. At the other end of the first floor, we have a kitchen which serves hot food and drinks.</p>

					<p>We have a club shop on the ground floor which is stocked with the latest club merchandise.</p>

					<p>For larger games with good weather there is often also an outside food vendor and outside bar, normally located to the side of the main stand. Our partners Windsor & Eton Brewery also have a bar on the east side of the ground.</p>

					<p>Toilets may be found outside, to the side of the main stand; on the first floor of the main stand; and on the ground floor of the main stand.</p>

					<h2>I’ve heard it’s a non-smoking ground?</h2>

					<p>That’s correct, and e-cigarettes/vapes are not allowed either.</p>

					<h2>What if I need help on the day?</h2>

					<p>We’re here to help. Look out for a steward who’ll be wearing a hi-vis jacket or vest – or see a member of match day staff at one of our food/drink outlets or club shop.</p>
	            </div>
	        </div>
        </div>
    </section>
{% endblock %}