{% extends 'site/base.html.twig' %}

{% block title %}Children's Birthdays at Arbour Park{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Arbour Park",
    "item": "{{ url('site_arbourpark_index') }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "Children's Birthdays at Arbour Park",
    "item": "{{ url('site_arbourpark_birthdays') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('site_arbourpark_index') }}">Arbour Park</a></li>
            <li class="breadcrumb-item active" aria-current="page">Children's Birthdays at Arbour Park</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Children's Birthdays at Arbour Park</h1>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article">
        <div class="row">
            <div class="col">
                <p>Arbour Park is the perfect venue for your children's birthday parties.</p>

                <p>Our main function room is a large versatile space overlooking the pitch which can be set up to suit your needs. The floor space is ideal for dancing and party games, and there is plenty of space to bring in a raised stage for entertainers and DJs.</p>

                <p>Tables can be laid out as you require and we can set up the room for you and clear everything away after your last guest leaves. We can also provide <a href="https://arbourparkcatering.godaddysites.com/special-occassions" target="_blank" class="btn btn-link">catering</a> for your party, and there is also a spacious bar area so children and adults can order refreshments.</p>

                <p>For further information, or simply for an informal chat please call Kay Lathey on 07792 126124.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded lazyload" data-src="{{ asset('images/main/arbourpark/birthdays.jpg') }}" alt="Birthday parties at Arbour Park">
                    <figcaption class="figure-caption">Children's birthday parties at Arbour Park</figcaption>
                 </figure>
            </div>
            <div class="col-12 col-sm-6">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded lazyload" data-src="{{ asset('images/main/arbourpark/birthdays2.jpg') }}" alt="Birthday cake at Arbour Park">
                    <figcaption class="figure-caption">Birthday party catering</figcaption>
                 </figure>
            </div>
        </div>
    </div>

</section>

{% endblock %}
