{% extends 'site/base.html.twig' %}

{% block title %}Arbour Park{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Arbour Park",
    "item": "{{ url('site_arbourpark_index') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Arbour Park</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Arbour Park</h1>
                <p class="d-none d-md-block">Flexible event space for hire at Arbour Park</p>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article">
        <div class="row">
            <div class="col">
                <p>Arbour Park Community Sports Stadium is the latest addition to Slough’s fantastic new Sports and Leisure facilities that offers superb state of the art modern corporate and sports facilities.</p>

                <p>If you’re looking to arrange a special event, we can help. We have spacious function rooms capable of accommodating up to 300 people, and we can also provide catering too.</p>

                <p>Whether you are looking to arrange a corporate function – such as a meeting, conference, product launch or awards night, a wedding reception, a wake or funeral reception, or a party – get in touch with us for an informal discussion and see what we have to offer.</p>

                <p>For more information, take a look at the below links. You can also call Kay Lathey for an informal chat on 07792 126124.</p>
            </div>
        </div>
        <div class="card-deck">
            <div class="card no-border">
                <a href="{{ path('site_arbourpark_meetings') }}">
                    <img class="card-img-top lazyload" data-src="{{ asset('images/main/arbourpark/meeting-room.jpg') }}" alt="Meetings and conferences at Arbour Park">
                    <div class="card-body">
                        <h5 class="card-title">Meetings and conferences</h5>
                    </div>
                </a>
            </div>
            <div class="card no-border">
                <a href="{{ path('site_arbourpark_wakes') }}">
                    <img class="card-img-top lazyload" data-src="{{ asset('images/main/arbourpark/wakes.jpg') }}" alt="Wakes and Funerals at Arbour Park">
                    <div class="card-body">
                        <h5 class="card-title">Wakes and Funeral receptions</h5>
                    </div>
                </a>
            </div>
            <div class="card no-border">
                <a href="{{ path('site_arbourpark_weddings') }}">
                    <img class="card-img-top lazyload" data-src="{{ asset('images/main/arbourpark/wedding.jpg') }}" alt="Wedding receptions at Arbour Park">
                    <div class="card-body">
                        <h5 class="card-title">Wedding receptions</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="card-deck">
            <div class="card no-border">
                <a href="{{ path('site_arbourpark_parties') }}">
                    <img class="card-img-top lazyload" data-src="{{ asset('images/main/arbourpark/party.jpg') }}" alt="Parties and events at Arbour Park">
                    <div class="card-body">
                        <h5 class="card-title">Parties and events</h5>
                    </div>
                </a>
            </div>
            <div class="card no-border">
                <a href="{{ path('site_arbourpark_birthdays') }}">
                    <img class="card-img-top lazyload" data-src="{{ asset('images/main/arbourpark/birthdays.jpg') }}" alt="Children's Birthday parties at Arbour Park">
                    <div class="card-body">
                        <h5 class="card-title">Children's Birthday parties</h5>
                    </div>
                </a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

</section>

{% endblock %}
