{% extends 'site/base.html.twig' %}

{% block title %}Meetings and conferences at Arbour Park{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Arbour Park",
    "item": "{{ url('site_arbourpark_index') }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "Meetings and conferences at Arbour Park",
    "item": "{{ url('site_arbourpark_meetings') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('site_arbourpark_index') }}">Arbour Park</a></li>
            <li class="breadcrumb-item active" aria-current="page">Meetings and conferences at Arbour Park</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Meetings and conferences at Arbour Park</h1>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article">
        <div class="row">
            <div class="col">
                <p>Ideally located close to Heathrow, just a short distance from Slough train station and Slough Trading Estate, Arbour Park is a state-of-the-art meeting and conference facility offering all of the key ingredients to ensure that your event is a resounding success.</p>

                <p>The function rooms have audio-visual equipment and whiteboards, free Wi-Fi internet connectivity, video source facilities and HD sound delivery. For your comfort, Arbour Park is fully air-conditioned.</p>

                <p>The modern and spacious function rooms, together with the bar and balconies are all available for hire, not only for an entire day but by the half day or even by the hour, offering complete flexibility. Our team is on hand to refresh your delegates with a range of delicious catering options and a full range of beverages. The meeting rooms at Arbour Park have a capacity of 32 delegates, and we can cater for everything from a range of snacks to a full <a href="https://arbourparkcatering.godaddysites.com/meetings" class="btn btn-link" target="_blank">business lunch</a>.</p>

                <p>For further information, or simply for an informal chat please call Kay Lathey on 07792 126124.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded lazyload" data-src="{{ asset('images/main/arbourpark/meeting-room.jpg') }}" alt="Meeting room 1 at Arbour Park">
                    <figcaption class="figure-caption">Meeting Room 1 and balcony</figcaption>
                 </figure>
            </div>
            <div class="col-12 col-sm-4">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded lazyload" data-src="{{ asset('images/main/arbourpark/bar.jpg') }}" alt="Bar at Arbour Park">
                    <figcaption class="figure-caption">Bar and first floor area</figcaption>
                 </figure>
            </div>
            <div class="col-12 col-sm-4">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded lazyload" data-src="{{ asset('images/main/arbourpark/balcony.jpg') }}" alt="First floor area and balcony at Arbour Park">
                    <figcaption class="figure-caption">First floor area and balcony</figcaption>
                 </figure>
            </div>
        </div>
    </div>
</section>

{% endblock %}
