{% extends 'site/base.html.twig' %}

{% block title %}Parties and events at Arbour Park{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Arbour Park",
    "item": "{{ url('site_arbourpark_index') }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "Parties and events at Arbour Park",
    "item": "{{ url('site_arbourpark_parties') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('site_arbourpark_index') }}">Arbour Park</a></li>
            <li class="breadcrumb-item active" aria-current="page">Parties and events at Arbour Park</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Parties and events at Arbour Park</h1>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article">
        <div class="row">
            <div class="col">
                <p>At Arbour Park we can cater for a wide range of events including engagements, civil ceremonies, birthday parties, anniversaries, Christenings, baby showers, corporate events, product launches, promotional events and prom nights/balls.</p>

                <p>The perfect venue to hold your party, we can offer all you need to make your celebration a roaring success. From <a href="https://arbourparkcatering.godaddysites.com/special-occassions" target="_blank" class="btn btn-link">small buffets</a> to sumptuous three course meals, from cover bands to casino nights, we’ll make sure it’s one to remember with a range of options to suit all budgets.</p>

                <p>Arbour Park can host up to 300 guests and boasts a modern and spacious bar, function rooms and balconies.</p>

                <p>For further information, or simply for an informal chat please call Kay Lathey on 07792 126124.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded lazyload" data-src="{{ asset('images/main/arbourpark/party.jpg') }}" alt="Party stage at Arbour Park">
                    <figcaption class="figure-caption">Party stage set-up</figcaption>
                 </figure>
            </div>
            <div class="col-12 col-sm-6">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded lazyload" data-src="{{ asset('images/main/arbourpark/party2.jpg') }}" alt="Party table set up at Arbour Park">
                    <figcaption class="figure-caption">Party table set up</figcaption>
                 </figure>
            </div>
        </div>
    </div>

</section>

{% endblock %}
