{% extends 'site/base.html.twig' %}

{% block title %}Wakes and Funeral receptions at Arbour Park{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Arbour Park",
    "item": "{{ url('site_arbourpark_index') }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "Wakes and Funeral receptions at Arbour Park",
    "item": "{{ url('site_arbourpark_wakes') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('site_arbourpark_index') }}">Arbour Park</a></li>
            <li class="breadcrumb-item active" aria-current="page">Wakes and Funeral receptions at Arbour Park</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Wakes and Funeral receptions at Arbour Park</h1>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article">
        <div class="row">
            <div class="col">
                <p>Coming to terms with the loss of a loved one is always difficult, and the added pressure of organising a wake can cause extra stress at an already emotional time. At Arbour Park, we have experience in organising funeral receptions and wakes, offering a comprehensive, discreet and sympathetic service to help take some of the strain away. Arbour Park is conveniently located on Stoke Road, which incidentally is a short walk from Slough Crematorium.</p>

                <p>From a simple buffet to a large wake, or just somewhere private to reflect with family and friends, we endeavour to provide an occasion to ensure that loved ones are remembered with dignity, but without fuss. A <a href="https://arbourparkcatering.godaddysites.com/special-occassions" target="_blank" class="btn btn-link">private bar</a> is also available.</p>

                <p>So, whether it is a large function or a more intimate gathering, Arbour Park is the ideal setting for wakes and receptions. Rooms also offer audio-visual equipment to allow you to share special memories with your guests.</p>

                <p>For further information, or simply for an informal chat please call Kay Lathey on 07792 126124.</p>
            </div>
        </div>
    </div>

</section>

{% endblock %}
