{% extends 'site/base.html.twig' %}

{% block title %}Wedding receptions at Arbour Park{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Arbour Park",
    "item": "{{ url('site_arbourpark_index') }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "Wedding receptions at Arbour Park",
    "item": "{{ url('site_arbourpark_weddings') }}"
   }]
}
</script>

<nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('site_arbourpark_index') }}">Arbour Park</a></li>
            <li class="breadcrumb-item active" aria-current="page">Wedding receptions at Arbour Park</li>
        </ol>
    </div>
</nav>

<section class="title">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Wedding receptions at Arbour Park</h1>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container article">
        <div class="row">
            <div class="col">
                <p>Planning your special day is one of the most important aspects of any wedding. When your vows have been exchanged, you and your guests can relax and enjoy a special evening reception at Arbour Park.</p>

                <p>With its modern and spacious bar, function rooms and balconies, Arbour Park is the perfect venue for your wedding reception. Whether you are having a small intimate reception or a larger celebration, we will ensure that your special day is one that you will always remember.</p>

                <p>Arbour Park can host up to 300 guests for an evening reception and with a range of options and packages to suit all budgets, why not make an appointment and come and see for yourself what we have to offer.</p>

                <p>For further information, or simply for an informal chat please call Kay Lathey on 07792 126124.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded lazyload" data-src="{{ asset('images/main/arbourpark/wedding.jpg') }}" alt="Wedding at Arbour Park">
                    <figcaption class="figure-caption">Wedding setting</figcaption>
                 </figure>
            </div>
            <div class="col-12 col-sm-4">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded lazyload" data-src="{{ asset('images/main/arbourpark/wedding2.jpg') }}" alt="Wedding setting at Arbour Park">
                    <figcaption class="figure-caption">Wedding setting alternative</figcaption>
                 </figure>
            </div>
            <div class="col-12 col-sm-4">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded lazyload" data-src="{{ asset('images/main/arbourpark/wedding3.jpg') }}" alt="Wedding table layout at Arbour Park">
                    <figcaption class="figure-caption">Wedding table layout</figcaption>
                 </figure>
            </div>
        </div>
    </div>

</section>

{% endblock %}
