{% extends 'site/base.html.twig' %}

{% block title %}Elite Development Squad{% endblock %}


{% block body %}
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "{{ url('site_homepage_index') }}"
        },{
        "@type": "ListItem",
        "position": 2,
        "name": "Academy",
        "item": "{{ url('site_academy_index') }}"
        },{
        "@type": "ListItem",
        "position": 3,
        "name": "Elite Development Squad",
        "item": "{{ url('site_academy_elite_development_squad') }}"
        }]
        }
    </script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('site_academy_index') }}">The Academy</a></li>
                <li class="breadcrumb-item active" aria-current="page">Elite Development Squad</li>
            </ol>
        </div>
    </nav>

    <section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Elite Development Squad</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">
            <div class="row">
                <div class="col">
                    {% if not showForm %}
                    <div class="alert alert-success" role="alert">
                      <h3>Thank you for contacting Slough Town FC Academy.</h3>
                      We have received your enquiry and will endeavor to respond to you within 48 hours.
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 mb-3 order-1">
                    <h3>Transition to Full-Time at Arbour Park</h3>

                    <ul>
                        <li><span>Focused Development:</span> The Elite Development Squad provides an environment for players to refine their skills and tactical understanding while training full-time at Arbour Park.</li>
                        <li><span>Professional Guidance:</span> Players receive tailored coaching from experienced staff, including regular evaluations to track progress and identify areas for improvement.</li>
                        <li><span>Competitive Fixtures:</span> Engagement in high-level competitions prepares players for the demands of professional football.</li>
                        <li><span>Progression:</span> Players that come under our EDS banner will be pushed to their limits and have high demands placed on them to help build an understanding and resiliency for what comes next. The way this will look is internal competiton and external games programme against other National League & National League South academies, in alignment with this games programme the boys will also gain senior football experience away from the club to gain an insight into life as a senior player. Players will also be exposed and have ample opportunities if warranted to be around the first team whether that be for training or on a match day.</li>
                    </ul>

                    <h3>Pathway to the First Team</h3>

                    <ul>
                        <li><span>Final Step:</span> 1st Team</li>
                        <li><span>Integration into First Team:</span> Successful players from the Elite Development Squad have opportunities to train with the first team and gain match experience.</li>
                        <li><span>Professional Pathway:</span> The pathway encourages players to aspire to professional status, providing them with the tools and opportunities to succeed at the highest levels.</li>
                        <li><span>Clear Plan:</span> Each player will have there own unique plan to aid them in a bespoke way to become a regular 1st team player at Slough Town FC.</li>
                    </ul>
                    
                    <p>This structured approach ensures that every player at Slough Town FC Academy receives comprehensive training, support, and opportunities for advancement, fostering a strong footballing ethos and a bright future in the sport.</p>


                    <!--p>New for 23/24, the EDS will replace the previous U23 squad the club previously held between 2020 and 2022, and is the highest level of our academy system. The EDS selects 22 players from the games late developers, as well as players exiting professional clubs to be part of the senior professional development phase, and provides the opportunity for them to train as a full time professional. The squad will form the Football Clubs second team, with each player being offered 1 year on this elite performance programme.</p>

                    <p>The players will have access to 1st team staff and compete in the National U19 League on a Wednesday and as part of their development we have created a senior club loan system where players will access senior semi-professional football where their development and exposure to senior football will be monitored. Off the pitch players will be aided with football fitness based gym sessions, recovery sessions and the latest technology with our player management app - 360Player, Veo Camera and PlayerData GPS vests. All these tools will help collect evidence to support the chance to be considered by 1st team staff and create a clear progression strategy for your future playing pathway.</p-->
                </div>
                <div class="col-sm-4 mb-3 order-sm-2">
                    <!--img class="lazyload " data-src="{{ asset('images/main/academy/eds-signing.png') }}" width="100%" alt="The National League U19 Alliance"-->
                    <img class="lazyload" data-src="{{ asset('images/main/academy/u19-alliance.png') }}" width="100%" alt="The National League U19 Alliance">
                </div>
            </div>
            {% if showForm %}
            <div class="row form">
                <div class="col-sm-12 col-md-8 mt-3">
                    <h2>Contact Slough Town FC Academy</h2>

                    <p>If you require further information regarding the Slough Town FC Elite Development Squad please complete the contact form below, messages will be responded to in 24-48 hours.</p>

                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.name) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.returnEmail, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.returnEmail) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.returnEmail, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.returnEmail) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.subject, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.subject) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.subject, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.subject) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.body, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.body) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.body, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.body) }}
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="g-recaptcha" data-sitekey="6LerKIIUAAAAAIXsNTlU8LGmk2cglt_a4qePvSac"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        {% if recaptchaError %}
                        <div class="col-sm-10">
                            <div class="alert alert-danger" role="alert">
                                Please ensure you have completed the reCAPTCHA.
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    {{ form_widget(form.contact, { 'attr': {'style': 'display: none'} }) }}
                    
                    <div class="form-group">
                         <div class="col-sm-10">
                            {{ form_widget(form.save, {'label': 'Send message', 'attr': {'class': 'btn btn-primary'} }) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% include 'site/academy/menu.html.twig' %}
        </div>
    </section>

{% endblock %}