{% extends 'site/base.html.twig' %}

{% block title %}Full Time Academy (U17-U18){% endblock %}


{% block body %}
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "{{ url('site_homepage_index') }}"
        },{
        "@type": "ListItem",
        "position": 2,
        "name": "Academy",
        "item": "{{ url('site_academy_index') }}"
        },{
        "@type": "ListItem",
        "position": 3,
        "name": "Full Time Academy (U17-U18)",
        "item": "{{ url('site_academy_full_time_academy') }}"
        }]
        }
    </script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('site_academy_index') }}">The Academy</a></li>
                <li class="breadcrumb-item active" aria-current="page">Full Time Academy (U17-U18)</li>
            </ol>
        </div>
    </nav>

    <section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Full Time Academy (U17-U18)</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">
            <div class="row">
                <div class="col">
                    {% if not showForm %}
                    <div class="alert alert-success" role="alert">
                      <h3>Thank you for contacting Slough Town FC Academy.</h3>
                      We have received your enquiry and will endeavor to respond to you within 48 hours.
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 mb-3 order-1">
                    <p>Our full-time football programme is the next step in the pathway after the junior academy and one step away from our EDS Squad. The programme has been developed to support aspiring footballers aged 16-18 who demonstrate both talent & commitment to becoming successful both on and off the pitch with our partner school <a href="https://www.coxgreen.com/" class="btn btn-link" target="_blank">Cox Green School</a>.</p>

                    <p>The programme offers training Monday to Friday with UEFA qualified coaches, the opportunity to compete in Regional and National competitions such as the FA Youth Cup. It mirrors the professional phase at a pro club by not only offering the training and games programme but by having a huge entheses on developing off the pitch also.</p>

                    <p>Players will be aided with football fitness based gym sessions, recovery sessions and the use of the latest technology with our player management app - 360Player, Veo Camera and PlayerData GPS vests. All of which are tools to gather evidence of player development which will be assessed during our player review meeting and individual development plans.</p>

                    <p>The player has access to both A Level and/or BTEC subjects with qualified teachers and a full support network from our sixth form leadership and mentoring team. Since 2016 we have had excellent success with students excelling academically whilst being a full time athlete. Successful students can graduate to:</p>

                    <ul>
                        <li>STFC Elite Development Squad</li>
                        <li>University</li>
                        <li>Apprenticeships</li>
                        <li>US Scholarships with A23 Football Group via <a href="http://tomnuttersoccer.com/" class="btn btn-link" target="_blank">Tom Nutter Soccer</a></li>
                    </ul>

                    <p>To find out more for 23/24 please book a <a href="https://calendly.com/academy23/meeting" class="btn btn-link" target="_blank">meeting here</a>.</p>

                    <p>Cox Green sixth form <a href="https://www.coxgreen.com/d/sixth%20form%20evening%2022/Year%2012%20Subject%20Guidance%20booklet%202023%20V1.pdf" class="btn btn-link" target="_blank">subjects and entry requirements</a>.</p>
                </div>
                <div class="col-sm-4 mb-3 order-sm-2">
                    <!--img class="lazyload" data-src="{{ asset('images/main/academy/full-time-academy.png') }}" width="100%" alt="Full Time Academy"-->
                    <img class="lazyload" data-src="{{ asset('images/main/academy/full-time-competitions.png') }}" width="100%" alt="Full Time Academy competitions">
                </div>
            </div>
            {% if showForm %}
            <div class="row form">
                <div class="col-sm-12 col-md-8 mt-3">
                    <h2>Contact Slough Town FC Academy</h2>

                    <p>If you require further information regarding the Slough Town FC Full Time Academy please complete the contact form below, messages will be responded to in 24-48 hours.</p>

                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.name) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.returnEmail, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.returnEmail) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.returnEmail, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.returnEmail) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.subject, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.subject) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.subject, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.subject) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.body, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.body) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.body, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.body) }}
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="g-recaptcha" data-sitekey="6LerKIIUAAAAAIXsNTlU8LGmk2cglt_a4qePvSac"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        {% if recaptchaError %}
                        <div class="col-sm-10">
                            <div class="alert alert-danger" role="alert">
                                Please ensure you have completed the reCAPTCHA.
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    {{ form_widget(form.contact, { 'attr': {'style': 'display: none'} }) }}
                    
                    <div class="form-group">
                         <div class="col-sm-10">
                            {{ form_widget(form.save, {'label': 'Send message', 'attr': {'class': 'btn btn-primary'} }) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% include 'site/academy/menu.html.twig' %}
        </div>
    </section>

{% endblock %}