{% extends 'site/base.html.twig' %}

{% block title %}The Academy{% endblock %}


{% block body %}
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "{{ url('site_homepage_index') }}"
        },{
        "@type": "ListItem",
        "position": 2,
        "name": "The Academy",
        "item": "{{ url('site_academy_index') }}"
        }]
        }
    </script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">The Academy</li>
            </ol>
        </div>
    </nav>

    <section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>The Academy</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">
            <div class="row">
                <div class="col">
                    {% if not showForm %}
                    <div class="alert alert-success" role="alert">
                      <h3>Thank you for contacting Slough Town FC Academy.</h3>
                      We have received your enquiry and will endeavor to respond to you within 48 hours.
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-3">
                    <p>As part of the new A23 Football Group ownership, player development will be at the core of the club values. For 23/24 we will be restructuring the player pathway at the football club to produce our very own players.</p>

                    <p>A23 and Slough Town have had rich success in recent times in identifying and nurturing talent in their transition from youth to 1st team football such as: Alfonso Tenconi, Gabe George, Imran Kayani, Eitel Goueth, Joe Lawal, Michael Edegbe, Ada Okorogheye and many more.</p>

                    <p>The new structure will underpin the 1st team and allow players to receive professional coaching, an elite games programme and access to 1st team staff as we grow an identity in becoming the best academy outside the professional game.</p>

                    <img class="lazyload" data-src="{{ asset('images/main/academy/u23-winners.png') }}" width="100%" alt="U23 winners">
                </div>
                <div class="col-sm-6 mb-3">
                    <img class="lazyload" data-src="{{ asset('images/main/academy/pyramid.jpeg') }}" width="100%" alt="Academy Player pathway pyramid">
                </div>
            </div>
            {% include 'site/academy/menu.html.twig' %}
            {% if showForm %}
            <div class="row form">
                <div class="col-sm-12 col-md-8 mt-3">
                    <h2>Contact Slough Town FC Academy</h2>

                    <p>If you require general information regarding Slough Town FC Academy please complete the contact form below, messages will be responded to in 24-48 hours.</p>

                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.name) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.returnEmail, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.returnEmail) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.returnEmail, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.returnEmail) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.subject, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.subject) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.subject, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.subject) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.body, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.body) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.body, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.body) }}
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="g-recaptcha" data-sitekey="6LerKIIUAAAAAIXsNTlU8LGmk2cglt_a4qePvSac"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        {% if recaptchaError %}
                        <div class="col-sm-10">
                            <div class="alert alert-danger" role="alert">
                                Please ensure you have completed the reCAPTCHA.
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    {{ form_widget(form.contact, { 'attr': {'style': 'display: none'} }) }}
                    
                    <div class="form-group">
                         <div class="col-sm-10">
                            {{ form_widget(form.save, {'label': 'Send message', 'attr': {'class': 'btn btn-primary'} }) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </section>

{% endblock %}