{% extends 'site/base.html.twig' %}

{% block title %}Junior Academy (U12-U16){% endblock %}


{% block body %}
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "{{ url('site_homepage_index') }}"
        },{
        "@type": "ListItem",
        "position": 2,
        "name": "Academy",
        "item": "{{ url('site_academy_index') }}"
        },{
        "@type": "ListItem",
        "position": 3,
        "name": "Junior Academy (U12-U16)",
        "item": "{{ url('site_academy_junior_academy') }}"
        }]
        }
    </script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('site_academy_index') }}">The Academy</a></li>
                <li class="breadcrumb-item active" aria-current="page">Jnr Academy (U12-U16)</li>
            </ol>
        </div>
    </nav>

    <section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Junior Academy (U12-U16)</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container article">
            <div class="row">
                <div class="col">
                    {% if not showForm %}
                    <div class="alert alert-success" role="alert">
                      <h3>Thank you for contacting Slough Town FC Academy.</h3>
                      We have received your enquiry and will endeavor to respond to you within 48 hours.
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 mb-3 order-1">
                    <p>For 23/23 we will have 3 age groups competing in the JPL U12>U14>U16s with expansion to 5 squads in 24/25.</p>

                    <p>To support the players technical, tactical, physical, and social skills the teams will train twice a week plus a competitive fixture in the highest level of youth football outside the professional game in the JPL all based at Slough Towns Arbour Park Stadium. It is our vision for the Junior academy to attract the most talented local youth talent in the area with a clear and accessible pathway throughout the club and provide the environment, and contact time, to maximise their talent whilst maintaining its community and family atmosphere.</p>

                    <p>In addition to training and games we aim to provide as much support as possible by our holistic approached coaches and members of staff who are guided to ensure the clubs ethos runs all the way from the first team to the Junior Academy.</p>
                </div>
                <div class="col-sm-4 mb-3 order-sm-2">
                    <img class="lazyload" data-src="{{ asset('images/main/academy/junior-academy.png') }}" width="100%" alt="Junior Academy">
                    <!--img class="lazyload d-none d-sm-block" data-src="{{ asset('images/main/academy/jpl.png') }}" width="100%" alt="Junior Premier League"-->

                </div>
            </div>
            {% if showForm %}
            <div class="row form">
                <div class="col-sm-12 col-md-8 mt-3">
                    <h2>Contact Slough Town FC Academy</h2>

                    <p>If you require further information regarding the Slough Town FC Junior Academy please complete the contact form below, messages will be responded to in 24-48 hours.</p>

                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.name) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.returnEmail, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.returnEmail) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.returnEmail, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.returnEmail) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.subject, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.subject) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.subject, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.subject) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.body, null, {'label_attr': {'class': 'col-sm-2 col-form-label'} }) }}
                        {{ form_errors(form.body) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.body, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        {{ form_help(form.body) }}
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="g-recaptcha" data-sitekey="6LerKIIUAAAAAIXsNTlU8LGmk2cglt_a4qePvSac"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        {% if recaptchaError %}
                        <div class="col-sm-10">
                            <div class="alert alert-danger" role="alert">
                                Please ensure you have completed the reCAPTCHA.
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    {{ form_widget(form.contact, { 'attr': {'style': 'display: none'} }) }}
                    
                    <div class="form-group">
                         <div class="col-sm-10">
                            {{ form_widget(form.save, {'label': 'Send message', 'attr': {'class': 'btn btn-primary'} }) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% include 'site/academy/menu.html.twig' %}
        </div>
    </section>

{% endblock %}