<div class="row">
    <div class="col mt-3">
        <h2>Academy Structure</h2>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <a href="{{ path('site_academy_junior_academy') }}">
            <img class="card-img-top lazyload" data-src="{{ asset('images/main/academy/junior-academy.png') }}" alt="Slough Town Junior Academy (U12-U16)">
            <div class="card-body">
                <h5 class="card-title">Junior Academy (U12-U16)</h5>
                <hr>
                <p class="card-text">Our Junior Academy with 3 age groups competing in the JPL U12>U14>U16s.</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="{{ path('site_academy_full_time_academy') }}">
            <img class="card-img-top lazyload" data-src="{{ asset('images/main/academy/full-time-academy.png') }}" alt="Slough Town Full Time Academy (U17-U18)">
            <div class="card-body">
                <h5 class="card-title">Full Time Academy (U17-U18)</h5>
                <hr>
                <p class="card-text">Our full time football programme has been developed to support aspiring footballers aged 16-18 who demonstrate both talent & commitment to becoming successful both on and off the pitch with our partner school Cox Green.</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="{{ path('site_academy_elite_development_squad') }}">
            <img class="card-img-top lazyload" data-src="{{ asset('images/main/academy/eds-signing.png') }}" alt="Slough Town Elite Development Squad">
            <div class="card-body">
                <h5 class="card-title">Elite Development Squad</h5>
                <hr>
                <p class="card-text">The EDS selects 22 players from the games late developers, as well as players exiting professional clubs, and provides the opportunity for them to train as a full time professional.</p>
            </div>
        </a>
    </div>
</div>