{% extends 'site/base.html.twig' %}

{% block title %}Page moved or cannot be found{% endblock %}

{% block body %}


    <section class="main">
        <div class="container article">

            <div class="row">
                <div class="col">
                    <h1>400 - The server returned a bad request</h1>
                    <p>A request was sent to the server that it didn't understand.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}