{% extends 'site/base.html.twig' %}

{% block title %}Page moved or cannot be found{% endblock %}

{% block body %}


    <section class="main">
        <div class="container article">

            <div class="row">
                <div class="col">
                    <h1>404 - This page has moved or cannot be found</h1>
                    <p><a href="{{ url('site_homepage_index') }}" class="btn btn-link">Kick off</a> again to return to the homepage.</p>
                    <p>Alternatively view <a href="{{ path('site_fixtures_index', { 'teamUrl': 'mens' }) }}" class="btn btn-link">match reports</a> or the <a href="{{ path('site_news_index') }}" class="btn btn-link">latest news</a>.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}