{% extends 'site/base.html.twig' %}

{% block title %}Server error{% endblock %}

{% block body %}


    <section class="main">
        <div class="container article">

            <div class="row">
                <div class="col">
                    <h1>500 - Server error</h1>
                    <p>Alternatively view <a href="{{ path('site_fixtures_index', { 'teamUrl': 'mens' }) }} class="btn btn-link">match reports</a> or the <a href="{{ path('site_news_index') }}" class="btn btn-link">latest news</a>.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}