{% if fixture.isHome %}
{% set address, home, away, logo = 'Arbour Park', fixture.team.name, fixture.opposition.name, fixture.opposition.logo %}
<div class="card fixture">
{% else %}
{% set address, home, away, logo = fixture.opposition.groundsVenue, fixture.opposition.name, fixture.team.name, fixture.opposition.logo %}
<div class="card fixture away">
{% endif %}
    <div class="card-header d-block d-lg-none">
        <div class="row align-items-center">
            <div class="col">
                <time class="date mr-2" datetime="{{ fulldate }}">{{ date }}</time>
                {% if not fixture.reportPublished and not fixture.reportHomeScore %}
                <time class="kickoff" datetime="{{ fixture.kickOff|date('H:i') }}">{{ fixture.kickOff|date('H:i') }}</time>
                {% endif %}
            </div>
            <div class="col text-right">
                <span>{{ fixture.competition.name }} - </span> 
                {% if fixture.isHome %}
                <span>Home</span> 
                {% else %}
                <span>Away</span> 
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-1 d-none d-lg-block text-center">
                {% if fixture.isHome %}
                <p>H</p>
                {% else %}
                <p>A</p>
                {% endif %}
            </div>
            <div class="col-1 d-none d-lg-block">
                <span>{{ fixture.competition.name }}</span>
            </div>
            <div class="col-1 d-none d-lg-block">
                {% if not fixture.reportPublished and not fixture.reportHomeScore %}
                <time class="kickoff" datetime="{{ fixture.kickOff|date('H:i') }}">{{ fixture.kickOff|date('H:i') }}</time><br>
                {% endif %}
                <time class="date" datetime="{{ fulldate }}">{{ date }}</time>
            </div>
            <div class="col-3 col-sm-1">
                <img width="65" class="lazyload" data-src="{{ fixture.opposition.logo }}" alt="{{fixture.opposition.name}}">
            </div>
            <div class="col-9 col-sm-6 fixture-opposition">
                {% if fixture.reportHomeScore is not null and fixture.reportAwayScore is not null %}
                <span class="score">{{ fixture.reportHomeScore }}</span> <span>{{ home }}</span><br>
                <span class="score">{{ fixture.reportAwayScore }}</span> <span>{{ away }}</span>
                {% else %}
                {% if fixture.isHome %}
                <span>{{ fixture.opposition.name}}</span>
                {% else %}
                <span>{{ fixture.opposition.name}}</span>
                {% endif %}
                <address>{{ address }}</address>
                {% endif %}
                {% if (fixture.matchSponsor or fixture.ballSponsor) and (not fixture.reportPublished and not fixture.reportHomeScore) %}
                <div class="row pt-3">
                    <div class="col-12">
                    {% if fixture.matchSponsor is not null %}
                    Sponsored by {{ fixture.matchSponsor }} <br>
                    {% endif %}
                    {% if fixture.ballSponsor is not null %}
                    Ball sponsored by {{ fixture.ballSponsor }}
                    {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-2 d-none d-lg-block text-center">
                {% if fixture.ticketsUrl and not fixture.reportPublished and fixture.reportHomeScore is null %}
                <a class="btn btn-link" href="{{ fixture.ticketsUrl }}" role="button" target="_blank"><i class="fas fa-ticket-alt"></i> Buy Tickets</a>
                {% endif %}
                {% if fixture.liveStreamId and not fixture.reportPublished and fixture.reportHomeScore is null %}
                <a class="btn btn-link" href="{{ fixture.liveStreamId }}" role="button" target="_blank"><i class="fas fa-tv"></i> Stream Live</a>
                {% endif %}
                {% if fixture.reportPublished %}
                <a class="btn btn-link mb-2" href="{{ path('site_reports_index', { id: fixture.id }) }}" role="button"><i class="fas fa-file"></i> Match Report</a>
                {% endif %}
                {% if fixture.videoPublished %}
                <a class="btn btn-link mb-2" href="{{ path('site_videos_index', { id: fixture.id }) }}" role="button"><i class="fas fa-play-circle"></i> Highlights</a>
                {% endif %}
            </div>
        </div>
        <div class="row d-block d-lg-none text-center">
            <div class="col">
                {% if fixture.ticketsUrl and not fixture.reportPublished and fixture.reportHomeScore is null %}
                <a class="btn btn-link mt-2" href="{{ fixture.ticketsUrl }}" role="button" target="_blank"><i class="fas fa-ticket-alt"></i> Buy Tickets</a>
                {% endif %}
                {% if fixture.liveStreamId and not fixture.reportPublished and fixture.reportHomeScore is null %}
                <a class="btn btn-link mt-2 ml-2" href="{{ fixture.liveStreamId }}" role="button" target="_blank"><i class="fas fa-tv"></i> Stream Live</a>
                {% endif %}
                {% if fixture.reportPublished %}
                <a class="btn btn-link mt-2" href="{{ path('site_reports_index', { id: fixture.id }) }}" role="button"><i class="fas fa-file"></i> Match Report</a>
                {% endif %}
                {% if fixture.videoPublished %}
                <a class="btn btn-link mt-2 ml-2" href="{{ path('site_videos_index', { id: fixture.id }) }}" role="button"><i class="fas fa-play-circle"></i> Highlights</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if fixture.notification is not null and fixture.reportHomeScore is null %}
    <div class="card-footer">
        <div class="row">
            <div class="col-12">
                <i class="fas fa-info-circle"></i> {{ fixture.notification }}
            </div>
        </div>
    </div>
    {% endif %}
</div>