{% extends 'site/base.html.twig' %}

{% block title %}Fixtures and Reports{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index', { 'teamUrl': teamUrl }) }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Fixtures & Report",
    "item": "{{ url('site_fixtures_index', { 'teamUrl': teamUrl }) }}"
   }]
}
</script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Fixtures &amp; Reports</li>
            </ol>
        </div>
    </nav>

    <section class="title" style="margin-bottom:0;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1 class="mb-2 mb-md-0">Fixtures and Reports</h1>
                    <p class="d-none d-md-block">Please note that ALL fixtures are subject to change, and before leaving for a match check on the club's Official website and social media that the match is still going ahead. Home games are played at Arbour Park, Stoke Road, Slough, SL2 5AY.</p>
                </div>
            </div>
        </div>
    </section>

    <nav class="nav nav-pills flex-column flex-sm-row team-select" aria-label="Team Select">
      <a href="{{ path('site_fixtures_index', { 'teamUrl': 'mens' }) }}" class="flex-sm-fill text-sm-center nav-link {{ team.url == 'mens' ? 'active' : '' }}">Mens</a>
      <a href="{{ path('site_fixtures_index', { 'teamUrl': 'ladies' }) }}" class="flex-sm-fill text-sm-center nav-link {{ team.url == 'ladies' ? 'active' : '' }}">Ladies</a>
      <a href="{{ path('site_fixtures_index', { 'teamUrl': 'elite-development-squad' }) }}" class="flex-sm-fill text-sm-center nav-link {{ team.url == 'elite-development-squad' ? 'active' : '' }}">Elite Development Squad</a>
    </nav>

      <section class="main">
          <div class="container fixture-list">

            <div class="row">
                <div class="col col-sm-2 mb-3">
                    <form method="GET" action="{{ path('site_fixtures_index', { 'teamUrl': teamUrl }) }}">
                        <select class="custom-select" onchange="this.form.submit()" name="season" id="inputGroupSelect01">
                            <option {{ selected is empty ? 'selected' : '' }}>Select season...</option>
                            {% for season in seasons|reverse %}
                                <option {{ selected == season.name ? 'selected' : '' }} value="{{ season.name|replace({'/': '-'}) }}">{{ season.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="col d-none d-lg-block">
                    <div class="btn-group float-right" role="group" aria-label="Fixture Months">
                        {% for month, fixtures in groupedFixtures %}
                            <a href="#{{ "#{month}-01"|date('M') }}" class="btn btn-secondary" rel=”nofollow”>{{ "#{month}-01"|date('M') }}</a>
                        {% endfor %}
                        {% if tbcFixtures is not empty %}
                            <a href="#TBC" class="btn btn-secondary" rel=”nofollow”>TBC</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if selectedSeason.hideFixtures %}
                <h4>Fixtures currently unavailable</h4>
            {% else %}
                {% for month, fixtures in groupedFixtures %}

                    <div class="row">
                        <div class="col">
                            <h2 id="{{ "#{month}-01"|date('M') }}">{{ "#{month}-01"|date('F Y') }}</h2>
                        </div>
                    </div>

                    {% for fixture in fixtures %}
                        {% include 'site/fixtures/fixture.html.twig' with { 'fulldate': fixture.matchDate|date('Y-m-d'), 'date': fixture.matchDate|date('D j M') } %}
                    {% endfor %}
                {% endfor %}

                {% if tbcFixtures is not empty %}
                    <div class="row">
                        <div class="col">
                            <h2 id="TBC">TBC</h2>
                        </div>
                    </div>

                    {% for fixture in tbcFixtures %}
                        {% include 'site/fixtures/fixture.html.twig' with { 'fulldate': 'TBC', 'date': 'TBC' } %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
      </section>
{% endblock %}

{% block bottom_scripts %}
{% endblock %} 