{% extends 'site/base.html.twig' %}

{% block title %}Fixtures and Reports | On This Day{% endblock %}

{% block body %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ url('site_homepage_index') }}"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "Fixtures & Report",
    "item": "{{ url('site_fixtures_index', { 'teamUrl': 'mens' }) }}"
   },{
    "@type": "ListItem",
    "position": 3,
    "name": "On This Day",
    "item": "{{ url('site_fixtures_on_this_day') }}"
   }]
}
</script>

    <nav class="nav-crumb d-none d-md-block" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('site_homepage_index') }}">Home</a></li>
                <li class="breadcrumb-item "><a href="{{ path('site_fixtures_index', { 'teamUrl': 'mens' }) }}">Fixtures &amp; Reports</a></li>
                <li class="breadcrumb-item active" aria-current="page">On This Day</li>
            </ol>
        </div>
    </nav>

    <section class="title">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>On This Day ({{ 'now'|date('j F') }})</h1>
                    <p class="d-none d-md-block">Listed below are matches played on todays date.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container fixture-list">
            {% for fixture in fixtures %}
            {% if fixture.isHome %}
            {% set home, away, logo = fixture.team.name, fixture.opposition.name, fixture.opposition.logo %}
            <div class="card fixture">
            {% else %}
            {% set home, away, logo = fixture.opposition.name, fixture.team.name, fixture.opposition.logo %}
            <div class="card fixture away">
            {% endif %}
                <div class="card-header d-block d-lg-none">
                    <div class="row align-items-center">
                        <div class="col">
                            <time class="date">{{ fixture.matchDate|date('D j M') }}</time>
                        </div>
                        <div class="col text-right">
                            <span>{{ fixture.competition.name }} - </span> 
                            {% if fixture.isHome %}
                            <span>Home</span> 
                            {% else %}
                            <span>Away</span> 
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-1 d-none d-lg-block text-center">
                            {% if fixture.isHome %}
                            <p>H</p>
                            {% else %}
                            <p>A</p>
                            {% endif %}
                        </div>
                        <div class="col-1 d-none d-lg-block">
                            <span>{{ fixture.competition.name }}</span>
                        </div>
                        <div class="col-1 d-none d-lg-block">
                            <time class="date">{{ fixture.matchDate|date('D j M Y') }}</time>
                        </div>
                        <div class="col-3 col-sm-1">
                            <img width="65" class="lazyload" data-src="{{ fixture.opposition.logo }}" alt="{{fixture.opposition.name}}">
                        </div>
                        <div class="col-9 col-sm-6 fixture-opposition">
                            {% if fixture.reportHomeScore is not null and fixture.reportAwayScore is not null %}
                            <span class="score">{{ fixture.reportHomeScore }}</span> <span>{{ home }}</span><br>
                            <span class="score">{{ fixture.reportAwayScore }}</span> <span>{{ away }}</span>
                            {% else %}
                            {% if fixture.isHome %}
                            <span>{{ fixture.opposition.name}}</span>
                            {% else %}
                            <span>{{ fixture.opposition.name}}</span>
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-2 d-none d-lg-block text-center">
                            <a class="btn btn-link mb-2" href="{{ path('site_reports_index', { id: fixture.id }) }}" role="button"><i class="fas fa-file"></i> Match Report</a>
                            {% if fixture.videoPublished %}
                            <a class="btn btn-link mb-2" href="{{ path('site_videos_index', { id: fixture.id }) }}" role="button"><i class="fas fa-play-circle"></i> Highlights</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row d-block d-lg-none text-center">
                        <div class="col">
                            <a class="btn btn-link mt-2" href="{{ path('site_reports_index', { id: fixture.id }) }}" role="button"><i class="fas fa-file"></i> Match Report</a>
                            {% if fixture.videoPublished %}
                            <a class="btn btn-link mt-2 ml-2" href="{{ path('site_videos_index', { id: fixture.id }) }}" role="button"><i class="fas fa-play-circle"></i> Highlights</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>            

{% endblock %}